@media (max-width: 991px){
  .popup {
    .popup__item {
      padding: 2rem;
      max-height: 95vh;
      overflow: scroll;
    }
  }
}

@media (max-width: 768px){
  .popup__item {
    width: 95%;
  }
}