.field {
  width: 24.5rem;
  height: 50px;
  border: 1px solid #d8dee9;
  padding: 2rem 2.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .field input[type="text"], .field textarea {
    max-width: calc(100% - 20px);
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% - 20px);
    font-size: 14px;
    letter-spacing: .07rem;
    outline: none;
    border: 0; }
    .field input[type="text"]::-webkit-input-placeholder, .field textarea::-webkit-input-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]::-moz-placeholder, .field textarea::-moz-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]:-ms-input-placeholder, .field textarea:-ms-input-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]::-ms-input-placeholder, .field textarea::-ms-input-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]::placeholder, .field textarea::placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
  .field img {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .field img:hover {
      opacity: .7; }
