@import '../../variables/variables.scss';;
.field {
  width: 24.5rem;
  height: 50px;
  border: 1px solid $gray-light;
  padding: 2rem 2.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  input[type="text"], textarea {
    max-width: calc(100% - 20px);
    -webkit-box-flex: 0;
            flex: 0 0 calc(100% - 20px);
    font-size: 14px;
    letter-spacing: .07rem;
    outline: none;
    border: 0;
    &::-webkit-input-placeholder {
      color: $gray;
      font-weight: 400;
      font-style: italic;

    }
    &::-moz-placeholder {
      color: $gray;
      font-weight: 400;
      font-style: italic;

    }
    &:-ms-input-placeholder {
      color: $gray;
      font-weight: 400;
      font-style: italic;

    }
    &::-ms-input-placeholder {
      color: $gray;
      font-weight: 400;
      font-style: italic;

    }
    &::placeholder {
      color: $gray;
      font-weight: 400;
      font-style: italic;

    }
  }
  img {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    &:hover {
      opacity: .7;
    }
  }
}