@import '../../variables/variables.scss';
.custom-select {
  position: relative;
  font-size: 14px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: transparent;
  width: 100%;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 2rem;
  right: 2.5rem;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $gray transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent $gray transparent;
  top: 1.5rem;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid $gray-light;
  width: 100%;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items div {
  padding: 2rem 2.5rem;
  letter-spacing: .07rem;
  &:not(:last-of-type){
    border-bottom: 1px solid $gray-light;
  }
}