.todo-items {
  box-shadow: none !important;
  height: 320px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.task-info {
  margin-bottom: 20px;

  span,
  h3 {
    font-size: 12px;
    line-height: 1.1;
    color: #c0c0c0;
  }

  span {
    font-weight: bold;
    color: #000;
  }
}


.if-null {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 2px dashed #c0c0c0;
}