@import '../../variables/variables.scss';

.field-date {
  width: 19rem;
  padding: 10px 1rem 10px 1rem;
  border: 1px solid $gray-light;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;

  img {
    width: 25px;
    padding: 0 .5px 0 1rem;
    border-left: 1px solid $gray-light;
  }

  input {
    outline: none;
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 1.6rem;
    -webkit-appearance: none;

    &::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
    }
  }
}