@import '../../variables/variables.scss';

.reports__body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  
  flex-wrap: wrap;

  .reports__item {
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin: 0 7.5px;
    margin-bottom: 1.5rem;

    .report__image {
      border: 1px solid $gray-light;
      border-radius: 5px;
      height: 22rem;
      padding: 0 5rem;

      img {
        width: 60%;
      }
    }

    .report__content {
      h3 {
        font-size: 1.8rem;
        color: $gray;
        margin: 1rem 0;
      }
    }
  }
}