.reports__body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  flex-wrap: wrap; }
  .reports__body .reports__item {
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin: 0 7.5px;
    margin-bottom: 1.5rem; }
    .reports__body .reports__item .report__image {
      border: 1px solid #d8dee9;
      border-radius: 5px;
      height: 22rem;
      padding: 0 5rem; }
      .reports__body .reports__item .report__image img {
        width: 60%; }
    .reports__body .reports__item .report__content h3 {
      font-size: 1.8rem;
      color: #737a86;
      margin: 1rem 0; }
