@media (max-width: 1200px) {
  .table-releases {
    overflow: scroll;

    table {
      td {
        &:nth-child(1) {
          min-width: 18rem;
        }

        &:nth-child(5) {
          min-width: 32rem;
        }
      }
    }
  }
}

@media (max-width: 512px) {
  .releases__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important;

    .header__item {
      margin-bottom: 1rem !important;
    }
  }

  .releases__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important;

    .field {
      margin: 0 0 1rem 0 !important;
    }
  }
}