.popup.epic form .field.custom-select {
  position: relative;
  margin-bottom: 3rem; }
  .popup.epic form .field.custom-select img {
    position: absolute;
    width: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px; }

.popup.epic form .field {
  margin-bottom: 2rem;
  width: 100%; }

.epic__body .epic__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .epic__body .epic__tools .field:not(:last-of-type) {
    margin-right: 2rem; }

.epic__body table {
  width: 100%;
  margin: 3rem 0; }
  .epic__body table button {
    outline: none;
    border: 0;
    background: transparent;
    font-size: 14px;
    color: #e7806a;
    cursor: pointer; }
  .epic__body table td {
    border: 1px solid #d8dee9;
    min-height: 5rem;
    height: 5rem;
    color: #737a86;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    font-weight: 400; }
    .epic__body table td:nth-child(1) {
      width: 50%; }
    .epic__body table td:nth-child(2) {
      width: 50%; }
    .epic__body table td:nth-child(3) {
      width: 5rem; }
  .epic__body table thead {
    background: #ebf0f8; }
    .epic__body table thead td {
      font-weight: 600; }
  .epic__body table tbody tr td:nth-child(1) a {
    color: #669bff; }
    .epic__body table tbody tr td:nth-child(1) a:hover {
      text-decoration: underline; }
  .epic__body table tbody tr td:nth-child(2), .epic__body table tbody tr td:nth-child(3) {
    text-align: center; }
  .epic__body table tbody tr td:nth-child(2) {
    padding: 1rem 9rem; }
    .epic__body table tbody tr td:nth-child(2) .progress {
      height: 8px;
      width: 100%;
      background: #c9c9c9;
      border-radius: 10px;
      position: relative; }
      .epic__body table tbody tr td:nth-child(2) .progress:before {
        position: absolute;
        height: 100%;
        content: '';
        top: 0;
        border-radius: 10px;
        left: 0; }
      .epic__body table tbody tr td:nth-child(2) .progress.blue:before {
        width: 50%;
        background: #5f97ff; }
      .epic__body table tbody tr td:nth-child(2) .progress.green:before {
        width: 100%;
        background: #08a100; }
