@import '../../variables/variables.scss';

.popup.epic {
  form {
    .field.custom-select {
      position: relative;
      margin-bottom: 3rem;

      img {
        position: absolute;
        width: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 10px;
      }
    }

    .field {
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}

.epic__body {
  .epic__tools {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .field {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }

  table {
    width: 100%;
    margin: 3rem 0;

    button {
      outline: none;
      border: 0;
      background: transparent;
      font-size: 14px;
      color: $red-light;
      cursor: pointer;
    }

    td {
      border: 1px solid #d8dee9;
      min-height: 5rem;
      height: 5rem;
      color: $gray;
      font-size: 1.8rem;
      padding: 1rem 2rem;
      font-weight: 400;

      &:nth-child(1) {
        width: 50%;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(3) {
        width: 5rem;
      }
    }

    thead {
      background: #ebf0f8;

      td {
        font-weight: 600;
      }
    }

    tbody {
      tr {
        td {
          &:nth-child(1) {
            a {
              color: $blue-text;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          &:nth-child(2),
          &:nth-child(3) {
            text-align: center;
          }

          &:nth-child(2) {
            padding: 1rem 9rem;

            .progress {
              height: 8px;
              width: 100%;
              background: #c9c9c9;
              border-radius: 10px;
              position: relative;

              &:before {
                position: absolute;
                height: 100%;
                content: '';
                top: 0;
                border-radius: 10px;
                left: 0;
              }

              &.blue:before {
                width: 50%;
                background: $blue;
              }

              &.green:before {
                width: 100%;
                background: $green;
              }
            }
          }
        }
      }
    }
  }
}