@import '../../variables/variables.scss';

.member__header {
  height: 17.5rem;
  background: url('../images/avatar/banner.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  margin: -15px -20px 0 -20px;
  margin-bottom: 12rem;

  .account {
    position: absolute;
    bottom: 0;
    left: 10rem;
    display: -webkit-box;
    display: flex;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-box-align: center;
    align-items: center;

    .avatar {
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 3rem;

      img {
        width: 100%;
      }
    }

    .info {
      .name {
        font-size: 2.5rem;
        color: #fff;
        letter-spacing: 0.125rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.member__body {
  flex-wrap: wrap;
  padding-left: 7rem;
  -webkit-box-align: start;
  align-items: flex-start;

  .line {
    width: 100%;
    background: $gray;
    margin: 3rem 0;
    height: 1px;
  }

  .member__item {
    &.right {
      border-left: 1px solid $gray;

      .people__items {
        margin: 3rem 0;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;

        .people__item {
          min-width: 11rem;
          max-width: calc(100% / 6 - 5rem);
          -webkit-box-flex: 0;
          flex: 0 0 calc(100% / 6 - 5rem);

          @media (max-width: 1440px) {
            max-width: calc(100% / 5 - 5rem);
            -webkit-box-flex: 0;
            flex: 0 0 calc(100% / 5 - 5rem);
          }

          &:hover {
            .image img {
              -webkit-transform: scale(1.05);
              transform: scale(1.05);
            }

            .name {
              color: $red-light;
            }
          }

          margin-right: 3rem;
          text-align: center;
          margin-bottom: 3rem;

          .image {
            background: $gray-light;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: .5rem;

            img {
              -webkit-transition: .3s ease;
              transition: .3s ease;
              width: 100%;
              margin: 0 auto;
            }
          }

          .name {
            font-size: 1.6rem;
            font-weight: 600;
            -webkit-transition: .3s ease;
            transition: .3s ease;

          }

          .des {
            text-align: center;
            color: $gray;
            line-height: 1.2;
          }

          button {
            margin-top: 0.5rem;
            color: $red-light;
            border-color: $red-light;

            &:hover {
              background: $red-light;
              color: #fff;
            }
          }
        }
      }

      .places__items {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-wrap: wrap;

        .item {
          min-height: 9rem;
          margin-bottom: 2rem;
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          margin: 0 10px;
          min-width: 24rem;
          padding: 2rem;
          border-radius: 5px;
          border: 1px solid $blue-light;
          -webkit-transition: .3s ease;
          transition: .3s ease;
          margin-bottom: 2rem;

          &:hover {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
          }

          .icon {
            flex-basis: 30px;
            max-width: 30px;
            height: 30px;
            border-radius: 5px;
            background: $blue-light;
            margin-right: 1rem;

            img {
              width: 100%;
            }
          }

          h4 {
            font-size: 2rem;
            font-weight: 500;
          }

          p {
            color: $gray;
          }
        }
      }

      .worked {
        .item {
          display: -webkit-box;
          display: flex;
          margin-bottom: 1rem;

          &:hover {
            h6 {
              color: $red-light;
            }
          }

          img {
            width: 20px;
            height: 20px;
            margin-right: 2rem;
          }

          .content {
            h6 {
              font-size: 1.6rem;
              -webkit-transition: .3s ease;
              transition: .3s ease;
              text-overflow: ellipsis;
              margin-bottom: 0;
              overflow: hidden;
              white-space: nowrap;
              width: 100%;
              max-width: 500px;
            }
          }
        }
      }
    }

    h6.title {
      font-weight: 600;
      margin-bottom: 2rem;
    }

    ul li {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin-bottom: 15px;
      color: $gray;

      img {
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}