.member__header {
  height: 17.5rem;
  background: url("../images/avatar/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: -15px -20px 0 -20px;
  margin-bottom: 12rem; }
  .member__header .account {
    position: absolute;
    bottom: 0;
    left: 10rem;
    display: -webkit-box;
    display: flex;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-box-align: center;
    align-items: center; }
    .member__header .account .avatar {
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 3rem; }
      .member__header .account .avatar img {
        width: 100%; }
    .member__header .account .info .name {
      font-size: 2.5rem;
      color: #fff;
      letter-spacing: 0.125rem;
      margin-bottom: 3rem; }

.member__body {
  flex-wrap: wrap;
  padding-left: 7rem;
  -webkit-box-align: start;
  align-items: flex-start; }
  .member__body .line {
    width: 100%;
    background: #737a86;
    margin: 3rem 0;
    height: 1px; }
  .member__body .member__item.right {
    border-left: 1px solid #737a86; }
    .member__body .member__item.right .people__items {
      margin: 3rem 0;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap; }
      .member__body .member__item.right .people__items .people__item {
        min-width: 11rem;
        max-width: calc(100% / 6 - 5rem);
        -webkit-box-flex: 0;
        flex: 0 0 calc(100% / 6 - 5rem);
        margin-right: 3rem;
        text-align: center;
        margin-bottom: 3rem; }
        @media (max-width: 1440px) {
          .member__body .member__item.right .people__items .people__item {
            max-width: calc(100% / 5 - 5rem);
            -webkit-box-flex: 0;
            flex: 0 0 calc(100% / 5 - 5rem); } }
        .member__body .member__item.right .people__items .people__item:hover .image img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05); }
        .member__body .member__item.right .people__items .people__item:hover .name {
          color: #e7806a; }
        .member__body .member__item.right .people__items .people__item .image {
          background: #d8dee9;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: .5rem; }
          .member__body .member__item.right .people__items .people__item .image img {
            -webkit-transition: .3s ease;
            transition: .3s ease;
            width: 100%;
            margin: 0 auto; }
        .member__body .member__item.right .people__items .people__item .name {
          font-size: 1.6rem;
          font-weight: 600;
          -webkit-transition: .3s ease;
          transition: .3s ease; }
        .member__body .member__item.right .people__items .people__item .des {
          text-align: center;
          color: #737a86;
          line-height: 1.2; }
        .member__body .member__item.right .people__items .people__item button {
          margin-top: 0.5rem;
          color: #e7806a;
          border-color: #e7806a; }
          .member__body .member__item.right .people__items .people__item button:hover {
            background: #e7806a;
            color: #fff; }
    .member__body .member__item.right .places__items {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: start;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .member__body .member__item.right .places__items .item {
        min-height: 9rem;
        margin-bottom: 2rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 0 10px;
        min-width: 24rem;
        padding: 2rem;
        border-radius: 5px;
        border: 1px solid #54c0eb;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        margin-bottom: 2rem; }
        .member__body .member__item.right .places__items .item:hover {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px); }
        .member__body .member__item.right .places__items .item .icon {
          flex-basis: 30px;
          max-width: 30px;
          height: 30px;
          border-radius: 5px;
          background: #54c0eb;
          margin-right: 1rem; }
          .member__body .member__item.right .places__items .item .icon img {
            width: 100%; }
        .member__body .member__item.right .places__items .item h4 {
          font-size: 2rem;
          font-weight: 500; }
        .member__body .member__item.right .places__items .item p {
          color: #737a86; }
    .member__body .member__item.right .worked .item {
      display: -webkit-box;
      display: flex;
      margin-bottom: 1rem; }
      .member__body .member__item.right .worked .item:hover h6 {
        color: #e7806a; }
      .member__body .member__item.right .worked .item img {
        width: 20px;
        height: 20px;
        margin-right: 2rem; }
      .member__body .member__item.right .worked .item .content h6 {
        font-size: 1.6rem;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        text-overflow: ellipsis;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        max-width: 500px; }
  .member__body .member__item h6.title {
    font-weight: 600;
    margin-bottom: 2rem; }
  .member__body .member__item ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 15px;
    color: #737a86; }
    .member__body .member__item ul li img {
      width: 20px;
      margin-right: 10px; }
