.project-setting-member .project__tools {
  display: -webkit-box;
  display: flex; }
  .project-setting-member .project__tools .field {
    margin-right: 2rem; }

.project-setting-member table {
  margin-top: 4rem;
  width: 100%; }
  .project-setting-member table td {
    padding: 5px 2rem;
    font-size: 1.6rem;
    border: 1px solid #d8dee9; }
    .project-setting-member table td:nth-child(2) {
      min-width: 15rem;
      text-align: center; }
  .project-setting-member table thead {
    background: #ebf0f8; }
    .project-setting-member table thead td {
      padding: 1rem 2rem;
      font-size: 1.8rem;
      color: #737a86;
      font-weight: 600; }
      .project-setting-member table thead td:nth-child(1) span {
        position: relative; }
        .project-setting-member table thead td:nth-child(1) span.caret {
          position: absolute;
          right: 0;
          top: 0; }
          .project-setting-member table thead td:nth-child(1) span.caret.up {
            -webkit-transform: translate(150%, -15%);
            transform: translate(150%, -15%);
            opacity: 0.5; }
          .project-setting-member table thead td:nth-child(1) span.caret.down {
            -webkit-transform: translate(150%, 15%);
            transform: translate(150%, 15%); }
  .project-setting-member table tbody td:nth-child(1), .project-setting-member table tbody td:nth-child(3) {
    color: #5f97ff; }
    .project-setting-member table tbody td:nth-child(1) img, .project-setting-member table tbody td:nth-child(3) img {
      width: 20px;
      margin-right: 1rem;
      border-radius: 50%;
      vertical-align: middle; }
  .project-setting-member table tbody td:nth-child(3) {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between; }
