@import '../../variables/variables.scss';

.project-setting-member {
  .project__tools {
    display: -webkit-box;
    display: flex;

    .field {
      margin-right: 2rem;
    }
  }

  table {
    margin-top: 4rem;
    width: 100%;

    td {
      padding: 5px 2rem;
      font-size: 1.6rem;
      border: 1px solid #d8dee9;

      &:nth-child(2) {
        min-width: 15rem;
        text-align: center;
      }
    }

    thead {
      background: #ebf0f8;

      td {
        padding: 1rem 2rem;
        font-size: 1.8rem;
        color: $gray;
        font-weight: 600;

        &:nth-child(1) {
          span {
            position: relative;

            &.caret {
              position: absolute;
              right: 0;
              top: 0;

              &.up {
                -webkit-transform: translate(150%, -15%);
                transform: translate(150%, -15%);
                opacity: 0.5;
              }

              &.down {
                -webkit-transform: translate(150%, 15%);
                transform: translate(150%, 15%);
              }
            }
          }
        }
      }
    }

    tbody {
      td {

        &:nth-child(1),
        &:nth-child(3) {
          color: $blue;

          img {
            width: 20px;
            margin-right: 1rem;
            border-radius: 50%;
            vertical-align: middle;
          }
        }

        &:nth-child(3) {
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          justify-content: space-between;

        }
      }
    }
  }
}