@media (max-width: 1000px) {
  .tempo__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .tempo__header .calendar {
      margin: 0 0 2rem 0 !important; }
    .tempo__header .header__item.right {
      flex-wrap: wrap; }
      .tempo__header .header__item.right .button,
      .tempo__header .header__item.right button {
        margin-bottom: 1rem;
        white-space: nowrap; }
      .tempo__header .header__item.right .button button {
        margin-bottom: 0; } }
