@media (max-width: 1000px) {
  .tempo__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    .calendar {
      margin: 0 0 2rem 0 !important;
    }

    .header__item.right {
      flex-wrap: wrap;

      .button,
      button {
        margin-bottom: 1rem;
        white-space: nowrap;
      }

      .button button {
        margin-bottom: 0;
      }
    }
  }
}