@media (max-width: 1200px) {
  .tempo-employee__header {
    .avatar img {
      width: 40px !important;
      height: 40px !important;
    }

    button {
      padding: 1rem 3rem !important;
      font-size: 14px !important;
    }

    .button {
      padding: .6rem 1rem !important;
    }
  }
}

@media (max-width: 1075px) {
  .tempo-employee__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    .calendar {
      margin-bottom: 1rem;
    }

    .header__item {
      margin-bottom: 2rem;

      &.left {
        -webkit-box-pack: start;
        justify-content: flex-start;
        width: 100%;
      }

      &.right {
        -webkit-box-align: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .table-employee {
    .subTable {
      top: 68% !important;
    }
  }
}

@media (max-width: 512px) {
  .tempo-employee__header {
    .name {
      h4 {
        font-size: 14px !important;
      }

      p {
        font-size: 12px !important;
      }
    }

    .js--create {
      font-size: 12px !important;
      padding: 1rem !important;
    }
  }
}