
@import '../../variables/variables.scss';
.field-textarea {
  height: 12rem;
  padding: 1.5rem 2rem;
  border: 1px solid $gray-light;
  border-radius: 5px;
  textarea {
    font-size: 14px;
    max-width: 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
  }
}