@media (max-width: 991px) {
  .reports__body {
    .reports__item {
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% / 3 - 15px);
      max-width: calc(100% / 3 - 15px);
    }
  }
}

@media (max-width: 768px) {
  .reports__body {
    .reports__item {
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% / 2 - 15px);
      max-width: calc(100% / 2 - 15px);
    }
  }
}

@media (max-width: 512px) {
  .reports__body {
    .reports__item {
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% - 15px);
      max-width: calc(100% - 15px);

      img {
        width: 50% !important;
      }
    }
  }
}