@import '../../variables/variables.scss';

.project-setting-info {
  form {
    .form-field {
      margin-bottom: 3rem;
      h3.title {
        margin-bottom: 1rem;
      }

      &.ckEditor {
        width: 100%;
        max-width: 83rem;

        .ck-content {
          height: 15rem;

          * {
            word-wrap: break-word;
          }
        }
      }

      h3.title {
        font-weight: 600;

        span {
          color: $red;
        }
      }
    }
  }
}