.project-setting-info form .form-field {
  margin-bottom: 3rem; }
  .project-setting-info form .form-field h3.title {
    margin-bottom: 1rem; }
  .project-setting-info form .form-field.ckEditor {
    width: 100%;
    max-width: 83rem; }
    .project-setting-info form .form-field.ckEditor .ck-content {
      height: 15rem; }
      .project-setting-info form .form-field.ckEditor .ck-content * {
        word-wrap: break-word; }
  .project-setting-info form .form-field h3.title {
    font-weight: 600; }
    .project-setting-info form .form-field h3.title span {
      color: #fe0000; }
