@charset "UTF-8";
.blacklog__body .blacklog__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2rem; }
  .blacklog__body .blacklog__tools .field,
  .blacklog__body .blacklog__tools .people {
    margin-right: 4rem; }
  .blacklog__body .blacklog__tools .people {
    display: -webkit-box;
    display: flex; }
    .blacklog__body .blacklog__tools .people a {
      display: inline-block;
      margin-left: -10px;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 2px solid transparent;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      line-height: 4.6rem;
      overflow: hidden;
      font-weight: bold; }
      .blacklog__body .blacklog__tools .people a img {
        width: 100%; }
      .blacklog__body .blacklog__tools .people a:hover {
        border: 2px solid #fff; }

.blacklog__body .blacklog__tabs .tabs {
  margin: 1.5rem 0; }
  .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots {
    position: relative; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots.active .button__dots__expand {
      pointer-events: unset;
      transform: translateX(calc(-100% - 10px)) scale(1); }
    .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots .button__dots__expand {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(calc(-100% - 10px)) scale(0);
      background: #fff;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 0px 5px 18.4px 1.6px rgba(140, 140, 140, 0.2);
      width: 19rem;
      z-index: 5;
      transition: .3s ease;
      pointer-events: none;
      transform-origin: top right; }
      .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots .button__dots__expand button {
        width: 100%;
        background: transparent;
        color: #000;
        text-align: left; }
        .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots .button__dots__expand button:hover {
          background: rgba(0, 0, 0, 0.1); }
  .blacklog__body .blacklog__tabs .tabs .tabs__item button {
    position: relative; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item button .btn__expand {
      position: absolute;
      top: 0;
      right: 0;
      background: #fff; }
  .blacklog__body .blacklog__tabs .tabs .tabs__item h5 {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5.active i {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5:hover, .blacklog__body .blacklog__tabs .tabs .tabs__item h5.active {
      color: #e7806a; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5 span {
      display: inline-block;
      margin-left: 1rem;
      color: #d8dee9;
      font-weight: lighter; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5 i {
      margin-right: 5px;
      font-size: 14px; }
  .blacklog__body .blacklog__tabs .tabs .tabs__expand {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    overflow: hidden;
    max-height: 0;
    overflow: scroll; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand.active {
      max-height: 80vh; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand .project {
      padding: 0 2rem; }
      .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog {
        padding: 1rem 15px;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        margin: 1rem 0; }
        .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog:last-of-type {
          margin-bottom: 2rem; }
        .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog:hover {
          cursor: pointer;
          background: #fafafa; }
        .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item {
          display: -webkit-box;
          display: flex; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item:last-of-type {
            -webkit-box-align: center;
            align-items: center; }
            .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item:last-of-type .btn {
              margin-right: 2rem; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .arrow {
            outline: none;
            border: 0;
            cursor: pointer;
            background: transparent;
            font-size: 14px;
            margin-left: 10px; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item p.right {
            font-size: 16px;
            letter-spacing: 0.8px; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item img {
            width: 20px;
            height: 20px;
            margin-right: 10px; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading h4 {
            font-size: 1.6rem;
            font-weight: 500;
            color: #737a86; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p {
            color: #737a86;
            font-size: 14px; }
            .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p span {
              display: inline-block;
              margin-right: 1rem; }
              .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p span:not(:last-child):after {
                font-size: 5px;
                font-style: normal;
                content: '⬤';
                color: #8a8e96;
                display: inline-block;
                margin-left: 1rem;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
              .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p span.italic {
                font-style: italic;
                color: #d8dee9; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand .drag {
      font-size: 14px;
      text-align: center;
      color: #d8dee9;
      padding: 2rem;
      border: 1px dashed #d8dee9;
      margin: 2rem 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand .create {
      border: 0;
      outline: none;
      background: transparent;
      font-size: 14px;
      color: #669bff;
      font-weight: 600;
      margin-bottom: 2rem;
      cursor: pointer; }
      .blacklog__body .blacklog__tabs .tabs .tabs__expand .create:hover {
        text-decoration: underline; }
