@import '../../variables/variables.scss';

.blacklog__body {
  .blacklog__tools {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2rem;

    .field,
    .people {
      margin-right: 4rem;
    }

    .people {
      display: -webkit-box;
      display: flex;

      a {
        display: inline-block;
        margin-left: -10px;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 2px solid transparent;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: 4.6rem;
        overflow: hidden;
        font-weight: bold;

        img {
          width: 100%;
        }

        &:hover {
          border: 2px solid #fff;
        }
      }
    }
  }

  .blacklog__tabs {
    .tabs {
      margin: 1.5rem 0;

      .tabs__item {
        .button__dots {
          position: relative;
          &.active .button__dots__expand{
            pointer-events: unset;
            transform: translateX(calc(-100% - 10px)) scale(1);
          }
          .button__dots__expand {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(calc(-100% - 10px)) scale(0);
            background: #fff;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0px 5px 18.4px 1.6px rgba(140, 140, 140, 0.2);
            width: 19rem;
            z-index: 5;
            transition: .3s ease;
            pointer-events: none;
            transform-origin: top right;
            button {
              width: 100%;
              background: transparent;
              color: #000;
              text-align: left;
              &:hover {
                background: rgba(0,0,0,0.1);
              }
            }
          }
        }
        button {
          position: relative;

          .btn__expand {
            position: absolute;
            top: 0;
            right: 0;
            background: #fff;
          }
        }

        h5 {
          -webkit-transition: .3s ease;
          transition: .3s ease;
          cursor: pointer;

          &.active {
            i {
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          &:hover,
          &.active {
            color: $red-light;
          }

          span {
            display: inline-block;
            margin-left: 1rem;
            color: $gray-light;
            font-weight: lighter;
          }

          i {
            margin-right: 5px;
            font-size: 14px;
          }
        }
      }

      .tabs__expand {
        -webkit-transition: .5s ease;
        transition: .5s ease;
        overflow: hidden;
        max-height: 0;
        overflow: scroll;

        &.active {
          max-height: 80vh;
        }

        .project {
          padding: 0 2rem;

          .backlog {
            padding: 1rem 15px;
            -webkit-transition: .3s ease;
            transition: .3s ease;
            margin: 1rem 0;

            &:last-of-type {
              margin-bottom: 2rem;
            }

            &:hover {
              cursor: pointer;
              background: #fafafa;
            }

            .backlog__item {
              display: -webkit-box;
              display: flex;

              &:last-of-type {
                -webkit-box-align: center;
                align-items: center;

                .btn {
                  margin-right: 2rem;
                }
              }

              .arrow {
                outline: none;
                border: 0;
                cursor: pointer;
                background: transparent;
                font-size: 14px;
                margin-left: 10px;
              }

              p.right {
                font-size: 16px;
                letter-spacing: 0.8px;
              }

              img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }

              .heading {
                h4 {
                  font-size: 1.6rem;
                  font-weight: 500;
                  color: $gray;
                }

                p {
                  color: $gray;
                  font-size: 14px;

                  span {
                    display: inline-block;
                    margin-right: 1rem;

                    &:not(:last-child) {

                      &:after {
                        font-size: 5px;
                        font-style: normal;
                        content: '⬤';
                        color: #8a8e96;
                        display: inline-block;
                        margin-left: 1rem;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                      }
                    }

                    &.italic {
                      font-style: italic;
                      color: $gray-light
                    }
                  }
                }
              }
            }
          }
        }

        .drag {
          font-size: 14px;
          text-align: center;
          color: $gray-light;
          padding: 2rem;
          border: 1px dashed $gray-light;
          margin: 2rem 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        .create {
          border: 0;
          outline: none;
          background: transparent;
          font-size: 14px;
          color: $blue-text;
          font-weight: 600;
          margin-bottom: 2rem;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}