/* The container */
.field-checkbox {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin-left: 20px; }

/* Hide the browser's default checkbox */
.field-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -20px;
  height: 11px;
  width: 11px;
  border-radius: 2px;
  border: 1px solid #d8dee9;
  background-color: transparent; }

.field-checkbox input:checked ~ .checkmark {
  background-color: transparent; }

.field-checkbox input:checked ~ p {
  color: #669bff; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.field-checkbox input:checked ~ .checkmark:after {
  display: block; }

.field-checkbox .checkmark:after {
  top: -20%;
  left: 25%;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
