.popup.board .issue-details {
  width: 90vw;
  height: 90vh;
  background: #fff;
  z-index: 10;
  overflow: scroll; }
  .popup.board .issue-details .issue__left {
    width: 57% !important; }
  .popup.board .issue-details .issue__right::before,
  .popup.board .issue-details .issue__right .issue__close {
    display: none; }
  .popup.board .issue-details .issue__left,
  .popup.board .issue-details .issue__right {
    position: absolute; }
    @media (max-width: 1200px) {
      .popup.board .issue-details .issue__left,
      .popup.board .issue-details .issue__right {
        position: relative;
        width: 100% !important; }
        .popup.board .issue-details .issue__left .ckEditor,
        .popup.board .issue-details .issue__right .ckEditor {
          width: 100% !important; } }
  .popup.board .issue-details h3.title {
    margin-bottom: 5px; }
  .popup.board .issue-details header {
    border-bottom: 0;
    margin-bottom: 1rem; }
  .popup.board .issue-details .issue__left {
    background: #fff;
    padding-right: 0;
    width: 65%; }
    .popup.board .issue-details .issue__left .issue__tools button:not(:last-child) {
      padding: 1rem 4rem; }
    .popup.board .issue-details .issue__left .ckEditor {
      width: 90%;
      margin-bottom: 2rem; }
      .popup.board .issue-details .issue__left .ckEditor .ck-content {
        height: 15rem; }
        .popup.board .issue-details .issue__left .ckEditor .ck-content * {
          word-wrap: break-word; }
    .popup.board .issue-details .issue__left .add-comment {
      margin-bottom: 3rem; }
  .popup.board .issue-details .issue__right .issue__tools button {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
    margin-left: 1rem; }

.board__header .header__item.right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .board__header .header__item.right button {
    height: 5.2rem; }
    .board__header .header__item.right button:not(:last-of-type) {
      margin-right: 1rem; }
  .board__header .header__item.right button.star {
    outline: none;
    border: 0;
    background: transparent;
    margin-right: 2rem;
    font-size: 1.6rem;
    color: #737a86; }
  .board__header .header__item.right .fa-clock,
  .board__header .header__item.right span {
    font-size: 1.6rem;
    color: #737a86;
    margin-right: 1rem;
    display: inline-block; }

.board__body .board__tools {
  -webkit-box-pack: start;
  justify-content: flex-start; }
  .board__body .board__tools button {
    outline: none;
    border: 0;
    font-size: 1.6rem;
    color: #737a86;
    font-weight: 600;
    margin-left: 4rem;
    cursor: pointer;
    background: transparent; }
    .board__body .board__tools button:hover {
      text-decoration: underline; }
  .board__body .board__tools .people {
    display: -webkit-box;
    display: flex;
    margin-left: 4rem; }
    .board__body .board__tools .people a {
      display: inline-block;
      margin-left: -10px;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 2px solid transparent;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      line-height: 4.6rem;
      overflow: hidden;
      font-weight: bold; }
      .board__body .board__tools .people a img {
        width: 100%; }
      .board__body .board__tools .people a:hover {
        border: 2px solid #fff; }

.board__body .table {
  overflow: scroll;
  height: 70rem;
  margin: 4rem 0; }

.board__body table {
  width: 100%;
  min-width: 126rem; }
  .board__body table td {
    font-size: 1.6rem;
    padding: 2rem 1rem;
    text-align: center;
    border: 1px solid #d8dee9;
    width: calc(100% / 7);
    min-width: 18rem; }
  .board__body table thead {
    background: #ebf0f8; }
    .board__body table thead td {
      font-weight: 600;
      color: #737a86; }
  .board__body table tbody td {
    min-height: 18rem;
    height: 18rem;
    border: 1px solid #d8dee9;
    vertical-align: top; }
    .board__body table tbody td.over {
      border: 1px solid #fe0000; }
  .board__body table tbody .project {
    padding: 1rem;
    box-shadow: 0 -0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2rem;
    background: #fff;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab; }
    .board__body table tbody .project:active {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    .board__body table tbody .project.hidden {
      opacity: 0; }
    .board__body table tbody .project.dragged {
      border: 1px solid #fe0000; }
    .board__body table tbody .project p {
      font-size: 14px;
      line-height: 1.3;
      margin-bottom: 10px;
      text-align: left; }
    .board__body table tbody .project .status {
      -webkit-box-pack: start;
      justify-content: flex-start;
      margin-bottom: 10px;
      pointer-events: none; }
      .board__body table tbody .project .status .icon {
        width: 20px;
        height: 20px;
        font-size: 10px; }
        .board__body table tbody .project .status .icon img {
          width: 100%; }
        .board__body table tbody .project .status .icon:not(:last-of-type) {
          margin-right: 5px; }
        .board__body table tbody .project .status .icon:nth-of-type(2) {
          font-size: 14px; }
        .board__body table tbody .project .status .icon:last-of-type {
          border-radius: 50%;
          color: #fff;
          line-height: 20px;
          text-align: center; }
