@import '../../variables/variables.scss';

.popup.board {
  .issue-details {
    width: 90vw;
    height: 90vh;
    background: #fff;
    z-index: 10;
    overflow: scroll;


    .issue__left {
      width: 57%!important;
    }

    .issue__right {
      &::before, 
      .issue__close {
        display: none;
      }
    }

    .issue__left,
    .issue__right {
      position: absolute;
      @media (max-width: 1200px){
        position: relative;
        width: 100%!important;
        .ckEditor {
          width: 100%!important;
        }
      }
    }

    h3.title {
      margin-bottom: 5px;
    }

    header {
      border-bottom: 0;
      margin-bottom: 1rem;
    }

    .issue__left {
      background: #fff;
      padding-right: 0;
      width: 65%;

      .issue__tools {
        button {
          &:not(:last-child) {
            padding: 1rem 4rem;
          }
        }
      }

      .ckEditor {
        width: 90%;
        margin-bottom: 2rem;

        .ck-content {
          height: 15rem;

          * {
            word-wrap: break-word;
          }
        }
      }

      .add-comment {
        margin-bottom: 3rem;
      }
    }

    .issue__right {
      .issue__tools {
        button {
          width: 4rem;
          height: 4rem;
          line-height: 4rem;
          font-size: 1.8rem;
          margin-left: 1rem;
        }
      }
    }
  }
}

.board__header {
  .header__item.right {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    button {
      height: 5.2rem;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }

    button.star {
      outline: none;
      border: 0;
      background: transparent;
      margin-right: 2rem;
      font-size: 1.6rem;
      color: $gray;
    }

    .fa-clock,
    span {
      font-size: 1.6rem;
      color: $gray;
      margin-right: 1rem;
      display: inline-block;
    }
  }
}

.board__body {
  .board__tools {
    -webkit-box-pack: start;
    justify-content: flex-start;

    button {
      outline: none;
      border: 0;
      font-size: 1.6rem;
      color: $gray;
      font-weight: 600;
      margin-left: 4rem;
      cursor: pointer;
      background: transparent;

      &:hover {
        text-decoration: underline;
      }
    }

    .people {
      display: -webkit-box;
      display: flex;
      margin-left: 4rem;

      a {
        display: inline-block;
        margin-left: -10px;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 2px solid transparent;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: 4.6rem;
        overflow: hidden;
        font-weight: bold;

        img {
          width: 100%;
        }

        &:hover {
          border: 2px solid #fff;
        }
      }
    }
  }

  .table {
    overflow: scroll;
    height: 70rem;
    margin: 4rem 0;
  }

  table {
    width: 100%;
    min-width: 126rem;

    td {
      font-size: 1.6rem;
      padding: 2rem 1rem;
      text-align: center;
      border: 1px solid #d8dee9;
      width: calc(100% / 7);
      min-width: 18rem;
    }

    thead {
      background: #ebf0f8;

      td {
        font-weight: 600;
        color: $gray;
      }
    }

    tbody {
      td {
        min-height: 18rem;
        height: 18rem;
        border: 1px solid #d8dee9;
        vertical-align: top;

        &.over {
          border: 1px solid $red;
        }
      }

      .project {
        padding: 1rem;
        box-shadow: 0 -.5rem 1.5rem rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 2rem;
        background: #fff;
        opacity: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: -webkit-grab;
        cursor: grab;

        &:active {
          cursor: -webkit-grabbing;
          cursor: grabbing;
        }

        &.hidden {
          opacity: 0;
        }

        &.dragged {
          border: 1px solid $red;
        }

        p {
          font-size: 14px;
          line-height: 1.3;
          margin-bottom: 10px;
          text-align: left;
        }

        .status {
          -webkit-box-pack: start;
          justify-content: flex-start;
          margin-bottom: 10px;
          pointer-events: none;

          .icon {
            width: 20px;
            height: 20px;
            font-size: 10px;

            img {
              width: 100%;
            }

            &:not(:last-of-type) {
              margin-right: 5px;
            }

            &:nth-of-type(2) {
              font-size: 14px;
            }

            &:last-of-type {
              border-radius: 50%;
              color: #fff;
              line-height: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}