extend layout.pug

block pages
  .field
    input(type="text" placeholder="Search")
    img(src="./images/icon/icon-search.svg" alt="")

  .field
    input(type="text" placeholder="Type something...")

  .field-date
    input(type="date")
    img(src="./images/icon/icon-calendar.png" alt="")

  .field-textarea
    textarea(placeholder="Advancing humanity into the cosmos!")

  .field.custom-select
    select
      option(value="") abc
      option(value="") abc
      option(value="") abc

  label.field-checkbox
    input(type="checkbox")
    p One
    span.checkmark

  button.big.btn Share
  button.transparent.btn Start sprit
  button.blue.btn Start sprit
  button.btn
    |Plan sprint
    img(src="./images/icon/icon-angle-down-white.png" alt="")

  ul.pagination
    li
      i.fas.fa-angle-left
    li 1
    li 1
    li 1
    li
      i.fas.fa-angle-right