@charset "UTF-8";
/* ===============================================================================
   Table Of Content
   ===============================================================================
   1. General
   2. Components
   3. Layout
   4. Pages
   5. Reponsive
*/
/* ===============================================================================
   1. General
   ===============================================================================
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
/* ===============================================================================
   TABLE OF CONTENT
   ===============================================================================
   1. General
   2. Make Container
   3. Make Rows
   4. Make Columns
   5. Include Mixin
*/
/* =============================================================================== 
   1. General
   =============================================================================== */
/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Variables */
/* Set Breakpoints Value */
/* Function Media Query */
/* =============================================================================== 
   2. Make Container
   =============================================================================== */
/* =============================================================================== 
   3. Make Rows
   =============================================================================== */
/* =============================================================================== 
   4. Make Columns
   =============================================================================== */
/* =============================================================================== 
   5. Include Mixin
   =============================================================================== */
/* Make Container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

/* Make Rows */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

/* Make Columns */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif, serif; }

html {
  font-size: 62.5%; }
  @media (max-width: 768px) {
    html {
      font-size: 50%; } }

body {
  display: -webkit-box;
  display: flex;
  overflow-x: hidden; }

.dflex {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }
  .dflexs {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between; }

.col-2-5 {
  -webkit-box-flex: 0;
  flex: 0 0 24%;
  max-width: 24%; }
  @media (max-width: 991px) {
    .col-2-5 {
      -webkit-box-flex: 0;
      flex: 0 0 49%;
      max-width: 49%; } }
  @media (max-width: 768px) {
    .col-2-5 {
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-3-5 {
  -webkit-box-flex: 0;
  flex: 0 0 32%;
  max-width: 32%; }
  @media (max-width: 991px) {
    .col-3-5 {
      -webkit-box-flex: 0;
      flex: 0 0 49%;
      max-width: 49%; } }
  @media (max-width: 768px) {
    .col-3-5 {
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%; } }

ul {
  list-style: none; }

a {
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #000; }

h1.title {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: .14rem; }

h2.title {
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  color: #737a86;
  font-weight: 500;
  text-transform: uppercase; }

h3.title {
  font-size: 1.6rem;
  color: #737a86;
  font-weight: 400; }

h5.title {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.8px; }

h6.title {
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 500; }

p {
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: justify; }
  p.des {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #d8dee9; }

.red-color {
  color: #fe0000; }

.red-light-color {
  color: #e7806a; }

.white-color {
  color: #fff; }

.gray-color {
  color: #737a86; }

.blue-color {
  color: #5f97ff; }

.gray-bg {
  background: #d8dee9; }

.blue-bg {
  background: #5f97ff; }

.purple-bg {
  background: #662d91; }

table thead td {
  transition: .3s ease;
  cursor: pointer; }

table thead td:hover {
  background: #fafafa; }

/* ===============================================================================
   2. Components
   ===============================================================================
*/
.field {
  width: 24.5rem;
  height: 50px;
  border: 1px solid #d8dee9;
  padding: 2rem 2.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .field input[type="text"], .field textarea {
    max-width: calc(100% - 20px);
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% - 20px);
    font-size: 14px;
    letter-spacing: .07rem;
    outline: none;
    border: 0; }
    .field input[type="text"]::-webkit-input-placeholder, .field textarea::-webkit-input-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]::-moz-placeholder, .field textarea::-moz-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]:-ms-input-placeholder, .field textarea:-ms-input-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]::-ms-input-placeholder, .field textarea::-ms-input-placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
    .field input[type="text"]::placeholder, .field textarea::placeholder {
      color: #737a86;
      font-weight: 400;
      font-style: italic; }
  .field img {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .field img:hover {
      opacity: .7; }

.custom-select {
  position: relative;
  font-size: 14px; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: transparent;
  width: 100%; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 2rem;
  right: 2.5rem;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #737a86 transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #737a86 transparent;
  top: 1.5rem; }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #d8dee9;
  width: 100%; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.select-items div {
  padding: 2rem 2.5rem;
  letter-spacing: .07rem; }
  .select-items div:not(:last-of-type) {
    border-bottom: 1px solid #d8dee9; }

button.btn {
  border-radius: 5px;
  border: 0;
  background: #e7806a;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 1rem 2rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  button.btn:hover {
    background: #fe0000; }
  button.btn.big {
    padding: 1.5rem 5rem;
    font-size: 16px;
    font-weight: 600; }
  button.btn.transparent {
    color: #9fa9ba;
    background: transparent;
    border: 1px solid #d8dee9; }
    button.btn.transparent.red {
      color: #e7806a;
      background: transparent;
      border: 1px solid #e7806a; }
      button.btn.transparent.red:hover {
        color: #fff;
        background: #e7806a; }
    button.btn.transparent:hover {
      border: 1px solid #737a86;
      background: #737a86;
      color: #fff; }
  button.btn.blue {
    background: #5f97ff; }
    button.btn.blue:hover {
      background: #0059c6; }
  button.btn.gray {
    color: #454545;
    background: #d8dee9; }
    button.btn.gray:hover {
      background: #454545;
      color: #fff; }
  button.btn img {
    width: 10px;
    margin-left: 5px;
    vertical-align: middle; }

/* The container */
.field-checkbox {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin-left: 20px; }

/* Hide the browser's default checkbox */
.field-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -20px;
  height: 11px;
  width: 11px;
  border-radius: 2px;
  border: 1px solid #d8dee9;
  background-color: transparent; }

.field-checkbox input:checked ~ .checkmark {
  background-color: transparent; }

.field-checkbox input:checked ~ p {
  color: #669bff; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.field-checkbox input:checked ~ .checkmark:after {
  display: block; }

.field-checkbox .checkmark:after {
  top: -20%;
  left: 25%;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.field-textarea {
  height: 12rem;
  padding: 1.5rem 2rem;
  border: 1px solid #d8dee9;
  border-radius: 5px; }
  .field-textarea textarea {
    font-size: 14px;
    max-width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none; }

.field-date {
  width: 19rem;
  padding: 10px 1rem 10px 1rem;
  border: 1px solid #d8dee9;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .field-date img {
    width: 25px;
    padding: 0 .5px 0 1rem;
    border-left: 1px solid #d8dee9; }
  .field-date input {
    outline: none;
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 1.6rem;
    -webkit-appearance: none; }
    .field-date input::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none; }

.field-number {
  border-radius: 5px;
  border: 1px solid #d8dee9;
  width: 9rem;
  padding: 1rem 0 1rem 2rem; }
  .field-number input {
    outline: none;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.6rem; }
    .field-number input::-webkit-outer-spin-button, .field-number input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }

ul.pagination li {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  border: 1px solid #e7806a;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  color: #e7806a;
  cursor: pointer; }
  ul.pagination li:not(:last-child) {
    margin-right: .5rem; }
  ul.pagination li:hover, ul.pagination li.active {
    background: #e7806a;
    color: #fff; }

.nav__expand {
  width: 22rem;
  background: #d8dee9;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 11rem;
  z-index: 9;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .nav__expand.active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
    .nav__expand.active .nav__arrow {
      -webkit-transform: translateX(25%) rotate(0deg);
      transform: translateX(25%) rotate(0deg); }
  .nav__expand .nav__arrow {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    -webkit-transform: translateX(0) rotate(180deg);
    transform: translateX(0) rotate(180deg);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
    right: 0;
    top: 5.0rem; }
    @media (max-width: 768px) {
      .nav__expand .nav__arrow {
        line-height: 32px; } }
    .nav__expand .nav__arrow:hover {
      opacity: .8; }
  .nav__expand .nav__current {
    display: -webkit-box;
    display: flex;
    position: relative;
    padding: 2rem 2.5rem;
    -webkit-box-align: center;
    align-items: center; }
    .nav__expand .nav__current img {
      margin-right: 10px; }
    .nav__expand .nav__current .content h2 {
      color: #e7806a;
      font-size: 2rem;
      font-weight: 400; }
    .nav__expand .nav__current .content p {
      color: #737a86;
      font-weight: 400; }
    .nav__expand .nav__current i {
      position: absolute;
      font-size: 16px;
      left: 40%;
      top: 85%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #737a86; }
  .nav__expand .nav__logo {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: #41454b;
    padding: 3.2rem 2.5rem; }
  .nav__expand .line {
    margin: 0 1rem;
    border-bottom: 1px solid #fff;
    height: 2px;
    background: #737a86;
    margin-bottom: 2rem; }
  .nav__expand .nav__menu li {
    padding: 0 2rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem; }
    .nav__expand .nav__menu li:before {
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: #5f97ff;
      content: '';
      position: absolute;
      opacity: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .nav__expand .nav__menu li.active:before, .nav__expand .nav__menu li:hover:before {
      opacity: 1; }
    .nav__expand .nav__menu li.active a, .nav__expand .nav__menu li:hover a {
      color: #669bff; }
    .nav__expand .nav__menu li img {
      margin-right: 2.5rem;
      width: 2rem; }
    .nav__expand .nav__menu li a {
      padding: 1rem 0;
      font-size: 1.6rem;
      letter-spacing: .08rem;
      color: #737a86; }

.custom-scroll-bar {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .custom-scroll-bar ::-webkit-scrollbar {
    width: 5px; }
  .custom-scroll-bar ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #d8dee9; }
  .custom-scroll-bar ::-webkit-scrollbar-thumb {
    background: #e7806a;
    border-radius: 10px; }
  .custom-scroll-bar ::-webkit-scrollbar-thumb:hover {
    background: #fe0000; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 200; }
  .popup.active {
    pointer-events: unset; }
    .popup.active .popup__overlay {
      opacity: 1; }
    .popup.active .popup__item {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1); }
  .popup .popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0; }
  .popup .popup__item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background: #fff;
    border-radius: 5px;
    padding: 5rem 6rem;
    max-height: 95vh;
    overflow: scroll; }
    .popup .popup__item .input-field {
      margin-bottom: 3rem; }
    .popup .popup__item form {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap; }
      @media (max-width: 991px) {
        .popup .popup__item form .col-12 {
          padding: 0; } }
    .popup .popup__item h2 {
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.29;
      letter-spacing: 1.4px;
      margin-bottom: 4rem; }
    .popup .popup__item h6 {
      font-size: 1.6rem;
      margin-bottom: 5px;
      font-weight: 400;
      color: #737a86; }
      .popup .popup__item h6 span {
        padding-left: 5px;
        color: #fe0000; }

/* ===============================================================================
   3. Layout
   ===============================================================================
*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 11rem;
  background: #41454b;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  z-index: 10;
  -webkit-transition: .2s ease;
  transition: .2s ease; }
  nav:hover {
    background: #4e5258; }
  nav .nav__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    nav .nav__item .sub__avatar {
      position: absolute;
      left: 100%;
      bottom: 0;
      background: #fff;
      border-radius: 5px;
      z-index: 2;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      width: 20rem;
      overflow: hidden;
      padding: 2rem 1.5rem;
      -webkit-transform: translateY(100%);
      transform: translateY(100%); }
      nav .nav__item .sub__avatar.active {
        -webkit-transform: translateY(0);
        transform: translateY(0); }
      nav .nav__item .sub__avatar li {
        margin-bottom: 2rem; }
        nav .nav__item .sub__avatar li img {
          width: 20px;
          margin-left: 10px; }
        nav .nav__item .sub__avatar li a {
          font-size: 1.6rem;
          display: block; }
          nav .nav__item .sub__avatar li a:hover {
            opacity: 0.7; }
    nav .nav__item .line {
      padding: 0 2rem;
      height: 2px;
      background: #2c2e33;
      border-bottom: 1px solid #535860;
      width: 100%; }
    nav .nav__item .nav__logo {
      width: 100%;
      padding: 2px;
      padding: 2.5rem; }
      nav .nav__item .nav__logo:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      nav .nav__item .nav__logo img {
        -webkit-transition: .3s ease;
        transition: .3s ease;
        pointer-events: none; }
    nav .nav__item .nav__avatar {
      padding: 2rem; }
      nav .nav__item .nav__avatar.active img {
        border: 2px solid #e7806a; }
      nav .nav__item .nav__avatar img {
        border-radius: 50%;
        pointer-events: none;
        border: 2px solid transparent;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
    nav .nav__item .nav__tools button {
      outline: none;
      margin-bottom: 2.5rem;
      border: 0;
      background: transparent;
      display: block;
      cursor: pointer;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      nav .nav__item .nav__tools button.bell {
        position: relative; }
        nav .nav__item .nav__tools button.bell:before {
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 50%;
          color: #fff;
          font-size: 10px;
          content: '3';
          background: #e7806a;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 18px;
          -webkit-transform: translateX(50%);
          transform: translateX(50%); }
      nav .nav__item .nav__tools button:hover {
        opacity: .7; }
      nav .nav__item .nav__tools button img {
        width: 20px; }

main {
  padding: 1.5rem 2rem 1.5rem 13rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%; }
  main.active {
    padding: 1.5rem 2rem 1.5rem 35rem; }

header {
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #737a86;
  margin-bottom: 5rem; }

.overlay-shadow {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
  pointer-events: none; }
  .overlay-shadow.active {
    pointer-events: unset;
    opacity: 1; }

.search {
  position: fixed;
  width: 100%;
  max-width: 75rem;
  background: #fff;
  z-index: 100;
  height: 100vh;
  padding: 4rem 6rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }
  .search.active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .search .close {
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    cursor: pointer; }
    .search .close:hover {
      opacity: 0.7; }
    .search .close img {
      width: 20px; }
  .search .field {
    width: 100%; }
  .search .field {
    padding: 0;
    border: 0;
    border-bottom: 2px solid #e7806a;
    margin-bottom: 5rem; }
    .search .field input {
      max-width: 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      height: 50px;
      font-size: 2.5rem; }
      .search .field input::-webkit-input-placeholder {
        font-style: normal; }
      .search .field input::-moz-placeholder {
        font-style: normal; }
      .search .field input:-ms-input-placeholder {
        font-style: normal; }
      .search .field input::-ms-input-placeholder {
        font-style: normal; }
      .search .field input::placeholder {
        font-style: normal; }
  .search h3.title {
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .search .recent__issues {
    margin-bottom: 4rem;
    padding: 0 10px; }
    .search .recent__issues .item {
      display: -webkit-box;
      display: flex;
      margin-bottom: 1rem; }
      .search .recent__issues .item:hover h6 {
        color: #e7806a; }
      .search .recent__issues .item img {
        width: 20px;
        height: 20px;
        margin-right: 2rem; }
      .search .recent__issues .item .content h6 {
        font-size: 1.6rem;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        width: 100%; }
  .search .recent__project {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap; }
    .search .recent__project .item {
      min-height: 9rem;
      margin-bottom: 2rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      max-width: calc(100% / 2 - 20px);
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% / 2 - 20px);
      margin: 0 10px;
      padding: 2rem 3rem;
      border-radius: 5px;
      border: 1px solid #54c0eb;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      .search .recent__project .item:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); }
      .search .recent__project .item .icon {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background: #54c0eb;
        margin-right: 2rem; }
        .search .recent__project .item .icon img {
          width: 100%; }
      .search .recent__project .item h4 {
        font-size: 2rem;
        font-weight: 500; }
      .search .recent__project .item p {
        color: #737a86; }

/* ===============================================================================
   4. Pages
   ===============================================================================
*/
.popup.issues .ckEditor {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 1rem; }
  .popup.issues .ckEditor .ck-content {
    height: 15rem; }
    .popup.issues .ckEditor .ck-content * {
      word-wrap: break-word; }

.popup.issues .button {
  position: absolute;
  top: 5rem;
  right: 6rem;
  font-size: 14px;
  color: #737a86;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: 1px solid #d8dee9;
  cursor: pointer; }
  @media (max-width: 991px) {
    .popup.issues .button {
      top: 2rem;
      right: 3.5rem; } }
  .popup.issues .button i {
    margin-left: 10px; }

.popup.issues .block__expand {
  position: absolute;
  top: 11rem;
  right: 6rem;
  width: 532px;
  padding: 2rem;
  background: #fff;
  z-index: 10;
  border-radius: 7px;
  box-shadow: 0px 5px 1.5rem 1.6px rgba(140, 140, 140, 0.2);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  @media (max-width: 991px) {
    .popup.issues .block__expand {
      top: 8rem;
      right: 3.5rem; } }
  @media (max-width: 512px) {
    .popup.issues .block__expand {
      width: 250px; } }
  .popup.issues .block__expand.active {
    opacity: 1;
    pointer-events: unset; }
  .popup.issues .block__expand h6.blue-color {
    color: #5f97ff; }
  .popup.issues .block__expand h6 span {
    color: #737a86; }
    .popup.issues .block__expand h6 span.blue-color {
      color: #5f97ff; }
  .popup.issues .block__expand .heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid #737a86;
    margin-bottom: 1rem; }
    .popup.issues .block__expand .heading a {
      font-size: 1.6rem; }
      .popup.issues .block__expand .heading a:hover {
        text-decoration: underline; }
  .popup.issues .block__expand .body {
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start; }
    .popup.issues .block__expand .body label {
      margin-bottom: 1rem; }

.popup.issues h2 {
  margin-bottom: 2rem; }
  @media (max-width: 512px) {
    .popup.issues h2 {
      font-size: 2rem;
      margin: 1rem 0 3rem; } }

.popup.issues .field.custom-select {
  position: relative; }
  .popup.issues .field.custom-select img {
    position: absolute;
    width: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px; }

.popup.issues .input-field {
  margin-bottom: 1rem; }

.popup.issues .field {
  width: 100%; }

.popup.issues .drop-attachment {
  padding: 15px;
  border: 1px dashed #737a86;
  border-radius: 5px; }
  .popup.issues .drop-attachment img {
    margin-right: 5px; }

.issues__body .issues__recent h2.title {
  margin-bottom: 1.5rem; }

.issues__body .issues__recent .recent__items .recent__item {
  display: -webkit-box;
  display: flex;
  margin-bottom: 1rem; }
  .issues__body .issues__recent .recent__items .recent__item img {
    max-width: 20px;
    -webkit-box-flex: 0;
    flex: 0 0 20px;
    height: 20px;
    margin-right: 10px; }

.issues__body .issues__tools {
  display: -webkit-box;
  display: flex;
  margin: 4rem 0;
  flex-wrap: wrap; }
  .issues__body .issues__tools .field {
    min-width: 16rem;
    margin-bottom: 2rem; }
    .issues__body .issues__tools .field:not(:last-of-type) {
      margin-right: 2.5rem; }

.issues__body .table__all__issues {
  overflow: scroll; }

.issues__body table {
  width: 100%; }
  .issues__body table td {
    border: 1px solid #d8dee9;
    min-height: 5rem;
    height: 5rem;
    color: #737a86;
    font-size: 1.8rem;
    padding: 1rem;
    font-weight: 400; }
    .issues__body table td:first-child {
      text-align: center; }
      .issues__body table td:first-child img {
        width: 20px;
        height: 20px; }
    .issues__body table td:nth-child(2) {
      min-width: 15rem;
      text-align: center; }
    .issues__body table td:nth-child(3) {
      min-width: 40rem; }
      .issues__body table td:nth-child(3) a {
        color: #5f97ff; }
        .issues__body table td:nth-child(3) a:hover {
          text-decoration: underline; }
    .issues__body table td:nth-child(4), .issues__body table td:nth-child(5), .issues__body table td:nth-child(8), .issues__body table td:nth-child(9) {
      min-width: 16rem;
      text-align: center; }
    .issues__body table td:nth-child(7) {
      min-width: 16rem;
      text-align: center;
      white-space: nowrap; }
    .issues__body table td:nth-child(6), .issues__body table td:nth-child(10) {
      min-width: 5rem;
      text-align: center; }
  .issues__body table thead {
    background: #ebf0f8; }
    .issues__body table thead td {
      font-weight: 600; }
      .issues__body table thead td:nth-child(2) span.title, .issues__body table thead td:nth-child(8) span.title {
        position: relative; }
        .issues__body table thead td:nth-child(2) span.title span, .issues__body table thead td:nth-child(8) span.title span {
          position: absolute;
          right: 0;
          top: 50%;
          font-size: 14px;
          opacity: 0.5; }
          .issues__body table thead td:nth-child(2) span.title span.active, .issues__body table thead td:nth-child(8) span.title span.active {
            opacity: 1; }
          .issues__body table thead td:nth-child(2) span.title span:nth-child(1), .issues__body table thead td:nth-child(8) span.title span:nth-child(1) {
            -webkit-transform: translate(150%, -70%);
            transform: translate(150%, -70%); }
          .issues__body table thead td:nth-child(2) span.title span:nth-child(2), .issues__body table thead td:nth-child(8) span.title span:nth-child(2) {
            -webkit-transform: translate(150%, -30%);
            transform: translate(150%, -30%); }
  .issues__body table tbody td:nth-child(5) {
    padding: 10px 5px; }
  .issues__body table tbody td:nth-child(3) {
    color: #669bff;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap; }
  .issues__body table tbody td:nth-child(6), .issues__body table tbody td:nth-child(10) {
    text-align: center;
    color: #e7806a; }

.issues__body .pagination {
  margin-top: 2.5rem; }

.reports__body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  flex-wrap: wrap; }
  .reports__body .reports__item {
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin: 0 7.5px;
    margin-bottom: 1.5rem; }
    .reports__body .reports__item .report__image {
      border: 1px solid #d8dee9;
      border-radius: 5px;
      height: 22rem;
      padding: 0 5rem; }
      .reports__body .reports__item .report__image img {
        width: 60%; }
    .reports__body .reports__item .report__content h3 {
      font-size: 1.8rem;
      color: #737a86;
      margin: 1rem 0; }

.popup.people .field {
  width: 100%; }

header.people {
  padding-bottom: 1.8rem; }
  header.people button.search-btn {
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    header.people button.search-btn:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
  header.people button:not(:last-of-type) {
    margin-right: 2rem; }

.people__body {
  padding: 0 3rem; }
  .people__body h3.title {
    color: #000;
    font-weight: 600; }
  .people__body .line {
    width: 100%;
    height: 2px;
    background: #d8dee9;
    border-bottom: 1px solid #fff;
    margin-bottom: 3rem; }
  .people__body .people__items {
    margin: 3rem 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; }
    .people__body .people__items .people__item {
      max-width: calc(100% / 8 - 5rem);
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% / 8 - 5rem);
      margin-right: 5rem;
      text-align: center;
      margin-bottom: 3rem; }
      .people__body .people__items .people__item:hover .image img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05); }
      .people__body .people__items .people__item:hover .name {
        color: #e7806a; }
      .people__body .people__items .people__item .image {
        background: #d8dee9;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: .5rem; }
        .people__body .people__items .people__item .image img {
          -webkit-transition: .3s ease;
          transition: .3s ease;
          width: 100%;
          margin: 0 auto; }
      .people__body .people__items .people__item .name {
        font-size: 1.6rem;
        font-weight: 600;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .people__body .people__items .people__item .des {
        text-align: center;
        color: #737a86;
        line-height: 1.2; }
      .people__body .people__items .people__item button {
        margin-top: 0.5rem;
        color: #e7806a;
        border-color: #e7806a; }
        .people__body .people__items .people__item button:hover {
          background: #e7806a;
          color: #fff; }

.blacklog__body .blacklog__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2rem; }
  .blacklog__body .blacklog__tools .field,
  .blacklog__body .blacklog__tools .people {
    margin-right: 4rem; }
  .blacklog__body .blacklog__tools .people {
    display: -webkit-box;
    display: flex; }
    .blacklog__body .blacklog__tools .people a {
      display: inline-block;
      margin-left: -10px;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 2px solid transparent;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      line-height: 4.6rem;
      overflow: hidden;
      font-weight: bold; }
      .blacklog__body .blacklog__tools .people a img {
        width: 100%; }
      .blacklog__body .blacklog__tools .people a:hover {
        border: 2px solid #fff; }

.blacklog__body .blacklog__tabs .tabs {
  margin: 1.5rem 0; }
  .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots {
    position: relative; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots.active .button__dots__expand {
      pointer-events: unset;
      transform: translateX(calc(-100% - 10px)) scale(1); }
    .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots .button__dots__expand {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(calc(-100% - 10px)) scale(0);
      background: #fff;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 0px 5px 18.4px 1.6px rgba(140, 140, 140, 0.2);
      width: 19rem;
      z-index: 5;
      transition: .3s ease;
      pointer-events: none;
      transform-origin: top right; }
      .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots .button__dots__expand button {
        width: 100%;
        background: transparent;
        color: #000;
        text-align: left; }
        .blacklog__body .blacklog__tabs .tabs .tabs__item .button__dots .button__dots__expand button:hover {
          background: rgba(0, 0, 0, 0.1); }
  .blacklog__body .blacklog__tabs .tabs .tabs__item button {
    position: relative; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item button .btn__expand {
      position: absolute;
      top: 0;
      right: 0;
      background: #fff; }
  .blacklog__body .blacklog__tabs .tabs .tabs__item h5 {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5.active i {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5:hover, .blacklog__body .blacklog__tabs .tabs .tabs__item h5.active {
      color: #e7806a; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5 span {
      display: inline-block;
      margin-left: 1rem;
      color: #d8dee9;
      font-weight: lighter; }
    .blacklog__body .blacklog__tabs .tabs .tabs__item h5 i {
      margin-right: 5px;
      font-size: 14px; }
  .blacklog__body .blacklog__tabs .tabs .tabs__expand {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    overflow: hidden;
    max-height: 0;
    overflow: scroll; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand.active {
      max-height: 80vh; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand .project {
      padding: 0 2rem; }
      .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog {
        padding: 1rem 15px;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        margin: 1rem 0; }
        .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog:last-of-type {
          margin-bottom: 2rem; }
        .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog:hover {
          cursor: pointer;
          background: #fafafa; }
        .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item {
          display: -webkit-box;
          display: flex; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item:last-of-type {
            -webkit-box-align: center;
            align-items: center; }
            .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item:last-of-type .btn {
              margin-right: 2rem; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .arrow {
            outline: none;
            border: 0;
            cursor: pointer;
            background: transparent;
            font-size: 14px;
            margin-left: 10px; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item p.right {
            font-size: 16px;
            letter-spacing: 0.8px; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item img {
            width: 20px;
            height: 20px;
            margin-right: 10px; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading h4 {
            font-size: 1.6rem;
            font-weight: 500;
            color: #737a86; }
          .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p {
            color: #737a86;
            font-size: 14px; }
            .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p span {
              display: inline-block;
              margin-right: 1rem; }
              .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p span:not(:last-child):after {
                font-size: 5px;
                font-style: normal;
                content: '⬤';
                color: #8a8e96;
                display: inline-block;
                margin-left: 1rem;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
              .blacklog__body .blacklog__tabs .tabs .tabs__expand .project .backlog .backlog__item .heading p span.italic {
                font-style: italic;
                color: #d8dee9; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand .drag {
      font-size: 14px;
      text-align: center;
      color: #d8dee9;
      padding: 2rem;
      border: 1px dashed #d8dee9;
      margin: 2rem 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .blacklog__body .blacklog__tabs .tabs .tabs__expand .create {
      border: 0;
      outline: none;
      background: transparent;
      font-size: 14px;
      color: #669bff;
      font-weight: 600;
      margin-bottom: 2rem;
      cursor: pointer; }
      .blacklog__body .blacklog__tabs .tabs .tabs__expand .create:hover {
        text-decoration: underline; }

.popup.epic form .field.custom-select {
  position: relative;
  margin-bottom: 3rem; }
  .popup.epic form .field.custom-select img {
    position: absolute;
    width: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px; }

.popup.epic form .field {
  margin-bottom: 2rem;
  width: 100%; }

.epic__body .epic__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .epic__body .epic__tools .field:not(:last-of-type) {
    margin-right: 2rem; }

.epic__body table {
  width: 100%;
  margin: 3rem 0; }
  .epic__body table button {
    outline: none;
    border: 0;
    background: transparent;
    font-size: 14px;
    color: #e7806a;
    cursor: pointer; }
  .epic__body table td {
    border: 1px solid #d8dee9;
    min-height: 5rem;
    height: 5rem;
    color: #737a86;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    font-weight: 400; }
    .epic__body table td:nth-child(1) {
      width: 50%; }
    .epic__body table td:nth-child(2) {
      width: 50%; }
    .epic__body table td:nth-child(3) {
      width: 5rem; }
  .epic__body table thead {
    background: #ebf0f8; }
    .epic__body table thead td {
      font-weight: 600; }
  .epic__body table tbody tr td:nth-child(1) a {
    color: #669bff; }
    .epic__body table tbody tr td:nth-child(1) a:hover {
      text-decoration: underline; }
  .epic__body table tbody tr td:nth-child(2), .epic__body table tbody tr td:nth-child(3) {
    text-align: center; }
  .epic__body table tbody tr td:nth-child(2) {
    padding: 1rem 9rem; }
    .epic__body table tbody tr td:nth-child(2) .progress {
      height: 8px;
      width: 100%;
      background: #c9c9c9;
      border-radius: 10px;
      position: relative; }
      .epic__body table tbody tr td:nth-child(2) .progress:before {
        position: absolute;
        height: 100%;
        content: '';
        top: 0;
        border-radius: 10px;
        left: 0; }
      .epic__body table tbody tr td:nth-child(2) .progress.blue:before {
        width: 50%;
        background: #5f97ff; }
      .epic__body table tbody tr td:nth-child(2) .progress.green:before {
        width: 100%;
        background: #08a100; }

.issue-details .issue__left {
  padding-right: calc(45rem - 2rem + 20px); }
  .issue-details .issue__left .issue__body .issue__tools {
    margin-bottom: 2rem; }
  .issue-details .issue__left .issue__content h3.title {
    font-weight: 600; }
  .issue-details .issue__left .issue__content p {
    margin-bottom: 3rem; }
  .issue-details .issue__left .issue__content .attachment {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem; }
    .issue-details .issue__left .issue__content .attachment img {
      max-width: 18rem;
      width: 100%;
      margin-bottom: 2rem; }
      @media (max-width: 512px) {
        .issue-details .issue__left .issue__content .attachment img {
          max-width: 100%;
          margin: 0 0 1rem 0; } }
      .issue-details .issue__left .issue__content .attachment img:not(:last-child) {
        margin-right: 2rem; }
  .issue-details .issue__left .issue__content .filter {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 1rem 0 2rem; }
    .issue-details .issue__left .issue__content .filter button {
      margin-left: 2rem; }
  .issue-details .issue__left .issue__content .comments {
    margin-bottom: 2rem; }
    .issue-details .issue__left .issue__content .comments .comment__item {
      display: -webkit-box;
      display: flex; }
      .issue-details .issue__left .issue__content .comments .comment__item .avatar {
        width: 5rem;
        height: 5rem;
        margin-right: 2rem; }
        .issue-details .issue__left .issue__content .comments .comment__item .avatar img {
          width: 100%;
          border-radius: 50%; }
      .issue-details .issue__left .issue__content .comments .comment__item .info .name {
        color: #010101;
        font-size: 16px; }
        .issue-details .issue__left .issue__content .comments .comment__item .info .name span {
          display: inline-block;
          letter-spacing: 0.8px;
          color: #737a86;
          font-weight: 400; }
      .issue-details .issue__left .issue__content .comments .comment__item .info p {
        margin: 5px 0; }
      .issue-details .issue__left .issue__content .comments .comment__item .comment__tools {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center; }
        .issue-details .issue__left .issue__content .comments .comment__item .comment__tools button {
          outline: none;
          border: 0;
          font-size: 14px;
          color: #737a86;
          background: transparent;
          margin-right: 1rem;
          -webkit-transition: .3s ease;
          transition: .3s ease; }
          .issue-details .issue__left .issue__content .comments .comment__item .comment__tools button:hover {
            cursor: pointer;
            color: #e7806a; }
          .issue-details .issue__left .issue__content .comments .comment__item .comment__tools button:not(:last-of-type):after {
            content: '⬤';
            margin-right: 1rem;
            display: inline-block;
            font-size: 5px;
            color: #b1b6bf;
            -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%); }

.issue-details .add-comment {
  display: -webkit-box;
  display: flex; }
  .issue-details .add-comment img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .issue-details .add-comment .field {
    max-width: 70rem;
    width: 100%;
    border-radius: 5px; }
    @media (max-width: 512px) {
      .issue-details .add-comment .field {
        padding: 1rem 1.5rem; } }
  .issue-details .add-comment input {
    width: 100%; }

.issue-details .issue__right {
  width: 45rem;
  padding: 5rem 3rem 0 3rem;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 2; }
  .issue-details .issue__right .line {
    width: 100%;
    height: 1px;
    background: #737a86;
    margin: 2rem 0; }
  .issue-details .issue__right:before {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    background: #d8dee9;
    width: 1px;
    height: 95vh;
    position: absolute; }
  .issue-details .issue__right .issue__close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 3;
    cursor: pointer; }
    .issue-details .issue__right .issue__close img {
      width: 20px; }
  .issue-details .issue__right .issue__tools {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 3rem; }
    .issue-details .issue__right .issue__tools .icon {
      font-size: 14px;
      color: #737a86; }
      .issue-details .issue__right .issue__tools .icon img {
        margin-right: 10px; }
    .issue-details .issue__right .issue__tools button {
      width: 5.5rem;
      height: 5.5rem;
      padding: 0;
      text-align: center;
      line-height: 5.5rem;
      font-size: 2.4rem;
      margin-left: 2rem; }
  .issue-details .issue__right .issue__content .field {
    margin-bottom: 2rem; }
  .issue-details .issue__right .issue__content h3.title {
    font-weight: 600; }
  .issue-details .issue__right .issue__content .person {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .issue-details .issue__right .issue__content .person img {
      margin-right: 1.5rem;
      border-radius: 50%;
      width: 5rem;
      height: 5rem; }
    .issue-details .issue__right .issue__content .person h4.name {
      font-weight: 600;
      color: #010101;
      font-size: 1.6rem;
      letter-spacing: 0.8px; }
  .issue-details .issue__right .issue__content .dflexs p {
    margin-bottom: 0;
    color: #737a86; }
  .issue-details .issue__right .issue__content p {
    margin-bottom: 2rem; }

.popup.project .popup__item {
  width: 76.8rem; }
  @media (max-width: 768px) {
    .popup.project .popup__item {
      width: 90%; }
      .popup.project .popup__item .col-12 {
        padding: 0; } }

.project__body h3.title {
  margin-bottom: 1.5rem; }

.project__body .recent__project {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem; }
  .project__body .recent__project .recent__item {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    max-width: 26rem;
    -webkit-box-flex: 0;
    flex: 0 0 26rem;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    border: 1px solid #e7806a;
    margin-bottom: 2rem;
    background: #fff1ef; }
    .project__body .recent__project .recent__item:hover {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    .project__body .recent__project .recent__item:not(:last-of-type) {
      margin-right: 1.5rem; }
    .project__body .recent__project .recent__item .heading {
      display: -webkit-box;
      display: flex; }
      .project__body .recent__project .recent__item .heading .icon img {
        width: 3rem;
        margin-right: 1.5rem; }
      .project__body .recent__project .recent__item .heading .content {
        padding-bottom: 1.5rem; }
        .project__body .recent__project .recent__item .heading .content h4 {
          font-size: 2rem;
          color: #e7806a; }
    .project__body .recent__project .recent__item .footer {
      border-top: 1px solid #e7806a;
      padding-top: 1.5rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center; }
      .project__body .recent__project .recent__item .footer img {
        width: 20px;
        margin-right: 10px; }
      .project__body .recent__project .recent__item .footer p {
        color: #9fa9ba;
        font-size: 14px; }

.project__body .project__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .project__body .project__tools .field:not(:last-of-type) {
    margin-right: 2rem; }

.project__body table {
  margin: 4rem 0; }
  .project__body table td {
    font-size: 1.8rem;
    padding: 2rem;
    color: #737a86; }
    .project__body table td:not(:last-child) {
      border-right: 1px solid #d8dee9; }
    .project__body table td:nth-child(1) {
      color: #5f97ff; }
    .project__body table td:nth-child(1), .project__body table td:nth-child(3), .project__body table td:nth-child(5), .project__body table td:nth-child(6) {
      text-align: center; }
    .project__body table td:nth-child(2) {
      width: 40%; }
    .project__body table td:nth-child(3) {
      width: 15%; }
    .project__body table td:nth-child(4) {
      width: 25%; }
    .project__body table td:nth-child(5) {
      width: 20%; }
    .project__body table td:nth-child(6) {
      width: 5rem; }
  .project__body table thead td {
    font-weight: 600; }
    .project__body table thead td:nth-of-type(2) span, .project__body table thead td:nth-of-type(3) span, .project__body table thead td:nth-of-type(4) span, .project__body table thead td:nth-of-type(5) span {
      position: relative; }
      .project__body table thead td:nth-of-type(2) span.caret, .project__body table thead td:nth-of-type(3) span.caret, .project__body table thead td:nth-of-type(4) span.caret, .project__body table thead td:nth-of-type(5) span.caret {
        position: absolute;
        right: 0;
        top: 0; }
        .project__body table thead td:nth-of-type(2) span.caret.up, .project__body table thead td:nth-of-type(3) span.caret.up, .project__body table thead td:nth-of-type(4) span.caret.up, .project__body table thead td:nth-of-type(5) span.caret.up {
          -webkit-transform: translate(150%, -15%);
          transform: translate(150%, -15%);
          opacity: 0.5; }
        .project__body table thead td:nth-of-type(2) span.caret.down, .project__body table thead td:nth-of-type(3) span.caret.down, .project__body table thead td:nth-of-type(4) span.caret.down, .project__body table thead td:nth-of-type(5) span.caret.down {
          -webkit-transform: translate(150%, 15%);
          transform: translate(150%, 15%); }
  .project__body table tbody td {
    color: #000; }
    .project__body table tbody td:nth-child(2) a {
      color: #5f97ff; }
      .project__body table tbody td:nth-child(2) a:hover {
        text-decoration: underline; }
    .project__body table tbody td:nth-child(4) {
      display: -webkit-box;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
      align-items: center;
      color: #5f97ff; }
      .project__body table tbody td:nth-child(4) img {
        width: 30px;
        margin-right: 10px;
        border-radius: 50%; }
    .project__body table tbody td:nth-child(6) {
      color: #e7806a; }

.popup.board .issue-details {
  width: 90vw;
  height: 90vh;
  background: #fff;
  z-index: 10;
  overflow: scroll; }
  .popup.board .issue-details .issue__left {
    width: 57% !important; }
  .popup.board .issue-details .issue__right::before,
  .popup.board .issue-details .issue__right .issue__close {
    display: none; }
  .popup.board .issue-details .issue__left,
  .popup.board .issue-details .issue__right {
    position: absolute; }
    @media (max-width: 1200px) {
      .popup.board .issue-details .issue__left,
      .popup.board .issue-details .issue__right {
        position: relative;
        width: 100% !important; }
        .popup.board .issue-details .issue__left .ckEditor,
        .popup.board .issue-details .issue__right .ckEditor {
          width: 100% !important; } }
  .popup.board .issue-details h3.title {
    margin-bottom: 5px; }
  .popup.board .issue-details header {
    border-bottom: 0;
    margin-bottom: 1rem; }
  .popup.board .issue-details .issue__left {
    background: #fff;
    padding-right: 0;
    width: 65%; }
    .popup.board .issue-details .issue__left .issue__tools button:not(:last-child) {
      padding: 1rem 4rem; }
    .popup.board .issue-details .issue__left .ckEditor {
      width: 90%;
      margin-bottom: 2rem; }
      .popup.board .issue-details .issue__left .ckEditor .ck-content {
        height: 15rem; }
        .popup.board .issue-details .issue__left .ckEditor .ck-content * {
          word-wrap: break-word; }
    .popup.board .issue-details .issue__left .add-comment {
      margin-bottom: 3rem; }
  .popup.board .issue-details .issue__right .issue__tools button {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
    margin-left: 1rem; }

.board__header .header__item.right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .board__header .header__item.right button {
    height: 5.2rem; }
    .board__header .header__item.right button:not(:last-of-type) {
      margin-right: 1rem; }
  .board__header .header__item.right button.star {
    outline: none;
    border: 0;
    background: transparent;
    margin-right: 2rem;
    font-size: 1.6rem;
    color: #737a86; }
  .board__header .header__item.right .fa-clock,
  .board__header .header__item.right span {
    font-size: 1.6rem;
    color: #737a86;
    margin-right: 1rem;
    display: inline-block; }

.board__body .board__tools {
  -webkit-box-pack: start;
  justify-content: flex-start; }
  .board__body .board__tools button {
    outline: none;
    border: 0;
    font-size: 1.6rem;
    color: #737a86;
    font-weight: 600;
    margin-left: 4rem;
    cursor: pointer;
    background: transparent; }
    .board__body .board__tools button:hover {
      text-decoration: underline; }
  .board__body .board__tools .people {
    display: -webkit-box;
    display: flex;
    margin-left: 4rem; }
    .board__body .board__tools .people a {
      display: inline-block;
      margin-left: -10px;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 2px solid transparent;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      line-height: 4.6rem;
      overflow: hidden;
      font-weight: bold; }
      .board__body .board__tools .people a img {
        width: 100%; }
      .board__body .board__tools .people a:hover {
        border: 2px solid #fff; }

.board__body .table {
  overflow: scroll;
  height: 70rem;
  margin: 4rem 0; }

.board__body table {
  width: 100%;
  min-width: 126rem; }
  .board__body table td {
    font-size: 1.6rem;
    padding: 2rem 1rem;
    text-align: center;
    border: 1px solid #d8dee9;
    width: calc(100% / 7);
    min-width: 18rem; }
  .board__body table thead {
    background: #ebf0f8; }
    .board__body table thead td {
      font-weight: 600;
      color: #737a86; }
  .board__body table tbody td {
    min-height: 18rem;
    height: 18rem;
    border: 1px solid #d8dee9;
    vertical-align: top; }
    .board__body table tbody td.over {
      border: 1px solid #fe0000; }
  .board__body table tbody .project {
    padding: 1rem;
    box-shadow: 0 -0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2rem;
    background: #fff;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab; }
    .board__body table tbody .project:active {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    .board__body table tbody .project.hidden {
      opacity: 0; }
    .board__body table tbody .project.dragged {
      border: 1px solid #fe0000; }
    .board__body table tbody .project p {
      font-size: 14px;
      line-height: 1.3;
      margin-bottom: 10px;
      text-align: left; }
    .board__body table tbody .project .status {
      -webkit-box-pack: start;
      justify-content: flex-start;
      margin-bottom: 10px;
      pointer-events: none; }
      .board__body table tbody .project .status .icon {
        width: 20px;
        height: 20px;
        font-size: 10px; }
        .board__body table tbody .project .status .icon img {
          width: 100%; }
        .board__body table tbody .project .status .icon:not(:last-of-type) {
          margin-right: 5px; }
        .board__body table tbody .project .status .icon:nth-of-type(2) {
          font-size: 14px; }
        .board__body table tbody .project .status .icon:last-of-type {
          border-radius: 50%;
          color: #fff;
          line-height: 20px;
          text-align: center; }

.popup.releases .field {
  width: 100%; }

@media (max-width: 991px) {
  .popup.releases .field-date {
    width: 100%; } }

.releases__body .releases__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .releases__body .releases__tools .field:not(:last-of-type) {
    margin-right: 2.5rem; }

.releases__body table {
  width: 100%;
  margin: 4rem 0; }
  .releases__body table td {
    padding: 2rem; }
    .releases__body table td:not(:last-child) {
      border-right: 1px solid #d8dee9; }
    .releases__body table td:nth-child(2), .releases__body table td:nth-child(3), .releases__body table td:nth-child(6) {
      text-align: center; }
    .releases__body table td:nth-child(1) {
      width: 40%; }
    .releases__body table td:nth-child(2), .releases__body table td:nth-child(3), .releases__body table td:nth-child(4) {
      min-width: 16rem; }
    .releases__body table td:nth-child(5) {
      width: 60%; }
    .releases__body table td:nth-child(6) {
      color: #e7806a;
      min-width: 50px; }
  .releases__body table thead td {
    font-weight: 600;
    font-size: 1.8rem;
    color: #737a86; }
    .releases__body table thead td:nth-child(1) span, .releases__body table thead td:nth-child(4) span, .releases__body table thead td:nth-child(5) span {
      position: relative; }
      .releases__body table thead td:nth-child(1) span.caret, .releases__body table thead td:nth-child(4) span.caret, .releases__body table thead td:nth-child(5) span.caret {
        position: absolute;
        right: 0;
        top: 0; }
        .releases__body table thead td:nth-child(1) span.caret.up, .releases__body table thead td:nth-child(4) span.caret.up, .releases__body table thead td:nth-child(5) span.caret.up {
          -webkit-transform: translate(150%, -15%);
          transform: translate(150%, -15%);
          opacity: 0.5; }
        .releases__body table thead td:nth-child(1) span.caret.down, .releases__body table thead td:nth-child(4) span.caret.down, .releases__body table thead td:nth-child(5) span.caret.down {
          -webkit-transform: translate(150%, 15%);
          transform: translate(150%, 15%); }
  .releases__body table tbody {
    font-size: 1.6rem; }
    .releases__body table tbody td:nth-child(1) {
      color: #5f97ff; }
    .releases__body table tbody td:nth-child(3) .progress {
      width: 100%;
      height: 8px;
      background: #08a100;
      border-radius: 5px; }
    .releases__body table tbody td:nth-child(4) {
      color: #e7806a; }
    .releases__body table tbody td:nth-child(5) {
      width: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center; }
      .releases__body table tbody td:nth-child(5) button {
        margin-left: 10px; }

.member__header {
  height: 17.5rem;
  background: url("../images/avatar/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: -15px -20px 0 -20px;
  margin-bottom: 12rem; }
  .member__header .account {
    position: absolute;
    bottom: 0;
    left: 10rem;
    display: -webkit-box;
    display: flex;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-box-align: center;
    align-items: center; }
    .member__header .account .avatar {
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 3rem; }
      .member__header .account .avatar img {
        width: 100%; }
    .member__header .account .info .name {
      font-size: 2.5rem;
      color: #fff;
      letter-spacing: 0.125rem;
      margin-bottom: 3rem; }

.member__body {
  flex-wrap: wrap;
  padding-left: 7rem;
  -webkit-box-align: start;
  align-items: flex-start; }
  .member__body .line {
    width: 100%;
    background: #737a86;
    margin: 3rem 0;
    height: 1px; }
  .member__body .member__item.right {
    border-left: 1px solid #737a86; }
    .member__body .member__item.right .people__items {
      margin: 3rem 0;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap; }
      .member__body .member__item.right .people__items .people__item {
        min-width: 11rem;
        max-width: calc(100% / 6 - 5rem);
        -webkit-box-flex: 0;
        flex: 0 0 calc(100% / 6 - 5rem);
        margin-right: 3rem;
        text-align: center;
        margin-bottom: 3rem; }
        @media (max-width: 1440px) {
          .member__body .member__item.right .people__items .people__item {
            max-width: calc(100% / 5 - 5rem);
            -webkit-box-flex: 0;
            flex: 0 0 calc(100% / 5 - 5rem); } }
        .member__body .member__item.right .people__items .people__item:hover .image img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05); }
        .member__body .member__item.right .people__items .people__item:hover .name {
          color: #e7806a; }
        .member__body .member__item.right .people__items .people__item .image {
          background: #d8dee9;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: .5rem; }
          .member__body .member__item.right .people__items .people__item .image img {
            -webkit-transition: .3s ease;
            transition: .3s ease;
            width: 100%;
            margin: 0 auto; }
        .member__body .member__item.right .people__items .people__item .name {
          font-size: 1.6rem;
          font-weight: 600;
          -webkit-transition: .3s ease;
          transition: .3s ease; }
        .member__body .member__item.right .people__items .people__item .des {
          text-align: center;
          color: #737a86;
          line-height: 1.2; }
        .member__body .member__item.right .people__items .people__item button {
          margin-top: 0.5rem;
          color: #e7806a;
          border-color: #e7806a; }
          .member__body .member__item.right .people__items .people__item button:hover {
            background: #e7806a;
            color: #fff; }
    .member__body .member__item.right .places__items {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: start;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .member__body .member__item.right .places__items .item {
        min-height: 9rem;
        margin-bottom: 2rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 0 10px;
        min-width: 24rem;
        padding: 2rem;
        border-radius: 5px;
        border: 1px solid #54c0eb;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        margin-bottom: 2rem; }
        .member__body .member__item.right .places__items .item:hover {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px); }
        .member__body .member__item.right .places__items .item .icon {
          flex-basis: 30px;
          max-width: 30px;
          height: 30px;
          border-radius: 5px;
          background: #54c0eb;
          margin-right: 1rem; }
          .member__body .member__item.right .places__items .item .icon img {
            width: 100%; }
        .member__body .member__item.right .places__items .item h4 {
          font-size: 2rem;
          font-weight: 500; }
        .member__body .member__item.right .places__items .item p {
          color: #737a86; }
    .member__body .member__item.right .worked .item {
      display: -webkit-box;
      display: flex;
      margin-bottom: 1rem; }
      .member__body .member__item.right .worked .item:hover h6 {
        color: #e7806a; }
      .member__body .member__item.right .worked .item img {
        width: 20px;
        height: 20px;
        margin-right: 2rem; }
      .member__body .member__item.right .worked .item .content h6 {
        font-size: 1.6rem;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        text-overflow: ellipsis;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        max-width: 500px; }
  .member__body .member__item h6.title {
    font-weight: 600;
    margin-bottom: 2rem; }
  .member__body .member__item ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 15px;
    color: #737a86; }
    .member__body .member__item ul li img {
      width: 20px;
      margin-right: 10px; }

.tempo__header .calendar {
  color: #737a86;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-right: 2rem;
  text-align: center; }
  .tempo__header .calendar:hover span {
    opacity: 0.8; }
  .tempo__header .calendar span {
    display: inline-block;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 10px; }

.tempo__header .header__item.right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .tempo__header .header__item.right .button {
    margin-right: 10px;
    padding: 0.6rem 2rem;
    color: #737a86;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #d8dee9; }
    .tempo__header .header__item.right .button button {
      margin-left: 10px; }

.table {
  overflow: scroll;
  width: 100%;
  height: 80rem; }
  .table table tr.gray {
    background: #fbfbfc; }
    .table table tr.gray td {
      font-weight: 600; }
  .table table td {
    font-size: 14px;
    padding: 1rem;
    text-align: center;
    min-width: 8rem;
    border: 1px solid #d8dee9; }
    .table table td:nth-child(1) {
      text-align: left;
      min-width: 20rem; }
  .table table thead {
    background: #ebf0f8; }
    .table table thead td {
      padding: 1rem 1rem;
      color: #737a86;
      font-weight: 600; }
  .table table tbody td.off {
    background: #ebf0f8; }

.popup.tempo-employee .popup__item {
  padding: 4.5rem 4rem;
  width: 74rem; }
  @media (max-width: 768px) {
    .popup.tempo-employee .popup__item {
      width: 90%; }
      .popup.tempo-employee .popup__item .input-field:nth-of-type(4) {
        margin-top: 2rem; } }

.popup.tempo-employee .input-field {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem; }

.popup.tempo-employee .field {
  width: 100%; }

.popup.tempo-employee h6 {
  font-weight: 600; }

.popup.tempo-employee .name {
  font-weight: 600;
  font-size: 1.6rem; }

.popup.tempo-employee span.checkmark {
  margin-top: 5px;
  width: 20px;
  height: 20px; }
  .popup.tempo-employee span.checkmark:after {
    width: 10px;
    height: 20px;
    border-width: 0 5px 5px 0; }

.tempo-employee__header .header__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.tempo-employee__header .calendar {
  color: #737a86;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-right: 2rem; }
  .tempo-employee__header .calendar:hover span {
    opacity: 0.8; }
  .tempo-employee__header .calendar span {
    display: inline-block;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 10px; }

.tempo-employee__header .header__item.left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px; }

.tempo-employee__header .header__item.left .name {
  margin-right: 10px; }
  .tempo-employee__header .header__item.left .name h4 {
    font-size: 2rem; }
  .tempo-employee__header .header__item.left .name p {
    color: #737a86; }

.tempo-employee__header .header__item.right .button {
  margin-right: 10px;
  padding: 0.6rem 2rem;
  color: #737a86;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d8dee9; }
  .tempo-employee__header .header__item.right .button button {
    margin-left: 10px; }

.table-employee {
  overflow: scroll;
  width: 100%;
  height: 80rem;
  position: relative; }
  .table-employee table.subTable {
    position: absolute;
    right: 0;
    top: 52%; }
    .table-employee table.subTable td {
      max-width: 16rem !important;
      min-width: 16rem !important;
      text-align: center !important; }
  .table-employee table tr.gray {
    background: #fbfbfc; }
    .table-employee table tr.gray td {
      font-weight: 600; }
  .table-employee table td {
    font-size: 14px;
    padding: 1rem;
    text-align: center;
    min-width: 8rem;
    border: 1px solid #d8dee9; }
    .table-employee table td:nth-child(2) {
      min-width: 35rem; }
    .table-employee table td:nth-child(3) {
      min-width: 18rem; }
  .table-employee table thead {
    background: #ebf0f8; }
    .table-employee table thead td {
      padding: 1rem 1rem;
      color: #737a86;
      font-weight: 600; }
  .table-employee table tbody tr.bold td {
    font-weight: 600; }
  .table-employee table tbody td.off {
    background: #ebf0f8; }
  .table-employee table tbody td:nth-child(2) {
    text-align: left; }

.project__setting p.des {
  color: #737a86;
  margin-bottom: 2rem; }
  .project__setting p.des a:hover {
    text-decoration: underline; }

.project__setting .recent__project .content {
  padding-bottom: 0 !important; }
  .project__setting .recent__project .content h4.title {
    font-weight: 500; }
  .project__setting .recent__project .content p {
    font-weight: 600; }

.project__setting h3.title {
  font-weight: 600;
  margin-bottom: 1rem; }

.project__setting ul {
  list-style-type: disc;
  margin-bottom: 1.5rem;
  padding: 2rem; }
  .project__setting ul li {
    font-size: 1.6rem;
    color: #737a86;
    margin-bottom: 5px; }

.project-setting-info form .form-field {
  margin-bottom: 3rem; }
  .project-setting-info form .form-field h3.title {
    margin-bottom: 1rem; }
  .project-setting-info form .form-field.ckEditor {
    width: 100%;
    max-width: 83rem; }
    .project-setting-info form .form-field.ckEditor .ck-content {
      height: 15rem; }
      .project-setting-info form .form-field.ckEditor .ck-content * {
        word-wrap: break-word; }
  .project-setting-info form .form-field h3.title {
    font-weight: 600; }
    .project-setting-info form .form-field h3.title span {
      color: #fe0000; }

.project-issues-type table td {
  padding: 1rem 2rem;
  border: 1px solid #d8dee9;
  font-size: 1.6rem; }
  .project-issues-type table td:nth-child(1) {
    min-width: 25rem;
    padding-left: 4rem; }
    .project-issues-type table td:nth-child(1) img {
      margin-right: 1rem;
      width: 20px;
      vertical-align: middle; }
  .project-issues-type table td:nth-child(2) {
    width: 100%; }
  .project-issues-type table td:nth-child(3) {
    min-width: 5rem;
    text-align: center;
    color: #e7806a; }

.project-issues-type table thead {
  background: #ebf0f8; }
  .project-issues-type table thead td {
    font-size: 1.8rem;
    color: #737a86;
    font-weight: 600; }

.project-issues-type table tbody td:nth-child(1) {
  color: #5f97ff; }

.project-setting-member .project__tools {
  display: -webkit-box;
  display: flex; }
  .project-setting-member .project__tools .field {
    margin-right: 2rem; }

.project-setting-member table {
  margin-top: 4rem;
  width: 100%; }
  .project-setting-member table td {
    padding: 5px 2rem;
    font-size: 1.6rem;
    border: 1px solid #d8dee9; }
    .project-setting-member table td:nth-child(2) {
      min-width: 15rem;
      text-align: center; }
  .project-setting-member table thead {
    background: #ebf0f8; }
    .project-setting-member table thead td {
      padding: 1rem 2rem;
      font-size: 1.8rem;
      color: #737a86;
      font-weight: 600; }
      .project-setting-member table thead td:nth-child(1) span {
        position: relative; }
        .project-setting-member table thead td:nth-child(1) span.caret {
          position: absolute;
          right: 0;
          top: 0; }
          .project-setting-member table thead td:nth-child(1) span.caret.up {
            -webkit-transform: translate(150%, -15%);
            transform: translate(150%, -15%);
            opacity: 0.5; }
          .project-setting-member table thead td:nth-child(1) span.caret.down {
            -webkit-transform: translate(150%, 15%);
            transform: translate(150%, 15%); }
  .project-setting-member table tbody td:nth-child(1), .project-setting-member table tbody td:nth-child(3) {
    color: #5f97ff; }
    .project-setting-member table tbody td:nth-child(1) img, .project-setting-member table tbody td:nth-child(3) img {
      width: 20px;
      margin-right: 1rem;
      border-radius: 50%;
      vertical-align: middle; }
  .project-setting-member table tbody td:nth-child(3) {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between; }

/* ===============================================================================
   5. Reponsive
   ===============================================================================
*/
@media (max-width: 991px) {
  main.active {
    padding-left: 13rem; }
  header {
    margin-bottom: 2rem; } }

@media (max-width: 768px) {
  .search.js--search {
    max-width: 100% !important; }
    .search.js--search .recent__project {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start !important;
      align-items: flex-start !important; }
      .search.js--search .recent__project .item {
        max-width: 100% !important;
        -webkit-box-flex: 0 !important;
        flex: 0 0 100% !important;
        margin: 0 0 2rem 0 !important; } }

@media (max-width: 512px) {
  nav {
    width: 9rem !important; }
    nav .nav__logo {
      padding: 2rem 1rem 1rem 1rem !important; }
      nav .nav__logo img {
        width: 90%; }
    nav .nav__avatar {
      padding: 5px 0 !important; }
      nav .nav__avatar img {
        width: 90%; }
  .nav__expand {
    left: 9rem !important; }
  main,
  main.active {
    padding-left: 11rem !important; }
  .search.js--search {
    padding: 2rem 3rem; }
    .search.js--search .close {
      top: 10px;
      left: 10px; }
    .search.js--search .close img {
      width: 15px; } }

@media (max-width: 991px) {
  .table__all__issues {
    overflow: scroll; }
    .table__all__issues td:nth-child(1), .table__all__issues td:nth-child(4) {
      min-width: 5.5rem; }
    .table__all__issues td:nth-child(2) {
      min-width: 20rem; }
    .table__all__issues td:nth-child(3) {
      min-width: 50rem; } }

@media (max-width: 512px) {
  .issues__header {
    flex-wrap: wrap; }
    .issues__header h1.title {
      margin-bottom: 1rem; } }

@media (max-width: 991px) {
  .project__header {
    flex-wrap: wrap; }
    .project__header h1.title {
      margin-bottom: 1rem; }
  .project__body .recent__project {
    flex-wrap: wrap; }
  .project__body .project__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .project__body .project__tools .field {
      margin: 0 0 1rem 0 !important; }
  .table-project {
    overflow: scroll; }
    .table-project table td:nth-child(1), .table-project table td:nth-child(6) {
      min-width: 5rem; }
    .table-project table td:nth-child(2) {
      min-width: 28rem; }
    .table-project table td:nth-child(3) {
      min-width: 11rem; }
    .table-project table td:nth-child(4) {
      min-width: 20rem; }
    .table-project table td:nth-child(5) {
      min-width: 18rem; } }

@media (max-width: 1000px) {
  .tempo__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .tempo__header .calendar {
      margin: 0 0 2rem 0 !important; }
    .tempo__header .header__item.right {
      flex-wrap: wrap; }
      .tempo__header .header__item.right .button,
      .tempo__header .header__item.right button {
        margin-bottom: 1rem;
        white-space: nowrap; }
      .tempo__header .header__item.right .button button {
        margin-bottom: 0; } }

@media (max-width: 1200px) {
  .tempo-employee__header .avatar img {
    width: 40px !important;
    height: 40px !important; }
  .tempo-employee__header button {
    padding: 1rem 3rem !important;
    font-size: 14px !important; }
  .tempo-employee__header .button {
    padding: .6rem 1rem !important; } }

@media (max-width: 1075px) {
  .tempo-employee__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .tempo-employee__header .calendar {
      margin-bottom: 1rem; }
    .tempo-employee__header .header__item {
      margin-bottom: 2rem; }
      .tempo-employee__header .header__item.left {
        -webkit-box-pack: start;
        justify-content: flex-start;
        width: 100%; }
      .tempo-employee__header .header__item.right {
        -webkit-box-align: center;
        align-items: center; } }

@media (max-width: 768px) {
  .table-employee .subTable {
    top: 68% !important; } }

@media (max-width: 512px) {
  .tempo-employee__header .name h4 {
    font-size: 14px !important; }
  .tempo-employee__header .name p {
    font-size: 12px !important; }
  .tempo-employee__header .js--create {
    font-size: 12px !important;
    padding: 1rem !important; } }

@media (max-width: 1440px) {
  .people__body .people__items .people__item {
    max-width: calc(100% / 6 - 5rem);
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 6 - 5rem);
    min-width: 100px; } }

@media (max-width: 768px) {
  .people__body {
    padding: 0; } }

@media (max-width: 555px) {
  header.people,
  .header__item.right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
  button {
    margin: 5px 0; }
  .people__item {
    margin-right: 1rem !important; } }

@media (max-width: 991px) {
  .blacklog__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important; }
    .blacklog__tools .field {
      margin: 2rem 0; }
  .blacklog__tabs .tabs__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .blacklog__tabs .tabs__heading .tabs__item {
      margin-bottom: 1rem; }
  .project {
    padding: 0 !important; }
  .tabs__expand .backlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .tabs__expand .backlog .backlog__item {
      margin-bottom: 1rem; } }

@media (max-width: 512px) {
  .backlog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .backlog__header .header__item {
      margin-bottom: 1rem; }
  .tabs__heading .tabs__item button {
    font-size: 12px;
    padding: 8px; }
    .tabs__heading .tabs__item button:not(:last-child) {
      margin-right: .5rem !important; } }

@media (max-width: 1100px) {
  .board__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .board__tools .field,
    .board__tools button,
    .board__tools .people {
      margin: 0 0 1rem 0 !important; }
    .board__tools .people {
      margin-left: 1rem !important; }
  .board__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .board__header .header__item {
      margin: 0 0 1rem 0 !important; } }

@media (max-width: 991px) {
  .board__body table .project {
    padding: 1rem !important; } }

@media (max-width: 615px) {
  .board__header .header__item.right {
    flex-wrap: wrap; }
    .board__header .header__item.right span {
      white-space: nowrap; } }

@media (max-width: 555px) {
  .board__header .header__item.right {
    -webkit-box-align: start;
    align-items: flex-start; } }

@media (max-width: 991px) {
  .reports__body .reports__item {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 3 - 15px);
    max-width: calc(100% / 3 - 15px); } }

@media (max-width: 768px) {
  .reports__body .reports__item {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 2 - 15px);
    max-width: calc(100% / 2 - 15px); } }

@media (max-width: 512px) {
  .reports__body .reports__item {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% - 15px);
    max-width: calc(100% - 15px); }
    .reports__body .reports__item img {
      width: 50% !important; } }

@media (max-width: 1200px) {
  .table-releases {
    overflow: scroll; }
    .table-releases table td:nth-child(1) {
      min-width: 18rem; }
    .table-releases table td:nth-child(5) {
      min-width: 32rem; } }

@media (max-width: 512px) {
  .releases__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important; }
    .releases__header .header__item {
      margin-bottom: 1rem !important; }
  .releases__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important; }
    .releases__tools .field {
      margin: 0 0 1rem 0 !important; } }

@media (max-width: 991px) {
  .table-epic {
    overflow: scroll; }
    .table-epic table td:nth-child(2) {
      padding: 1rem 2rem !important; } }

@media (max-width: 512px) {
  .epic__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important; }
    .epic__header .header__item {
      margin-bottom: 1rem !important; }
  .epic__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important; }
    .epic__tools .field {
      margin: 0 0 1rem 0 !important; }
  .table-epic table td:nth-child(1), .table-epic table td:nth-child(2) {
    min-width: 20rem; } }

@media (max-width: 991px) {
  .issue-details {
    flex-wrap: wrap; }
    .issue-details .issue__left {
      padding-right: 0 !important; }
    .issue-details .issue__right {
      position: relative;
      width: 100%;
      padding: 3rem 0;
      height: auto; }
      .issue-details .issue__right .issue__close {
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 2; }
      .issue-details .issue__right:before {
        display: none; }
  .issue__body .filter {
    flex-wrap: wrap; }
    .issue__body .filter button {
      white-space: nowrap; } }

@media (max-width: 991px) {
  .table-project-setting-member {
    overflow: scroll; }
    .table-project-setting-member table td:nth-child(1) {
      min-width: 20rem; }
    .table-project-setting-member table td:nth-child(2) {
      min-width: 20rem; }
    .table-project-setting-member table td:nth-child(3) {
      min-width: 45rem; } }

@media (max-width: 768px) {
  .project__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .project__tools .field {
      margin-bottom: 1rem; } }

@media (max-width: 1100px) {
  .table-issue-type {
    overflow: scroll; }
    .table-issue-type table td:nth-child(2) {
      min-width: 57rem; } }

@media (max-width: 991px) {
  .popup .popup__item {
    padding: 2rem;
    max-height: 95vh;
    overflow: scroll; } }

@media (max-width: 768px) {
  .popup__item {
    width: 95%; } }
