@import '../../variables/variables.scss';
ul.pagination {
  li {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    border: 1px solid $red-light;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center;
    line-height: 4rem;
    font-size: 1.6rem;
    color: $red-light;
    cursor: pointer;
    &:not(:last-child){
      margin-right: .5rem;
    }

    &:hover,
    &.active {
      background: $red-light;
      color: #fff;
    }
  }
}