ul.pagination li {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  border: 1px solid #e7806a;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  color: #e7806a;
  cursor: pointer; }
  ul.pagination li:not(:last-child) {
    margin-right: .5rem; }
  ul.pagination li:hover, ul.pagination li.active {
    background: #e7806a;
    color: #fff; }
