@media (max-width: 991px) {
  .table-project-setting-member {
    overflow: scroll;

    table {
      td {
        &:nth-child(1) {
          min-width: 20rem;
        }

        &:nth-child(2) {
          min-width: 20rem;
        }

        &:nth-child(3) {
          min-width: 45rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .project__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;

    .field {
      margin-bottom: 1rem;
    }
  }
}