.popup.tempo-employee .popup__item {
  padding: 4.5rem 4rem;
  width: 74rem; }
  @media (max-width: 768px) {
    .popup.tempo-employee .popup__item {
      width: 90%; }
      .popup.tempo-employee .popup__item .input-field:nth-of-type(4) {
        margin-top: 2rem; } }

.popup.tempo-employee .input-field {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem; }

.popup.tempo-employee .field {
  width: 100%; }

.popup.tempo-employee h6 {
  font-weight: 600; }

.popup.tempo-employee .name {
  font-weight: 600;
  font-size: 1.6rem; }

.popup.tempo-employee span.checkmark {
  margin-top: 5px;
  width: 20px;
  height: 20px; }
  .popup.tempo-employee span.checkmark:after {
    width: 10px;
    height: 20px;
    border-width: 0 5px 5px 0; }

.tempo-employee__header .header__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.tempo-employee__header .calendar {
  color: #737a86;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-right: 2rem; }
  .tempo-employee__header .calendar:hover span {
    opacity: 0.8; }
  .tempo-employee__header .calendar span {
    display: inline-block;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 10px; }

.tempo-employee__header .header__item.left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px; }

.tempo-employee__header .header__item.left .name {
  margin-right: 10px; }
  .tempo-employee__header .header__item.left .name h4 {
    font-size: 2rem; }
  .tempo-employee__header .header__item.left .name p {
    color: #737a86; }

.tempo-employee__header .header__item.right .button {
  margin-right: 10px;
  padding: 0.6rem 2rem;
  color: #737a86;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d8dee9; }
  .tempo-employee__header .header__item.right .button button {
    margin-left: 10px; }

.table-employee {
  overflow: scroll;
  width: 100%;
  height: 80rem;
  position: relative; }
  .table-employee table.subTable {
    position: absolute;
    right: 0;
    top: 52%; }
    .table-employee table.subTable td {
      max-width: 16rem !important;
      min-width: 16rem !important;
      text-align: center !important; }
  .table-employee table tr.gray {
    background: #fbfbfc; }
    .table-employee table tr.gray td {
      font-weight: 600; }
  .table-employee table td {
    font-size: 14px;
    padding: 1rem;
    text-align: center;
    min-width: 8rem;
    border: 1px solid #d8dee9; }
    .table-employee table td:nth-child(2) {
      min-width: 35rem; }
    .table-employee table td:nth-child(3) {
      min-width: 18rem; }
  .table-employee table thead {
    background: #ebf0f8; }
    .table-employee table thead td {
      padding: 1rem 1rem;
      color: #737a86;
      font-weight: 600; }
  .table-employee table tbody tr.bold td {
    font-weight: 600; }
  .table-employee table tbody td.off {
    background: #ebf0f8; }
  .table-employee table tbody td:nth-child(2) {
    text-align: left; }
