@import '../../variables/variables.scss';

.popup.tempo-employee {
  .popup__item {
    padding: 4.5rem 4rem;
    width: 74rem;
    @media (max-width: 768px){
      width: 90%;
      .input-field:nth-of-type(4){
        margin-top: 2rem;
      }
    }
  }

  .input-field {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  .field {
    width: 100%;
  }

  h6 {
    font-weight: 600;
  }

  .name {
    font-weight: 600;
    font-size: 1.6rem;
  }

  span.checkmark {
    margin-top: 5px;
    width: 20px;
    height: 20px;

    &:after {
      width: 10px;
      height: 20px;
      border-width: 0 5px 5px 0;
    }
  }
}

.tempo-employee__header {
  .header__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .calendar {
    color: $gray;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-right: 2rem;

    &:hover span {
      opacity: 0.8;
    }

    span {
      display: inline-block;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      margin: 0 10px;
    }
  }

  .header__item.left {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .name {
      margin-right: 10px;

      h4 {
        font-size: 2rem;
      }

      p {
        color: $gray;
      }
    }
  }

  .header__item.right {
    .button {
      margin-right: 10px;
      padding: 0.6rem 2rem;
      color: $gray;
      font-weight: 600;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid $gray-light;

      button {
        margin-left: 10px;
      }
    }
  }
}

.table-employee {
  overflow: scroll;
  width: 100%;
  height: 80rem;
  position: relative;

  table {
    &.subTable {
      position: absolute;
      right: 0;
      top: 52%;

      td {
        max-width: 16rem !important;
        min-width: 16rem !important;
        text-align: center !important;
      }
    }

    tr {
      &.gray {
        background: #fbfbfc;

        td {
          font-weight: 600;
        }
      }
    }

    td {
      font-size: 14px;
      padding: 1rem;
      text-align: center;
      min-width: 8rem;
      border: 1px solid #d8dee9;

      &:nth-child(2) {
        min-width: 35rem;
      }

      &:nth-child(3) {
        min-width: 18rem;
      }
    }

    thead {
      background: #ebf0f8;

      td {
        padding: 1rem 1rem;
        color: $gray;
        font-weight: 600;
      }
    }

    tbody {
      tr.bold td {
        font-weight: 600;
      }

      td.off {
        background: #ebf0f8;
      }

      td:nth-child(2) {
        text-align: left;
      }
    }
  }
}