@media (max-width: 991px) {
  .project__header {
    flex-wrap: wrap; }
    .project__header h1.title {
      margin-bottom: 1rem; }
  .project__body .recent__project {
    flex-wrap: wrap; }
  .project__body .project__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start; }
    .project__body .project__tools .field {
      margin: 0 0 1rem 0 !important; }
  .table-project {
    overflow: scroll; }
    .table-project table td:nth-child(1), .table-project table td:nth-child(6) {
      min-width: 5rem; }
    .table-project table td:nth-child(2) {
      min-width: 28rem; }
    .table-project table td:nth-child(3) {
      min-width: 11rem; }
    .table-project table td:nth-child(4) {
      min-width: 20rem; }
    .table-project table td:nth-child(5) {
      min-width: 18rem; } }
