@media (max-width: 991px) {

  .project__header {
    flex-wrap: wrap;

    h1.title {
      margin-bottom: 1rem;
    }
  }

  .project__body {
    .recent__project {
      flex-wrap: wrap;
    }

    .project__tools {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start;
      align-items: flex-start;

      .field {
        margin: 0 0 1rem 0 !important;
      }
    }
  }

  .table-project {
    overflow: scroll;

    table {
      td {

        &:nth-child(1),
        &:nth-child(6) {
          min-width: 5rem;
        }

        &:nth-child(2) {
          min-width: 28rem;
        }

        &:nth-child(3) {
          min-width: 11rem;
        }

        &:nth-child(4) {
          min-width: 20rem;
        }

        &:nth-child(5) {
          min-width: 18rem;
        }
      }
    }
  }
}