.popup.project .popup__item {
  width: 76.8rem; }
  @media (max-width: 768px) {
    .popup.project .popup__item {
      width: 90%; }
      .popup.project .popup__item .col-12 {
        padding: 0; } }

.project__body h3.title {
  margin-bottom: 1.5rem; }

.project__body .recent__project {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem; }
  .project__body .recent__project .recent__item {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    max-width: 26rem;
    -webkit-box-flex: 0;
    flex: 0 0 26rem;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    border: 1px solid #e7806a;
    margin-bottom: 2rem;
    background: #fff1ef; }
    .project__body .recent__project .recent__item:hover {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    .project__body .recent__project .recent__item:not(:last-of-type) {
      margin-right: 1.5rem; }
    .project__body .recent__project .recent__item .heading {
      display: -webkit-box;
      display: flex; }
      .project__body .recent__project .recent__item .heading .icon img {
        width: 3rem;
        margin-right: 1.5rem; }
      .project__body .recent__project .recent__item .heading .content {
        padding-bottom: 1.5rem; }
        .project__body .recent__project .recent__item .heading .content h4 {
          font-size: 2rem;
          color: #e7806a; }
    .project__body .recent__project .recent__item .footer {
      border-top: 1px solid #e7806a;
      padding-top: 1.5rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center; }
      .project__body .recent__project .recent__item .footer img {
        width: 20px;
        margin-right: 10px; }
      .project__body .recent__project .recent__item .footer p {
        color: #9fa9ba;
        font-size: 14px; }

.project__body .project__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .project__body .project__tools .field:not(:last-of-type) {
    margin-right: 2rem; }

.project__body table {
  margin: 4rem 0; }
  .project__body table td {
    font-size: 1.8rem;
    padding: 2rem;
    color: #737a86; }
    .project__body table td:not(:last-child) {
      border-right: 1px solid #d8dee9; }
    .project__body table td:nth-child(1) {
      color: #5f97ff; }
    .project__body table td:nth-child(1), .project__body table td:nth-child(3), .project__body table td:nth-child(5), .project__body table td:nth-child(6) {
      text-align: center; }
    .project__body table td:nth-child(2) {
      width: 40%; }
    .project__body table td:nth-child(3) {
      width: 15%; }
    .project__body table td:nth-child(4) {
      width: 25%; }
    .project__body table td:nth-child(5) {
      width: 20%; }
    .project__body table td:nth-child(6) {
      width: 5rem; }
  .project__body table thead td {
    font-weight: 600; }
    .project__body table thead td:nth-of-type(2) span, .project__body table thead td:nth-of-type(3) span, .project__body table thead td:nth-of-type(4) span, .project__body table thead td:nth-of-type(5) span {
      position: relative; }
      .project__body table thead td:nth-of-type(2) span.caret, .project__body table thead td:nth-of-type(3) span.caret, .project__body table thead td:nth-of-type(4) span.caret, .project__body table thead td:nth-of-type(5) span.caret {
        position: absolute;
        right: 0;
        top: 0; }
        .project__body table thead td:nth-of-type(2) span.caret.up, .project__body table thead td:nth-of-type(3) span.caret.up, .project__body table thead td:nth-of-type(4) span.caret.up, .project__body table thead td:nth-of-type(5) span.caret.up {
          -webkit-transform: translate(150%, -15%);
          transform: translate(150%, -15%);
          opacity: 0.5; }
        .project__body table thead td:nth-of-type(2) span.caret.down, .project__body table thead td:nth-of-type(3) span.caret.down, .project__body table thead td:nth-of-type(4) span.caret.down, .project__body table thead td:nth-of-type(5) span.caret.down {
          -webkit-transform: translate(150%, 15%);
          transform: translate(150%, 15%); }
  .project__body table tbody td {
    color: #000; }
    .project__body table tbody td:nth-child(2) a {
      color: #5f97ff; }
      .project__body table tbody td:nth-child(2) a:hover {
        text-decoration: underline; }
    .project__body table tbody td:nth-child(4) {
      display: -webkit-box;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
      align-items: center;
      color: #5f97ff; }
      .project__body table tbody td:nth-child(4) img {
        width: 30px;
        margin-right: 10px;
        border-radius: 50%; }
    .project__body table tbody td:nth-child(6) {
      color: #e7806a; }
