@import '../../variables/variables.scss';

.popup.project {
  .popup__item {
    width: 76.8rem;
    @media (max-width: 768px) {
      width: 90%;
      .col-12 {
        padding: 0;
      }
    }
  }
}

.project__body {
  h3.title {
    margin-bottom: 1.5rem;
  }

  .recent__project {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .recent__item {
      &:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }

      -webkit-transition: .3s ease;

      transition: .3s ease;
      max-width: 26rem;
      -webkit-box-flex: 0;
      flex: 0 0 26rem;
      padding: 2.5rem 1.5rem;
      border-radius: 10px;
      border: 1px solid $red-light;
      margin-bottom: 2rem;
      background: #fff1ef;

      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }

      .heading {
        display: -webkit-box;
        display: flex;

        .icon {
          img {
            width: 3rem;
            margin-right: 1.5rem;
          }
        }

        .content {
          h4 {
            font-size: 2rem;
            color: $red-light;
          }

          padding-bottom: 1.5rem;
        }
      }

      .footer {
        border-top: 1px solid $red-light;
        padding-top: 1.5rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;

        img {
          width: 20px;
          margin-right: 10px;
        }

        p {
          color: #9fa9ba;
          font-size: 14px;
        }
      }
    }
  }

  .project__tools {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .field {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }

  table {
    margin: 4rem 0;

    td {
      font-size: 1.8rem;
      padding: 2rem;
      color: $gray;

      &:not(:last-child) {
        border-right: 1px solid $gray-light;
      }

      &:nth-child(1) {
        color: $blue;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(6) {
        text-align: center;
      }

      &:nth-child(2) {
        width: 40%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 25%;
      }

      &:nth-child(5) {
        width: 20%;
      }

      &:nth-child(6) {
        width: 5rem;
      }
    }

    thead {
      td {
        font-weight: 600;

        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          span {
            position: relative;

            &.caret {
              position: absolute;
              right: 0;
              top: 0;

              &.up {
                -webkit-transform: translate(150%, -15%);
                transform: translate(150%, -15%);
                opacity: 0.5;
              }

              &.down {
                -webkit-transform: translate(150%, 15%);
                transform: translate(150%, 15%);
              }
            }
          }
        }
      }
    }

    tbody {
      td {
        color: #000;

        &:nth-child(2) {
          a {
            color: $blue;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:nth-child(4) {
          display: -webkit-box;
          display: flex;
          width: 100%;
          -webkit-box-align: center;
          align-items: center;
          color: $blue;

          img {
            width: 30px;
            margin-right: 10px;
            border-radius: 50%;
          }
        }

        &:nth-child(6) {
          color: $red-light;
        }
      }
    }

  }
}