.field-number {
  border-radius: 5px;
  border: 1px solid #d8dee9;
  width: 9rem;
  padding: 1rem 0 1rem 2rem; }
  .field-number input {
    outline: none;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.6rem; }
    .field-number input::-webkit-outer-spin-button, .field-number input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
