@import '../../variables/variables.scss';

.field-number {
  border-radius: 5px;
  border: 1px solid $gray-light;
  width: 9rem;
  padding: 1rem 0 1rem 2rem;

  input {
    outline: none;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.6rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}