@import '../../variables/variables.scss';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 11rem;
  background: $gray-dark;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  z-index: 10;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  &:hover {
    background: #4e5258;
  }

  .nav__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    .sub__avatar {
      position: absolute;
      left: 100%;
      bottom: 0;
      background: #fff;
      border-radius: 5px;
      z-index: 2;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      width: 20rem;
      overflow: hidden;
      padding: 2rem 1.5rem;
      -webkit-transform: translateY(100%);
              transform: translateY(100%);

      &.active {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }

      li {
        margin-bottom: 2rem;

        img {
          width: 20px;
          margin-left: 10px;
        }

        a {
          font-size: 1.6rem;
          display: block;
          &:hover {
            opacity: 0.7;
          }

        }
      }
    }

    .line {
      padding: 0 2rem;
      height: 2px;
      background: #2c2e33;
      border-bottom: 1px solid #535860;
      width: 100%;
    }

    .nav__logo {
      width: 100%;
      padding: 2px;
      padding: 2.5rem;
      &:hover {
        img {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
        }
      }
      img {
        -webkit-transition: .3s ease;
        transition: .3s ease;
        pointer-events: none;
      }

    }

    .nav__avatar {
      padding: 2rem;
      &.active {
        img {
          border: 2px solid $red-light;
        }
      }

      img {
        border-radius: 50%;
        pointer-events: none;
        border: 2px solid transparent;
        -webkit-transition: .3s ease;
        transition: .3s ease;
      }
    }

    .nav__tools {
      button {
        outline: none;
        margin-bottom: 2.5rem;
        border: 0;
        background: transparent;
        display: block;
        cursor: pointer;
        -webkit-transition: .3s ease;
        transition: .3s ease;

        &.bell {
          position: relative;

          &:before {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            color: #fff;
            font-size: 10px;
            content: '3';
            background: $red-light;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            -webkit-transform: translateX(50%);
                    transform: translateX(50%);
          }
        }

        &:hover {
          opacity: .7;
        }

        img {
          width: 20px;
        }
      }
    }
  }
}
main {
  padding: 1.5rem 2rem 1.5rem 13rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%;
  &.active {
    padding: 1.5rem 2rem 1.5rem 35rem;
  }
}