nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 11rem;
  background: #41454b;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  z-index: 10;
  -webkit-transition: .2s ease;
  transition: .2s ease; }
  nav:hover {
    background: #4e5258; }
  nav .nav__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    nav .nav__item .sub__avatar {
      position: absolute;
      left: 100%;
      bottom: 0;
      background: #fff;
      border-radius: 5px;
      z-index: 2;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      width: 20rem;
      overflow: hidden;
      padding: 2rem 1.5rem;
      -webkit-transform: translateY(100%);
      transform: translateY(100%); }
      nav .nav__item .sub__avatar.active {
        -webkit-transform: translateY(0);
        transform: translateY(0); }
      nav .nav__item .sub__avatar li {
        margin-bottom: 2rem; }
        nav .nav__item .sub__avatar li img {
          width: 20px;
          margin-left: 10px; }
        nav .nav__item .sub__avatar li a {
          font-size: 1.6rem;
          display: block; }
          nav .nav__item .sub__avatar li a:hover {
            opacity: 0.7; }
    nav .nav__item .line {
      padding: 0 2rem;
      height: 2px;
      background: #2c2e33;
      border-bottom: 1px solid #535860;
      width: 100%; }
    nav .nav__item .nav__logo {
      width: 100%;
      padding: 2px;
      padding: 2.5rem; }
      nav .nav__item .nav__logo:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      nav .nav__item .nav__logo img {
        -webkit-transition: .3s ease;
        transition: .3s ease;
        pointer-events: none; }
    nav .nav__item .nav__avatar {
      padding: 2rem; }
      nav .nav__item .nav__avatar.active img {
        border: 2px solid #e7806a; }
      nav .nav__item .nav__avatar img {
        border-radius: 50%;
        pointer-events: none;
        border: 2px solid transparent;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
    nav .nav__item .nav__tools button {
      outline: none;
      margin-bottom: 2.5rem;
      border: 0;
      background: transparent;
      display: block;
      cursor: pointer;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      nav .nav__item .nav__tools button.bell {
        position: relative; }
        nav .nav__item .nav__tools button.bell:before {
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 50%;
          color: #fff;
          font-size: 10px;
          content: '3';
          background: #e7806a;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 18px;
          -webkit-transform: translateX(50%);
          transform: translateX(50%); }
      nav .nav__item .nav__tools button:hover {
        opacity: .7; }
      nav .nav__item .nav__tools button img {
        width: 20px; }

main {
  padding: 1.5rem 2rem 1.5rem 13rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%; }
  main.active {
    padding: 1.5rem 2rem 1.5rem 35rem; }
