.popup.releases .field {
  width: 100%; }

@media (max-width: 991px) {
  .popup.releases .field-date {
    width: 100%; } }

.releases__body .releases__tools {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .releases__body .releases__tools .field:not(:last-of-type) {
    margin-right: 2.5rem; }

.releases__body table {
  width: 100%;
  margin: 4rem 0; }
  .releases__body table td {
    padding: 2rem; }
    .releases__body table td:not(:last-child) {
      border-right: 1px solid #d8dee9; }
    .releases__body table td:nth-child(2), .releases__body table td:nth-child(3), .releases__body table td:nth-child(6) {
      text-align: center; }
    .releases__body table td:nth-child(1) {
      width: 40%; }
    .releases__body table td:nth-child(2), .releases__body table td:nth-child(3), .releases__body table td:nth-child(4) {
      min-width: 16rem; }
    .releases__body table td:nth-child(5) {
      width: 60%; }
    .releases__body table td:nth-child(6) {
      color: #e7806a;
      min-width: 50px; }
  .releases__body table thead td {
    font-weight: 600;
    font-size: 1.8rem;
    color: #737a86; }
    .releases__body table thead td:nth-child(1) span, .releases__body table thead td:nth-child(4) span, .releases__body table thead td:nth-child(5) span {
      position: relative; }
      .releases__body table thead td:nth-child(1) span.caret, .releases__body table thead td:nth-child(4) span.caret, .releases__body table thead td:nth-child(5) span.caret {
        position: absolute;
        right: 0;
        top: 0; }
        .releases__body table thead td:nth-child(1) span.caret.up, .releases__body table thead td:nth-child(4) span.caret.up, .releases__body table thead td:nth-child(5) span.caret.up {
          -webkit-transform: translate(150%, -15%);
          transform: translate(150%, -15%);
          opacity: 0.5; }
        .releases__body table thead td:nth-child(1) span.caret.down, .releases__body table thead td:nth-child(4) span.caret.down, .releases__body table thead td:nth-child(5) span.caret.down {
          -webkit-transform: translate(150%, 15%);
          transform: translate(150%, 15%); }
  .releases__body table tbody {
    font-size: 1.6rem; }
    .releases__body table tbody td:nth-child(1) {
      color: #5f97ff; }
    .releases__body table tbody td:nth-child(3) .progress {
      width: 100%;
      height: 8px;
      background: #08a100;
      border-radius: 5px; }
    .releases__body table tbody td:nth-child(4) {
      color: #e7806a; }
    .releases__body table tbody td:nth-child(5) {
      width: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center; }
      .releases__body table tbody td:nth-child(5) button {
        margin-left: 10px; }
