@import '../../variables/variables.scss';

.popup.releases .field {
  width: 100%;
}

.popup.releases .field-date {
  @media (max-width: 991px){
    width: 100%;
  }
}

.releases__body {
  .releases__tools {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .field {
      &:not(:last-of-type) {
        margin-right: 2.5rem;
      }
    }
  }

  table {
    width: 100%;
    margin: 4rem 0;

    td {
      padding: 2rem;

      &:not(:last-child) {
        border-right: 1px solid #d8dee9;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6) {
        text-align: center;
      }

      &:nth-child(1) {
        width: 40%;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        min-width: 16rem;
      }

      &:nth-child(5) {
        width: 60%;
      }


      &:nth-child(6) {
        color: $red-light;
        min-width: 50px;
      }
    }

    thead {
      td {
        font-weight: 600;
        font-size: 1.8rem;
        color: $gray;

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5) {
          span {
            position: relative;

            &.caret {
              position: absolute;
              right: 0;
              top: 0;

              &.up {
                -webkit-transform: translate(150%, -15%);
                transform: translate(150%, -15%);
                opacity: 0.5;
              }

              &.down {
                -webkit-transform: translate(150%, 15%);
                transform: translate(150%, 15%);
              }
            }
          }
        }
      }
    }

    tbody {
      font-size: 1.6rem;

      td {
        &:nth-child(1) {
          color: $blue;
        }

        &:nth-child(3) {
          .progress {
            width: 100%;
            height: 8px;
            background: $green;
            border-radius: 5px;
          }
        }

        &:nth-child(4) {
          color: $red-light;
        }

        &:nth-child(5) {
          width: 100%;
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;

          button {
            margin-left: 10px;
          }
        }
      }
    }
  }
}