.custom-scroll-bar {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .custom-scroll-bar ::-webkit-scrollbar {
    width: 5px; }
  .custom-scroll-bar ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #d8dee9; }
  .custom-scroll-bar ::-webkit-scrollbar-thumb {
    background: #e7806a;
    border-radius: 10px; }
  .custom-scroll-bar ::-webkit-scrollbar-thumb:hover {
    background: #fe0000; }
