@import '../../variables/variables.scss';
.custom-scroll-bar {
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #d8dee9
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $red-light; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $red; 
  }
}