@import '../../variables/variables.scss';

.popup.issues {
  .ckEditor {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 1rem;

    .ck-content {
      height: 15rem;

      * {
        word-wrap: break-word;
      }
    }
  }

  .button {
    position: absolute;
    top: 5rem;
    right: 6rem;
    font-size: 14px;
    color: $gray;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    border: 1px solid $gray-light;
    cursor: pointer;
    @media (max-width: 991px){
      top: 2rem;
      right: 3.5rem;
    }

    i {
      margin-left: 10px;
    }
  }

  .block__expand {
    position: absolute;
    top: 11rem;
    right: 6rem;
    width: 532px;
    padding: 2rem;
    background: #fff;
    z-index: 10;
    border-radius: 7px;
    box-shadow: 0px 5px 1.5rem 1.6px rgba(140, 140, 140, 0.2);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    @media (max-width: 991px){
      top: 8rem;
      right: 3.5rem;
    }
    @media (max-width: 512px){
      width: 250px;
    }

    &.active {
      opacity: 1;
      pointer-events: unset;
    }

    h6 {
      &.blue-color {
        color: $blue;
      }

      span {
        color: $gray;

        &.blue-color {
          color: $blue;
        }
      }
    }

    .heading {
      padding-bottom: 1rem;
      border-bottom: 1px solid $gray;
      margin-bottom: 1rem;

      a {
        font-size: 1.6rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .body {
      flex-wrap: wrap;
      -webkit-box-align: start;
      align-items: flex-start;

      label {
        margin-bottom: 1rem;
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
    @media (max-width: 512px) {
      font-size: 2rem;
      margin: 1rem 0 3rem;
    }
  }

  .field.custom-select {
    position: relative;

    img {
      position: absolute;
      width: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 10px;
    }
  }

  .input-field {
    margin-bottom: 1rem;
  }

  .field {
    width: 100%;
  }

  .drop-attachment {
    padding: 15px;
    border: 1px dashed $gray;
    border-radius: 5px;

    img {
      margin-right: 5px;
    }
  }
}

.issues__body {
  .issues__recent {
    h2.title {
      margin-bottom: 1.5rem;
    }

    .recent__items {
      .recent__item {
        display: -webkit-box;
        display: flex;
        margin-bottom: 1rem;

        img {
          max-width: 20px;
          -webkit-box-flex: 0;
          flex: 0 0 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  .issues__tools {
    display: -webkit-box;
    display: flex;
    margin: 4rem 0;
    flex-wrap: wrap;

    .field {
      min-width: 16rem;
      margin-bottom: 2rem;

      &:not(:last-of-type) {
        margin-right: 2.5rem;
      }
    }
  }

  .table__all__issues {
    overflow: scroll;
  }

  table {
    width: 100%;

    td {
      border: 1px solid #d8dee9;
      min-height: 5rem;
      height: 5rem;
      color: $gray;
      font-size: 1.8rem;
      padding: 1rem;
      font-weight: 400;

      &:first-child {
        text-align: center;

        img {
          width: 20px;
          height: 20px;
        }
      }

      &:nth-child(2) {
        min-width: 15rem;
        text-align: center;
      }
      &:nth-child(3) {
        min-width: 40rem;
        a {
          color: $blue;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(9) {
        min-width: 16rem;
        text-align: center;
      }

      &:nth-child(7) {
        min-width: 16rem;
        text-align: center;
        white-space: nowrap;
      }
              
      &:nth-child(6),
      &:nth-child(10) {
        min-width: 5rem;
        text-align: center;

      }
    }

    thead {
      background: #ebf0f8;

      td {
        font-weight: 600;
        &:nth-child(2),
        &:nth-child(8) {
          span.title {
            position: relative;

            span {
              position: absolute;
              right: 0;
              top: 50%;
              font-size: 14px;
              opacity: 0.5;

              &.active {
                opacity: 1;
              }

              &:nth-child(1) {
                -webkit-transform: translate(150%, -70%);
                transform: translate(150%, -70%);
              }

              &:nth-child(2) {
                -webkit-transform: translate(150%, -30%);
                transform: translate(150%, -30%);
              }
            }
          }
        }
      }
    }

    tbody {
      td {
        &:nth-child(5) {
          padding: 10px 5px;
        }
        &:nth-child(3) {
          color: $blue-text;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          overflow: hidden;
          white-space: nowrap;
        }
        &:nth-child(6),
        &:nth-child(10) {
          text-align: center;
          color: $red-light;
        }
      }
    }
  }

  .pagination {
    margin-top: 2.5rem;
  }
}