.popup.issues .ckEditor {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 1rem; }
  .popup.issues .ckEditor .ck-content {
    height: 15rem; }
    .popup.issues .ckEditor .ck-content * {
      word-wrap: break-word; }

.popup.issues .button {
  position: absolute;
  top: 5rem;
  right: 6rem;
  font-size: 14px;
  color: #737a86;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: 1px solid #d8dee9;
  cursor: pointer; }
  @media (max-width: 991px) {
    .popup.issues .button {
      top: 2rem;
      right: 3.5rem; } }
  .popup.issues .button i {
    margin-left: 10px; }

.popup.issues .block__expand {
  position: absolute;
  top: 11rem;
  right: 6rem;
  width: 532px;
  padding: 2rem;
  background: #fff;
  z-index: 10;
  border-radius: 7px;
  box-shadow: 0px 5px 1.5rem 1.6px rgba(140, 140, 140, 0.2);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  @media (max-width: 991px) {
    .popup.issues .block__expand {
      top: 8rem;
      right: 3.5rem; } }
  @media (max-width: 512px) {
    .popup.issues .block__expand {
      width: 250px; } }
  .popup.issues .block__expand.active {
    opacity: 1;
    pointer-events: unset; }
  .popup.issues .block__expand h6.blue-color {
    color: #5f97ff; }
  .popup.issues .block__expand h6 span {
    color: #737a86; }
    .popup.issues .block__expand h6 span.blue-color {
      color: #5f97ff; }
  .popup.issues .block__expand .heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid #737a86;
    margin-bottom: 1rem; }
    .popup.issues .block__expand .heading a {
      font-size: 1.6rem; }
      .popup.issues .block__expand .heading a:hover {
        text-decoration: underline; }
  .popup.issues .block__expand .body {
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start; }
    .popup.issues .block__expand .body label {
      margin-bottom: 1rem; }

.popup.issues h2 {
  margin-bottom: 2rem; }
  @media (max-width: 512px) {
    .popup.issues h2 {
      font-size: 2rem;
      margin: 1rem 0 3rem; } }

.popup.issues .field.custom-select {
  position: relative; }
  .popup.issues .field.custom-select img {
    position: absolute;
    width: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px; }

.popup.issues .input-field {
  margin-bottom: 1rem; }

.popup.issues .field {
  width: 100%; }

.popup.issues .drop-attachment {
  padding: 15px;
  border: 1px dashed #737a86;
  border-radius: 5px; }
  .popup.issues .drop-attachment img {
    margin-right: 5px; }

.issues__body .issues__recent h2.title {
  margin-bottom: 1.5rem; }

.issues__body .issues__recent .recent__items .recent__item {
  display: -webkit-box;
  display: flex;
  margin-bottom: 1rem; }
  .issues__body .issues__recent .recent__items .recent__item img {
    max-width: 20px;
    -webkit-box-flex: 0;
    flex: 0 0 20px;
    height: 20px;
    margin-right: 10px; }

.issues__body .issues__tools {
  display: -webkit-box;
  display: flex;
  margin: 4rem 0;
  flex-wrap: wrap; }
  .issues__body .issues__tools .field {
    min-width: 16rem;
    margin-bottom: 2rem; }
    .issues__body .issues__tools .field:not(:last-of-type) {
      margin-right: 2.5rem; }

.issues__body .table__all__issues {
  overflow: scroll; }

.issues__body table {
  width: 100%; }
  .issues__body table td {
    border: 1px solid #d8dee9;
    min-height: 5rem;
    height: 5rem;
    color: #737a86;
    font-size: 1.8rem;
    padding: 1rem;
    font-weight: 400; }
    .issues__body table td:first-child {
      text-align: center; }
      .issues__body table td:first-child img {
        width: 20px;
        height: 20px; }
    .issues__body table td:nth-child(2) {
      min-width: 15rem;
      text-align: center; }
    .issues__body table td:nth-child(3) {
      min-width: 40rem; }
      .issues__body table td:nth-child(3) a {
        color: #5f97ff; }
        .issues__body table td:nth-child(3) a:hover {
          text-decoration: underline; }
    .issues__body table td:nth-child(4), .issues__body table td:nth-child(5), .issues__body table td:nth-child(8), .issues__body table td:nth-child(9) {
      min-width: 16rem;
      text-align: center; }
    .issues__body table td:nth-child(7) {
      min-width: 16rem;
      text-align: center;
      white-space: nowrap; }
    .issues__body table td:nth-child(6), .issues__body table td:nth-child(10) {
      min-width: 5rem;
      text-align: center; }
  .issues__body table thead {
    background: #ebf0f8; }
    .issues__body table thead td {
      font-weight: 600; }
      .issues__body table thead td:nth-child(2) span.title, .issues__body table thead td:nth-child(8) span.title {
        position: relative; }
        .issues__body table thead td:nth-child(2) span.title span, .issues__body table thead td:nth-child(8) span.title span {
          position: absolute;
          right: 0;
          top: 50%;
          font-size: 14px;
          opacity: 0.5; }
          .issues__body table thead td:nth-child(2) span.title span.active, .issues__body table thead td:nth-child(8) span.title span.active {
            opacity: 1; }
          .issues__body table thead td:nth-child(2) span.title span:nth-child(1), .issues__body table thead td:nth-child(8) span.title span:nth-child(1) {
            -webkit-transform: translate(150%, -70%);
            transform: translate(150%, -70%); }
          .issues__body table thead td:nth-child(2) span.title span:nth-child(2), .issues__body table thead td:nth-child(8) span.title span:nth-child(2) {
            -webkit-transform: translate(150%, -30%);
            transform: translate(150%, -30%); }
  .issues__body table tbody td:nth-child(5) {
    padding: 10px 5px; }
  .issues__body table tbody td:nth-child(3) {
    color: #669bff;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap; }
  .issues__body table tbody td:nth-child(6), .issues__body table tbody td:nth-child(10) {
    text-align: center;
    color: #e7806a; }

.issues__body .pagination {
  margin-top: 2.5rem; }
