@charset "UTF-8";
.issue-details .issue__left {
  padding-right: calc(45rem - 2rem + 20px); }
  .issue-details .issue__left .issue__body .issue__tools {
    margin-bottom: 2rem; }
  .issue-details .issue__left .issue__content h3.title {
    font-weight: 600; }
  .issue-details .issue__left .issue__content p {
    margin-bottom: 3rem; }
  .issue-details .issue__left .issue__content .attachment {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem; }
    .issue-details .issue__left .issue__content .attachment img {
      max-width: 18rem;
      width: 100%;
      margin-bottom: 2rem; }
      @media (max-width: 512px) {
        .issue-details .issue__left .issue__content .attachment img {
          max-width: 100%;
          margin: 0 0 1rem 0; } }
      .issue-details .issue__left .issue__content .attachment img:not(:last-child) {
        margin-right: 2rem; }
  .issue-details .issue__left .issue__content .filter {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 1rem 0 2rem; }
    .issue-details .issue__left .issue__content .filter button {
      margin-left: 2rem; }
  .issue-details .issue__left .issue__content .comments {
    margin-bottom: 2rem; }
    .issue-details .issue__left .issue__content .comments .comment__item {
      display: -webkit-box;
      display: flex; }
      .issue-details .issue__left .issue__content .comments .comment__item .avatar {
        width: 5rem;
        height: 5rem;
        margin-right: 2rem; }
        .issue-details .issue__left .issue__content .comments .comment__item .avatar img {
          width: 100%;
          border-radius: 50%; }
      .issue-details .issue__left .issue__content .comments .comment__item .info .name {
        color: #010101;
        font-size: 16px; }
        .issue-details .issue__left .issue__content .comments .comment__item .info .name span {
          display: inline-block;
          letter-spacing: 0.8px;
          color: #737a86;
          font-weight: 400; }
      .issue-details .issue__left .issue__content .comments .comment__item .info p {
        margin: 5px 0; }
      .issue-details .issue__left .issue__content .comments .comment__item .comment__tools {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center; }
        .issue-details .issue__left .issue__content .comments .comment__item .comment__tools button {
          outline: none;
          border: 0;
          font-size: 14px;
          color: #737a86;
          background: transparent;
          margin-right: 1rem;
          -webkit-transition: .3s ease;
          transition: .3s ease; }
          .issue-details .issue__left .issue__content .comments .comment__item .comment__tools button:hover {
            cursor: pointer;
            color: #e7806a; }
          .issue-details .issue__left .issue__content .comments .comment__item .comment__tools button:not(:last-of-type):after {
            content: '⬤';
            margin-right: 1rem;
            display: inline-block;
            font-size: 5px;
            color: #b1b6bf;
            -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%); }

.issue-details .add-comment {
  display: -webkit-box;
  display: flex; }
  .issue-details .add-comment img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .issue-details .add-comment .field {
    max-width: 70rem;
    width: 100%;
    border-radius: 5px; }
    @media (max-width: 512px) {
      .issue-details .add-comment .field {
        padding: 1rem 1.5rem; } }
  .issue-details .add-comment input {
    width: 100%; }

.issue-details .issue__right {
  width: 45rem;
  padding: 5rem 3rem 0 3rem;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 2; }
  .issue-details .issue__right .line {
    width: 100%;
    height: 1px;
    background: #737a86;
    margin: 2rem 0; }
  .issue-details .issue__right:before {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    background: #d8dee9;
    width: 1px;
    height: 95vh;
    position: absolute; }
  .issue-details .issue__right .issue__close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 3;
    cursor: pointer; }
    .issue-details .issue__right .issue__close img {
      width: 20px; }
  .issue-details .issue__right .issue__tools {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 3rem; }
    .issue-details .issue__right .issue__tools .icon {
      font-size: 14px;
      color: #737a86; }
      .issue-details .issue__right .issue__tools .icon img {
        margin-right: 10px; }
    .issue-details .issue__right .issue__tools button {
      width: 5.5rem;
      height: 5.5rem;
      padding: 0;
      text-align: center;
      line-height: 5.5rem;
      font-size: 2.4rem;
      margin-left: 2rem; }
  .issue-details .issue__right .issue__content .field {
    margin-bottom: 2rem; }
  .issue-details .issue__right .issue__content h3.title {
    font-weight: 600; }
  .issue-details .issue__right .issue__content .person {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .issue-details .issue__right .issue__content .person img {
      margin-right: 1.5rem;
      border-radius: 50%;
      width: 5rem;
      height: 5rem; }
    .issue-details .issue__right .issue__content .person h4.name {
      font-weight: 600;
      color: #010101;
      font-size: 1.6rem;
      letter-spacing: 0.8px; }
  .issue-details .issue__right .issue__content .dflexs p {
    margin-bottom: 0;
    color: #737a86; }
  .issue-details .issue__right .issue__content p {
    margin-bottom: 2rem; }
