@import '../../variables/variables.scss';

.issue-details {
  .issue__left {
    padding-right: calc(45rem - 2rem + 20px);

    .issue__body {
      .issue__tools {
        margin-bottom: 2rem;
      }
    }

    .issue__content {
      h3.title {
        font-weight: 600;
      }

      p {
        margin-bottom: 3rem;
      }

      .attachment {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 3rem;

        img {
          max-width: 18rem;
          width: 100%;
          margin-bottom: 2rem;
          @media (max-width: 512px){
            max-width: 100%;
            margin: 0 0 1rem 0;
          }

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }

      .filter {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 1rem 0 2rem;

        button {
          margin-left: 2rem;
        }
      }

      .comments {
        margin-bottom: 2rem;

        .comment__item {
          display: -webkit-box;
          display: flex;

          .avatar {
            width: 5rem;
            height: 5rem;
            margin-right: 2rem;

            img {
              width: 100%;
              border-radius: 50%;
            }
          }

          .info {
            .name {
              color: #010101;
              font-size: 16px;

              span {
                display: inline-block;
                letter-spacing: 0.8px;
                color: $gray;
                font-weight: 400;
              }
            }

            p {
              margin: 5px 0;
            }
          }

          .comment__tools {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            button {
              outline: none;
              border: 0;
              font-size: 14px;
              color: $gray;
              background: transparent;
              margin-right: 1rem;
              -webkit-transition: .3s ease;
              transition: .3s ease;

              &:hover {
                cursor: pointer;
                color: $red-light;
              }

              &:not(:last-of-type) {
                &:after {
                  content: '⬤';
                  margin-right: 1rem;
                  display: inline-block;
                  font-size: 5px;
                  color: #b1b6bf;
                  -webkit-transform: translate(100%, -50%);
                  transform: translate(100%, -50%);
                }
              }
            }
          }
        }
      }
    }
  }

  .add-comment {
    display: -webkit-box;
    display: flex;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 2rem;
    }

    .field {
      max-width: 70rem;
      width: 100%;
      border-radius: 5px;
      @media (max-width: 512px){
        padding: 1rem 1.5rem;
      }
    }

    input {
      width: 100%;
    }
  }

  .issue__right {
    width: 45rem;
    padding: 5rem 3rem 0 3rem;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 2;

    .line {
      width: 100%;
      height: 1px;
      background: $gray;
      margin: 2rem 0;
    }

    &:before {
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      content: '';
      background: $gray-light;
      width: 1px;
      height: 95vh;
      position: absolute;

    }

    .issue__close {
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      z-index: 3;
      cursor: pointer;

      img {
        width: 20px;
      }
    }

    .issue__tools {
      -webkit-box-pack: end;
      justify-content: flex-end;
      margin-bottom: 3rem;

      .icon {
        img {
          margin-right: 10px;
        }

        font-size: 14px;
        color: $gray;
      }

      button {
        width: 5.5rem;
        height: 5.5rem;
        padding: 0;
        text-align: center;
        line-height: 5.5rem;
        font-size: 2.4rem;
        margin-left: 2rem;
      }
    }

    .issue__content {
      .field {
        margin-bottom: 2rem;
      }

      h3.title {
        font-weight: 600;
      }

      .person {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;

        img {
          margin-right: 1.5rem;
          border-radius: 50%;
          width: 5rem;
          height: 5rem;
        }

        h4.name {
          font-weight: 600;
          color: #010101;
          font-size: 1.6rem;
          letter-spacing: 0.8px;
        }
      }

      .dflexs {
        p {
          margin-bottom: 0;
          color: $gray;
        }
      }

      p {
        margin-bottom: 2rem;
      }
    }
  }
}