.project__setting p.des {
  color: #737a86;
  margin-bottom: 2rem; }
  .project__setting p.des a:hover {
    text-decoration: underline; }

.project__setting .recent__project .content {
  padding-bottom: 0 !important; }
  .project__setting .recent__project .content h4.title {
    font-weight: 500; }
  .project__setting .recent__project .content p {
    font-weight: 600; }

.project__setting h3.title {
  font-weight: 600;
  margin-bottom: 1rem; }

.project__setting ul {
  list-style-type: disc;
  margin-bottom: 1.5rem;
  padding: 2rem; }
  .project__setting ul li {
    font-size: 1.6rem;
    color: #737a86;
    margin-bottom: 5px; }
