@import '../../variables/variables.scss';

.project__setting {
  p.des {
    color: $gray;
    margin-bottom: 2rem;

    a:hover {
      text-decoration: underline;
    }
  }

  .recent__project {
    .content {
      padding-bottom: 0 !important;

      h4.title {
        font-weight: 500;
      }

      p {
        font-weight: 600;
      }
    }
  }

  h3.title {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: disc;
    margin-bottom: 1.5rem;
    padding: 2rem;

    li {
      font-size: 1.6rem;
      color: $gray;
      margin-bottom: 5px;
    }
  }
}