@media (max-width: 1100px) {
  .board__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;

    .field,
    button,
    .people {
      margin: 0 0 1rem 0 !important;
    }

    .people {
      margin-left: 1rem !important;
    }
  }

  .board__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;

    .header__item {
      margin: 0 0 1rem 0 !important;
    }
  }
}

@media (max-width: 991px) {
  .board__body {
    table {
      .project {
        padding: 1rem !important;
      }
    }
  }
}

@media (max-width: 615px) {
  .board__header {
    .header__item.right {
      flex-wrap: wrap;

      span {
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 555px) {
  .board__header {
    .header__item.right {
      -webkit-box-align: start;
      align-items: flex-start;
    }
  }
}