@media (max-width: 1440px) {
  .people__body .people__items .people__item {
    max-width: calc(100% / 6 - 5rem);
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 6 - 5rem);
    min-width: 100px;
  }
}

@media (max-width: 768px) {
  .people__body {
    padding: 0;
  }
}

@media (max-width: 555px) {

  header.people,
  .header__item.right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  button {
    margin: 5px 0;
  }

  .people__item {
    margin-right: 1rem !important;
  }
}