@media (max-width: 991px) {
  main.active {
    padding-left: 13rem;
  }

  header {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .search.js--search {
    max-width: 100% !important;

    .recent__project {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start !important;
      align-items: flex-start !important;

      .item {
        max-width: 100% !important;
        -webkit-box-flex: 0 !important;
        flex: 0 0 100% !important;
        margin: 0 0 2rem 0 !important;
      }
    }
  }
}

@media (max-width: 512px) {
  nav {
    width: 9rem !important;

    .nav__logo {
      padding: 2rem 1rem 1rem 1rem !important;

      img {
        width: 90%;
      }
    }

    .nav__avatar {
      padding: 5px 0 !important;

      img {
        width: 90%;
      }
    }
  }

  .nav__expand {
    left: 9rem !important;
  }

  main,
  main.active {
    padding-left: 11rem !important;
  }

  .search.js--search {
    padding: 2rem 3rem;

    .close {
      top: 10px;
      left: 10px;
    }

    .close img {
      width: 15px;
    }
  }
}