@media (max-width: 991px) {
  main.active {
    padding-left: 13rem; }
  header {
    margin-bottom: 2rem; } }

@media (max-width: 768px) {
  .search.js--search {
    max-width: 100% !important; }
    .search.js--search .recent__project {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start !important;
      align-items: flex-start !important; }
      .search.js--search .recent__project .item {
        max-width: 100% !important;
        -webkit-box-flex: 0 !important;
        flex: 0 0 100% !important;
        margin: 0 0 2rem 0 !important; } }

@media (max-width: 512px) {
  nav {
    width: 9rem !important; }
    nav .nav__logo {
      padding: 2rem 1rem 1rem 1rem !important; }
      nav .nav__logo img {
        width: 90%; }
    nav .nav__avatar {
      padding: 5px 0 !important; }
      nav .nav__avatar img {
        width: 90%; }
  .nav__expand {
    left: 9rem !important; }
  main,
  main.active {
    padding-left: 11rem !important; }
  .search.js--search {
    padding: 2rem 3rem; }
    .search.js--search .close {
      top: 10px;
      left: 10px; }
    .search.js--search .close img {
      width: 15px; } }
