@media (max-width: 991px) {
  .table-epic {
    overflow: scroll; }
    .table-epic table td:nth-child(2) {
      padding: 1rem 2rem !important; } }

@media (max-width: 512px) {
  .epic__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important; }
    .epic__header .header__item {
      margin-bottom: 1rem !important; }
  .epic__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important; }
    .epic__tools .field {
      margin: 0 0 1rem 0 !important; }
  .table-epic table td:nth-child(1), .table-epic table td:nth-child(2) {
    min-width: 20rem; } }
