@import '../../variables/variables.scss';

.popup.people {
  .field {
    width: 100%;
  }
}

header.people {
  padding-bottom: 1.8rem;

  button.search-btn {
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;

    &:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  button {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}

.people__body {
  padding: 0 3rem;

  h3.title {
    color: #000;
    font-weight: 600;
  }

  .line {
    width: 100%;
    height: 2px;
    background: #d8dee9;
    border-bottom: 1px solid #fff;
    margin-bottom: 3rem;
  }

  .people__items {
    margin: 3rem 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;

    .people__item {
      max-width: calc(100% / 8 - 5rem);
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% / 8 - 5rem);

      &:hover {
        .image img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }

        .name {
          color: $red-light;
        }
      }

      margin-right: 5rem;
      text-align: center;
      margin-bottom: 3rem;

      .image {
        background: $gray-light;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: .5rem;

        img {
          -webkit-transition: .3s ease;
          transition: .3s ease;
          width: 100%;
          margin: 0 auto;
        }
      }

      .name {
        font-size: 1.6rem;
        font-weight: 600;
        -webkit-transition: .3s ease;
        transition: .3s ease;

      }

      .des {
        text-align: center;
        color: $gray;
        line-height: 1.2;
      }

      button {
        margin-top: 0.5rem;
        color: $red-light;
        border-color: $red-light;

        &:hover {
          background: $red-light;
          color: #fff;
        }
      }
    }
  }
}