.popup.people .field {
  width: 100%; }

header.people {
  padding-bottom: 1.8rem; }
  header.people button.search-btn {
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    header.people button.search-btn:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
  header.people button:not(:last-of-type) {
    margin-right: 2rem; }

.people__body {
  padding: 0 3rem; }
  .people__body h3.title {
    color: #000;
    font-weight: 600; }
  .people__body .line {
    width: 100%;
    height: 2px;
    background: #d8dee9;
    border-bottom: 1px solid #fff;
    margin-bottom: 3rem; }
  .people__body .people__items {
    margin: 3rem 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; }
    .people__body .people__items .people__item {
      max-width: calc(100% / 8 - 5rem);
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% / 8 - 5rem);
      margin-right: 5rem;
      text-align: center;
      margin-bottom: 3rem; }
      .people__body .people__items .people__item:hover .image img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05); }
      .people__body .people__items .people__item:hover .name {
        color: #e7806a; }
      .people__body .people__items .people__item .image {
        background: #d8dee9;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: .5rem; }
        .people__body .people__items .people__item .image img {
          -webkit-transition: .3s ease;
          transition: .3s ease;
          width: 100%;
          margin: 0 auto; }
      .people__body .people__items .people__item .name {
        font-size: 1.6rem;
        font-weight: 600;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .people__body .people__items .people__item .des {
        text-align: center;
        color: #737a86;
        line-height: 1.2; }
      .people__body .people__items .people__item button {
        margin-top: 0.5rem;
        color: #e7806a;
        border-color: #e7806a; }
        .people__body .people__items .people__item button:hover {
          background: #e7806a;
          color: #fff; }
