@media (max-width: 991px) {
  .issue-details {
    flex-wrap: wrap;

    .issue__left {
      padding-right: 0 !important;
    }

    .issue__right {
      position: relative;
      width: 100%;
      padding: 3rem 0;
      height: auto;

      .issue__close {
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 2;
      }

      &:before {
        display: none;
      }
    }
  }

  .issue__body {
    .filter {
      flex-wrap: wrap;

      button {
        white-space: nowrap;
      }
    }
  }
}