@media (max-width: 991px) {
  .issue-details {
    flex-wrap: wrap; }
    .issue-details .issue__left {
      padding-right: 0 !important; }
    .issue-details .issue__right {
      position: relative;
      width: 100%;
      padding: 3rem 0;
      height: auto; }
      .issue-details .issue__right .issue__close {
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 2; }
      .issue-details .issue__right:before {
        display: none; }
  .issue__body .filter {
    flex-wrap: wrap; }
    .issue__body .filter button {
      white-space: nowrap; } }
