extend layout.pug

block head
  // CDN CK Editor
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues', 'active')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo')
      +nav-link('icon-people.png', 'people.html', 'People')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  .popup.issues
    .popup__overlay
    .popup__item.custom-scroll-bar
      .button.dflexs.js--btn
        p Configure fields
        i.fas.fa-angle-down

      .block__expand
        .heading.dflexs
          h6 
            |Show Fields: 
            a(href="#").blue-color All
            span |
            a(href="#") Custom
          a(href="#").blue-color Where is my fields
        .body.dflex
          .body__item.col-sm-6.col-12
            mixin checkmark(title, isChecked)
              label.field-checkbox
                input(type="checkbox")
                p= title
                span.checkmark
            +checkmark('Assignee')
            +checkmark('Attachment')
            +checkmark('Components')
            +checkmark('Description')
            +checkmark('Epic Link')
            +checkmark('Fix Versions')
          .body__item.col-sm-6.col-12
            +checkmark('Labels')
            +checkmark('Linked Issues')
            +checkmark('Priority')
            +checkmark('Reporter')
            +checkmark('Fix Versions')

      h2 Create Issue
      form(action="")
        .col-lg-6.col-12.input-field
          h6 
            |Project
            span *
          .field.custom-select
            select
              option(value="") DROP_UI/UX (PU)
              option(value="") DROP_UI/UX (PU) 1
              option(value="") DROP_UI/UX (PU) 2
        .col-lg-6.col-12.input-field
          h6 
            |Issues Type
            span *
          .field.custom-select(style="padding-left: 40px;")
            img(src="./images/icon/icon-state-story.png" alt="")
            select
              option(value="") 
                |Epic
              option(value="") 
                |Story

        .col-12.input-field
          h6 
            |Summary
            span *
          .field
            input(type="text")

        .ckEditor
          #editor

        .col-12.input-field
          h6 Priority
          .field.custom-select
            select
              option(value="") Medium 
              option(value="") Medium 1
              option(value="") Medium 2
              option(value="") Medium 3

        .col-12.input-field
          h6 Attachment
          .drop-attachment.dflex
            img(src="./images/icon/icon-cloud.png" alt="")
            p.blue-color Drop file to attach, or browse

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create
          button.btn.big.red.transparent.js--cancel Cancel

  header.issues__header.dflexs
    .header__item.left
      h3.title POS_UI/UX
      h1.title All issues
    .header__item.right
      button.btn.big.js--create Create Issues

  section.issues__body
    .issues__recent
      h2.title Recent issues 
      .recent__items
        mixin recent(image, title, content)
          .recent__item
            img(src=`./images/icon/icon-state-${image}.png`, alt="")
            .recent__content
              h6.title= title
              p.des= content

        +recent('story', 'CR Edit Reports to include COGS to use the wholesale', 'DROP-1954')
        +recent('epic', 'IOS Driver; Update Driver App Flows', 'DROP-2063')
        +recent('bug', 'BUG; Dispatch/ driver app, inaccurate location show in...', 'DROP-1937')
        +recent('task', 'PWA; A customer must verify their account with every...', 'DROP-1838')

    .issues__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")

      .field.custom-select
        select
          option(value="") All types
          option(value="") All types 1
          option(value="") All types 2
          option(value="") All types 3

      .field.custom-select
        select
          option(value="") All categories
          option(value="") All categories 1
          option(value="") All categories 2
          option(value="") All categories 3

      .field.custom-select
        select
          option(value="") Status: All
          option(value="") Status: All 1
          option(value="") Status: All 2
          option(value="") Status: All 3
        
      .field.custom-select
        select
          option(value="") Assignee: All 
          option(value="") Assignee: All 1
          option(value="") Assignee: All 2
          option(value="") Assignee: All 3

      .field.custom-select
        select
          option(value="") Project: All
          option(value="") Project: All 1
          option(value="") Project: All 2
          option(value="") Project: All 3
    .table__all__issues.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td T
            td
              span.title Key
                span.caretUp.active
                  <i class="fas fa-caret-up"></i>
                span.caretDown
                  <i class="fas fa-caret-down"></i>
            td Summary
            td Assignee
            td Reporter
            td P
            td Status
            td
              span.title Created
                span.caretUp.active
                  <i class="fas fa-caret-up"></i>
                span.caretDown
                  <i class="fas fa-caret-down"></i>
            td Update
            td

        tbody
          mixin row(icon, key, summary, assignee, reporter, color, status, created, update)
            tr
              td
                img(src=`./images/icon/icon-state-${icon}.png`, alt="")
              td= key
              td
                a(href="#")= summary
              td= assignee
              td= reporter
              td
                i.fas.fa-arrow-up
              td
                button.btn(class=`${color}`)= status
              td= created
              td= update
              td
                <i class="fas fa-ellipsis-h"></i>

          +row('bug', 'SS-1993', 'Modifications to the layout engine must not be...', 'Unassigned', 'Marcos Lopez','gray', 'TO DO', '17/Mar/20', '17/Mar/20')
          +row('bug', 'DROP-2126', 'Need to enable security to block spam contact...', 'Unassigned', 'Vanessa Gabriel','gray', 'TO DO', '17/Mar/20', '17/Mar/20')
          +row('task', 'DROP-2125', 'PWA; Clear Cache Issue; We need to optimize...', 'Thanh Nguyen', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          +row('bug', 'DROP-2124', 'BUG; dispatch ; new drop; when searching...', 'Marcos Lopez', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          +row('task', 'DROP-2125', 'CR; Update for Hub setting', 'Thanh Nguyen', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          +row('bug', 'DROP-2122', 'How do I become a driver?', 'Unassigned', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          

    ul.pagination
      li
        i.fas.fa-angle-left
      li.active 1
      li 2
      li
        i.fas.fa-angle-right