extend layout.pug

block head
  // CDN CK Editor
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog', 'active')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .popup.issues
    .popup__overlay
    .popup__item
      .button.dflexs.js--btn
        p Configure fields
        i.fas.fa-angle-down

      .block__expand
        .heading.dflexs
          h6 
            |Show Fields: 
            a(href="#").blue-color All
            span |
            a(href="#") Custom
          a(href="#").blue-color Where is my fields
        .body.dflex
          .body__item.col-sm-6.col-12
            mixin checkmark(title, isChecked)
              label.field-checkbox
                input(type="checkbox")
                p= title
                span.checkmark
            +checkmark('Assignee')
            +checkmark('Attachment')
            +checkmark('Components')
            +checkmark('Description')
            +checkmark('Epic Link')
            +checkmark('Fix Versions')
          .body__item.col-sm-6.col-12
            +checkmark('Labels')
            +checkmark('Linked Issues')
            +checkmark('Priority')
            +checkmark('Reporter')
            +checkmark('Fix Versions')

      h2 Create Issue
      form(action="")
        .col-lg-6.col-12.input-field
          h6 
            |Project
            span *
          .field.custom-select
            select
              option(value="") DROP_UI/UX (PU)
              option(value="") DROP_UI/UX (PU) 1
              option(value="") DROP_UI/UX (PU) 2
        .col-lg-6.col-12.input-field
          h6 
            |Issues Type
            span *
          .field.custom-select(style="padding-left: 40px;")
            img(src="./images/icon/icon-state-story.png" alt="")
            select
              option(value="") 
                |Epic
              option(value="") 
                |Story

        .col-12.input-field
          h6 
            |Summary
            span *
          .field
            input(type="text")

        .ckEditor
          #editor

        .col-12.input-field
          h6 Priority
          .field.custom-select
            select
              option(value="") Medium 
              option(value="") Medium 1
              option(value="") Medium 2
              option(value="") Medium 3

        .col-12.input-field
          h6 Attachment
          .drop-attachment.dflex
            img(src="./images/icon/icon-cloud.png" alt="")
            p.blue-color Drop file to attach, or browse

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create
          button.btn.big.red.transparent.js--cancel Cancel
  header.backlog__header.dflexs
    .header__item.left
      h3.title Projects / POS_UI/UX / POS_UI/UX
      h1.title Backlog
    .header__item.right
      button.btn.big Share

  section.blacklog__body
    .blacklog__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .people
        a(href="member.html")
          img(src="./images/avatar/avatar-1.jpg" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-2.png" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-3.png" alt="")
        a(href="member.html").blue-bg.white-color PH
        a(href="member.html").purple-bg.white-color VP
        a(href="member.html").gray-bg.gray-color +7

      .field.custom-select
        select
          option(value="") Quick filter
          option(value="") Quick filter 1
          option(value="") Quick filter 2
          option(value="") Quick filter 3

    .blacklog__tabs
      .tabs
        .tabs__heading.dflexs
          .tabs__item(style="display: flex; align-items: center;")
            h5.title.js--tab-button
              i.fas.fa-angle-right
              |POP sprint Jan 30 - Feb 12	
              span 88 issues
          .tabs__item(style="display: flex; align-items: center;")
            button.btn.transparent(style="margin-right: 1.5rem") Start sprint
            button.btn
              |Plan sprint
              img(src="./images/icon/icon-angle-down-white.png" alt="")

            .button__dots(style="margin-left: 1rem;")
              .button__dots__expand
                button.btn Edit Sprint
                button.btn Delete Sprint

              button.btn
                <i class="fas fa-ellipsis-h"></i>
        .tabs__expand.custom-scroll-bar
          .drag.dflex Plan a sprint by dragging the sprint footer ...
          .project
            button.create.js--create + Create issue
            .tabs__heading.dflexs
              .tabs__item(style="display: flex; align-items: center;")
                h5.title 
                  |Backlog
                  span 5 issues
              .tabs__item
                button.btn
                  |Create Sprint
                button.btn
                  <i class="fas fa-ellipsis-h"></i>
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Disp admin; Inventory Import
                  p 
                    span.italic Disp admin
                    span To Do
                    span.italic None
              .backlog__item
                button.btn Disp Admin
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Shift; Print X Report
                  p 
                    span POS iPad App
                    span To Do
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog

            button.create.js--create + Create issue

      .tabs
        .tabs__heading.dflexs
          .tabs__item(style="display: flex; align-items: center;")
            h5.title.js--tab-button
              i.fas.fa-angle-right
              |POP sprint Jan 30 - Feb 12	
              span 0 issues
          .tabs__item(style="display: flex; align-items: center;")
            button.btn.transparent(style="margin-right: 1.5rem") Start sprint
            button.btn
              |Plan sprint
              img(src="./images/icon/icon-angle-down-white.png" alt="")

            .button__dots(style="margin-left: 1rem;")
              .button__dots__expand
                button.btn Edit Sprint
                button.btn Delete Sprint

              button.btn
                <i class="fas fa-ellipsis-h"></i>
        .tabs__expand.custom-scroll-bar
          .drag.dflex Plan a sprint by dragging the sprint footer ...
          .project
            button.create.js--create + Create issue
            .tabs__heading.dflexs
              .tabs__item(style="display: flex; align-items: center;")
                h5.title 
                  |Backlog
                  span 5 issues
              .tabs__item
                button.btn
                  |Create Sprint
                button.btn
                  <i class="fas fa-ellipsis-h"></i>
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Disp admin; Inventory Import
                  p 
                    span.italic Disp admin
                    span To Do
                    span.italic None
              .backlog__item
                button.btn Disp Admin
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Shift; Print X Report
                  p 
                    span POS iPad App
                    span To Do
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog

            button.create.js--create + Create issue