extend layout.pug

block head
  // CDN CK Editor
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-board.png', '#', 'BDS Board')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints', 'active')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')

    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .popup.board
    .popup__overlay
    .issue-details.popup__item
      .issue__left
        header.epic__header.dflexs
          .header__item.left
            h3.title Drop-1906 / Drop-1919
            h1.title Receipt Email; Card on delivery fee

        section.issue__body
          .issue__tools
            .button
            button.transparent.btn
              <i class="fas fa-paperclip"></i>
              |Attach
            button.transparent.btn
              <i class="fas fa-link"></i>
              |Link issue
            button.transparent.btn
              <i class="fas fa-ellipsis-h"></i>

          .issue__content
            h3.title Description
            .ckEditor
              #editor

            button.btn.js--accept Save
            button.btn.red.transparent.js--cancel Cancel

            h3.title(style="margin-top: 2rem;") Attachment
            .attachment
              img(src="./images/issues/attachment-image-1.png" alt="")
              img(src="./images/issues/attachment-image-2.png" alt="")

            h3.title(style="color: #000; margin-bottom: 1.5rem;")
              |Activity
              span(style="color: #737a86; padding-left: 1.5rem") Comments
                i.fas.fa-angle-down(style="margin-left: 10px;")


          .add-comment
            .avatar
              img(src="./images/avatar/avatar-2.png" alt="")
            .field
              input(type="text" placeholder="Add a comment...")

      .issue__right
        .issue__close.js--cancel
          img(src="./images/icon/icon-close.png" alt="")
        .issue__tools.dflexs
          .icon.dflex(style="margin-right: 10px;")
            img(src="./images/icon/icon-customer-review.png" alt="")
            | Give feedback
          .icon.dflex
            img(src="./images/icon/icon-view.png" alt="")
            | 2
          button.btn.transparent.red
            <i class="fas fa-share-alt"></i>
          button.btn.transparent.red
            <i class="fas fa-ellipsis-h"></i>
        .issue__content
          .field.custom-select
            select
              option(value="") In Review
              option(value="") In Review 1
              option(value="") In Review 2
          h3.title Assignee
          .person
            img(src="./images/avatar/avatar-1.jpg" alt="")
            h4.name Marcos Lopez
          h3.title Reporter
          .person
            img(src="./images/avatar/avatar-3.png" alt="")
            h4.name Cuong Do
          h3.title Labels
          p.gray-color None
          h3.title Sprint
          p.blue-color Drop Sprint 2 (Jan 30- Feb 12)
          h3.title Priorty
          p.gray-color(style="font-weight: 600").dflexs
            sapn Medium
            i.fas.fa-arrow-up(style="color: #e7806a")
          .line
          .dflexs
            p Created Feb 7, 2020, 10:47 AM
            p 
              img(src="./images/icon/icon-setting.svg" alt="" style="vertical-align: middle; margin-right: 10px;")
              |Configure
          p.gray-color Updated 3 days ago

  header.board__header.dflexs
    .header__item.left
      h3.title Project / BDS / BDS Board
      h1.title BDS Sprint 5
    .header__item.right
      
      p.dflex
        button.star
          <i class="far fa-star"></i>
        <i class="far fa-clock"></i>
        span 4 Days remaining
      button.btn.big.js--create Complete Sprint
      button.btn.red.transparent
        <i class="fas fa-share-alt"></i>
      button.btn.red.transparent 
        <i class="fas fa-ellipsis-h"></i>

  section.board__body
    .board__tools.dflex
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")

      .people
        a(href="member.html")
          img(src="./images/avatar/avatar-1.jpg" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-2.png" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-3.png" alt="")
        a(href="member.html").blue-bg.white-color PH
        a(href="member.html").purple-bg.white-color VP
        a(href="member.html").gray-bg.gray-color +7

      button Only My Issues
      button Recently Updated


    .table.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td TO DO
            td IN PROGRESS
            td FEEDBACK
            td UNRESOLVED
            td DEV COMPLETED
            td IN REVIEW
            td DONE
        tbody
          mixin board(title, des, icon)
            td
              .project
                p= title
                .status.dflex
                  .icon
                    img(src=`./images/icon/${icon}.png`, alt="")
                  .icon.red-color
                    i.fas.fa-arrow-up
                  .icon.purple-bg VA
                p.gray-color= des
          tr
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
          tr
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-task')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-bug')
          tr
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            td
            td
            td


