extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')

    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics', 'active')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .popup.epic
    .popup__overlay
    .popup__item
      h2 Create Epic
      form(action="")
        .col-lg-6.col-12
          h6 
            |Project
            span *
          .field.custom-select
            select
              option(value="") DROP_UI/UX (PU)
              option(value="") DROP_UI/UX (PU) 1
              option(value="") DROP_UI/UX (PU) 2
        .col-lg-6.col-12
          h6 
            |Issues Type
            span *
          .field.custom-select(style="padding-left: 40px;")
            img(src="./images/icon/icon-state-epic.png" alt="")
            select
              option(value="") 
                |Epic
              option(value="") 
                |Story
        .col-12
          h6 
            |Epic Name
            span *
          .field
            input(type="text")
          h6 
            |Summary
            span *
          .field
            input(type="text")
        .col-12(style="text-align: center")
          button.btn.big.js--accept Create
          button.btn.big.red.transparent.js--cancel Cancel


  header.epic__header.dflexs
    .header__item.left
      h3.title Projects / POS_UI/UX
      h1.title Epics
    .header__item.right
      button.btn.big.js--create Create Epic

  section.epic__body
    .epic__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .field.custom-select
        select
          option(value="") Unreleased
          option(value="") Unreleased 1
          option(value="") Unreleased 2
          option(value="") Unreleased 3

    .table-epic.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td Name
            td Progress
            td
        tbody
          mixin rowTable(title, color)
            tr
              td
                a(href="#")= title
              td 
                .progress(class=`${color}`)
              td
                button
                  <i class="fas fa-ellipsis-h"></i>
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')