extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 BDS
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')
      
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters', 'active')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .issue-details
    .issue__left
      header.epic__header.dflexs
        .header__item.left
          h3.title Drop-1935
          h1.title BUG; Dispatch/ driver app; inaccurate location shown in map pin for various addresses

      section.issue__body
        .issue__tools
          .button
          button.transparent.btn
            <i class="fas fa-paperclip"></i>
            |Attach
          button.transparent.btn
            <i class="fas fa-link"></i>
            |Link issue

        .issue__content
          h3.title Description
          p 
            |The address listed below does not show the correct location within our platform maps. If you use any other maps app, it will show the correct location. Dispatch and driver app is incorrect
            br
            |9999 Foothill Blvd
            |Rancho Cucamonga, CA 91730
            |United States
            br
            |Drop-1934 was the ticket created by the client experiencing this
          h3.title Environment
          p.gray-color None
          h3.title Attachment
          .attachment
            img(src="./images/issues/attachment-image-1.png" alt="")
            img(src="./images/issues/attachment-image-2.png" alt="")
            img(src="./images/issues/attachment-image-3.png" alt="")
            img(src="./images/issues/attachment-image-4.png" alt="")
          h3.title Activity
          .filter
            p.gray-color(style="margin: 0;") Show
            button.btn.red.transparent Comments
            button.btn.transparent History
            button.btn.transparent Work Log
          .comments
            .comment__item
              .avatar
                img(src="./images/avatar/avatar-1.jpg" alt="")
              .info
                h4.name 
                  |Cuong do
                  span.date Feb 10, 2020, 6:58 PM
                p Please send the video when you adding address on PWA
                .comment__tools
                  button Edit
                  button Delete
                  button 
                    <i class="far fa-smile-beam"></i>

        .add-comment
          .avatar
            img(src="./images/avatar/avatar-2.png" alt="")
          .field
            input(type="text" placeholder="Add a comment...")


    .issue__right
      .issue__close
        img(src="./images/icon/icon-close.png" alt="")
      .issue__tools.dflexs
        .icon
          img(src="./images/icon/icon-customer-review.png" alt="")
        .icon.dflex
          img(src="./images/icon/icon-view.png" alt="")
          | 2
        button.btn.transparent.red
          <i class="fas fa-share-alt"></i>
        button.btn.transparent.red
          <i class="fas fa-ellipsis-h"></i>
      .issue__content
        .field.custom-select
          select
            option(value="") Feedback/ Pending
            option(value="") Feedback/ Pending 1
            option(value="") Feedback/ Pending 2
            option(value="") Feedback/ Pending 3
        h3.title Assignee
        .person
          img(src="./images/avatar/avatar-1.jpg" alt="")
          h4.name Marcos Lopez
        h3.title Reporter
        .person
          img(src="./images/avatar/avatar-3.png" alt="")
          h4.name Cuong Do
        h3.title Labels
        p.gray-color None
        h3.title Sprint
        p.blue-color Drop Sprint 2 (Jan 30- Feb 12)
        h3.title Priorty
        p.gray-color(style="font-weight: 600").dflexs
          sapn Medium
          i.fas.fa-arrow-up(style="color: #e7806a")
        .line
        .dflexs
          p Created Feb 7, 2020, 10:47 AM
          p 
            img(src="./images/icon/icon-setting.svg" alt="" style="vertical-align: middle; margin-right: 10px;")
            |Configure
        p.gray-color Updated 3 days ago
