doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Acazia Software

    //Logo Icon
    link(rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png")

    //Style CSS
    link(rel="stylesheet" type="text/css" href="./css/main.css")

    //Font Awesome
    script(src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous")

    block head

  body
    // Search
    .overlay-shadow
    .search.js--search
      .close
        img(src="./images/icon/icon-close.png" alt="")
      .field
        input(type="text" placeholder="Search here")

      .search__recent
        h3.title Recent Issues
        .recent__issues
          mixin recentIssues(icon, title, des)
            a(href="#").item
              img(src=`./images/icon/${icon}.png`, alt="")
              .content
                h6.title= title
                p.des= des
          +recentIssues('icon-state-story', 'CR; Edit Reports to include COGS to use the wholesale...', 'DROP-1954')
          +recentIssues('icon-state-epic', 'IOS Driver; Update Driver App Flows', 'DROP-2063')
          +recentIssues('icon-state-bug', 'BUG; Dispatch/ driver app, inaccurate location show in...', 'DROP-1937')
          +recentIssues('icon-state-story', 'PWA; A customer must verify their account with every...', 'DROP-1838')

      .project__recent
        h3.title Recent Projects
        .recent__project
          a(href="#").item
            .icon
              img(src="./images/icon/icon-robot.png" alt="")
            .content
              h4.title DROP_UI/UX
              p.des Board - DROP_UI/UX

          a(href="#").item
            .icon
              img(src="./images/icon/icon-robot.png" alt="")
            .content
              h4.title POS_UI/UX
      // Search

    nav.dflexs
      .nav__item.dflex
        a(href="all-issues.html").nav__logo
          img(src="./images/logo/logo.png" alt="")

        .line(style="margin-bottom: 2.5rem;")

        .nav__tools
          button        
            img(src="./images/icon/icon-star.svg" alt="")
          button.js--search-btn      
            img(src="./images/icon/icon-search.svg" alt="")
          button.js--nav-open       
            img(src="./images/icon/icon-plus.svg" alt="")

      .nav__item.dflex
        .nav__tools
          button.bell  
            img(src="./images/icon/icon-bell.svg" alt="")
          button          
            img(src="./images/icon/icon-setting.svg" alt="")

        .line

        a(href="#").nav__avatar
          img(src="./images/avatar/avatar-1.jpg" alt="")
        ul.sub__avatar
          li
            a(href='#') Give us feedback
          li
            a(href='#').red-light-color ACAZIA SOFTWARE
          li
            a(href='#') Settings
          li
            a(href='#').red-light-color Profile
          li.dflex(style="justify-content: flex-start;")
            a(href='#') Account Setting
            img(src="./images/icon/icon-edit.png" alt="")
          li
            a(href="#").red-color Log out


    block nav-expand

    main
      block pages


    block script
    script(src="./js/main.js")