extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', '#', 'Project')
      +nav-link('icon-issues.png', '#', 'Issues')
      +nav-link('icon-tempo.png', '#', 'Tempo')
      +nav-link('icon-people.png', '#', 'People', 'active')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  .member__header
    .account
      .avatar
        img(src="./images/avatar/avatar-5.jpg" alt="")
      .info
        h4.name Cuong Do
        button.btn.gray Manage your account
  section.member__body.dflex
    .member__item.left.col-4
      h6.title About
      ul
        each item in [{icon: 'icon-organization', des: 'Technical Leader'}, {icon: 'icon-group', des: 'Development Team'}, {icon: 'icon-hotel', des: 'Acazia Software'}, {icon: 'icon-map-marker', des: 'Long Bien, Ha Noi'}, {icon: 'icon-clock', des: '5:05 PM (GMT+07:00)'}]
          li
            img(src=`./images/icon/${item.icon}.png`, alt="")
            p= item.des

    .member__item.right.col-8
      h6.title 
        |Worked on
        a(href="#") View all

      .worked
        mixin workOn(icon, title, des)
          a(href="#").item
            img(src=`./images/icon/${icon}.png`, alt="")
            .content
              h6.title= title
              p.des= des
        +workOn('icon-state-story', 'CR; Edit Reports to include COGS to use the wholesale...', 'DROP-1954')
        +workOn('icon-state-epic', 'IOS Driver; Update Driver App Flows', 'DROP-2063')
        +workOn('icon-state-bug', 'BUG; Dispatch/ driver app, inaccurate location show in...', 'DROP-1937')
        +workOn('icon-state-story', 'PWA; A customer must verify their account with every...', 'DROP-1838')

      a(href="#" style="font-size: 14px;").gray-color Show More

      .line

      h6.title Places they work
      .places__items
        a(href="#").item
          .icon
            img(src="./images/icon/icon-robot.png" alt="")
          .content
            h4.title DROP_UI/UX
            p.des Board - DROP_UI/UX

        a(href="#").item
          .icon
            img(src="./images/icon/icon-robot.png" alt="")
          .content
            h4.title POS_UI/UX

      h6.title Work with

      .people__items
        mixin people(image, name, des)
          a(href="#").people__item
            .image
              img(src=`./images/avatar/${image}.png`, alt="")
            h4.name= name
            p.des= des
        +people('avatar-2', 'Cuong Do', 'Project manager')
        +people('avatar-3', 'Cuong Do', 'Project manager')
        +people('avatar-2', 'Lee Thanh', 'Development')
        +people('avatar-3', 'Cuong Do', 'Project manager')
        +people('avatar-4', 'Lee Thanh', 'Project manager')
