extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo')
      +nav-link('icon-people.png', 'people.html', 'People', 'active')
      +nav-link('icon-chart.png', '#', 'Charts')


block pages
  .popup.people
    .popup__overlay
    .popup__item
      h2 Add People
      form(action="")
        .col-12.input-field
          .field
            input(type="text" placeholder="Type a name, group or email address")
            img(src="./images/icon/icon-search.svg" alt="")

        .col-12.input-field
          h6 
            |Role
          .field.custom-select
            select
              option(value="") Choose role
              option(value="") Choose role 1
              option(value="") Choose role 2
              option(value="") Choose role 3

        .col-12(style="text-align: center")
          button.btn.big.js--accept Add
          button.btn.big.red.transparent.js--cancel Cancel


  header.report__header.dflexs.people
    .header__item.left
      button.search-btn
        img(src="./images/icon/icon-search.svg" alt="")
    .header__item.right
      button.btn.big Manager Users
      button.btn.transparent.big.js--create Start a Team

  section.people__body
    h3.title You work with
    .people__items
      mixin people(image, name, des)
        a(href="member.html").people__item
          .image
            img(src=`./images/avatar/${image}.png`, alt="")
          h4.name= name
          p.des= des
      +people('avatar-2', 'Cuong Do', 'Project manager')
      +people('avatar-3', 'Cuong Do', 'Project manager')
      +people('avatar-2', 'Lee Thanh', 'Development')
      +people('avatar-3', 'Cuong Do', 'Project manager')
      +people('avatar-2', 'Cuong Do', 'Development')
      +people('avatar-3', 'Lee Thanh', 'Project manager')
      +people('avatar-4', 'Cuong Do', 'Project manager')
    .line

    h3.title You teams
    .people__items
      mixin peopleTeam(image, name, des)
        a(href="#").people__item
          .image
            img(src=`./images/avatar/${image}.png`, alt="")
          h4.name= name
          button.btn.transparent= des
      +peopleTeam('avatar-2', 'Your New team', 'Start a Team')
