extend layout.pug

block head
  // CDN CK Editor
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 BDS
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

    ul.nav__menu
      +nav-link('icon-circle-left.png', 'blacklog.html', 'Back To Project')
    .line

    ul.nav__menu
      +nav-link('icon-project-setting.png', '#', 'Project Settings')
      +nav-link('icon-info.png', 'project-setting-info.html', 'Project Info', 'active')
      +nav-link('icon-member.png', 'project-setting-member.html', 'Members')
      +nav-link('icon-summary.png', '#', 'Summary')
      +nav-link('icon-delete.png', 'project-setting-delete.html', 'Delete Project')
      
    .line

    ul.nav__menu
      +nav-link('icon-issues-type.png', 'project-issues-type.html', 'Issues Types')
      +nav-link('icon-issues-layout.png', '#', 'Issues Layout')


block pages
  .popup.project
    .popup__overlay
    .popup__item
      h2 Create a project
      form(action="")
        .col-3.input-field
          h6 
            |Project name
            span *
        .field.col-9.input-field
          input(type="text")
        .col-3.input-field
          h6 
            |Project key
            span *
        .field.col-9.input-field
          input(type="text")

        .col-3.input-field
          h6 
            |Description
        .col-9.input-field(style="padding: 0;")
          .field-textarea
            textarea

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create Project
          button.btn.big.red.transparent.js--cancel Cancel


  header.project__header.dflexs
    .header__item.left
      h3.title Projects / DROP_UI/UX / Project Settings
      h1.title Detail

  section.project-setting-info
    form(action="#")
      .form-field
        h3.title
          |Name
          span *
        .field
          input(type="text")
      .form-field
        h3.title
          |Key
          span *
        .field
          input(type="text")
      .form-field
        h3.title
          |Project Category
        .field.custom-select
          select
            option(value="") None 
            option(value="") None 1
            option(value="") None 2
      .form-field.ckEditor
        #editor
      .form-field
        h3.title
          |Project lead
          span *
        .field
          input(type="text")
      .form-field
        h3.title
          |Project Category
        .field.custom-select
          select
            option(value="") Unassigned 
            option(value="") Unassigned 1
            option(value="") Unassigned 2
      .form-field
        button.btn.big Save
        button.btn.big.red.transparent Cancel
