extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 BDS
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

    ul.nav__menu
      +nav-link('icon-circle-left.png', '#', 'Back To Project')
    .line

    ul.nav__menu
      +nav-link('icon-project-setting.png', '#', 'Project Settings')
      +nav-link('icon-info.png', 'project-setting-info.html', 'Project Info')
      +nav-link('icon-member.png', 'project-setting-member.html', 'Members', 'active')
      +nav-link('icon-summary.png', '#', 'Summary')
      +nav-link('icon-delete.png', 'project-setting-delete.html', 'Delete Project')
      
    .line

    ul.nav__menu
      +nav-link('icon-issues-type.png', 'project-issues-type.html', 'Issues Types')
      +nav-link('icon-issues-layout.png', '#', 'Issues Layout')


block pages
  .popup.people
    .popup__overlay
    .popup__item
      h2 Add People
      form(action="")
        .col-12.input-field
          .field
            input(type="text" placeholder="Type a name, group or email address")
            img(src="./images/icon/icon-search.svg" alt="")

        .col-12.input-field
          h6 
            |Role
          .field.custom-select
            select
              option(value="") Choose role
              option(value="") Choose role 1
              option(value="") Choose role 2
              option(value="") Choose role 3

        .col-12(style="text-align: center")
          button.btn.big.js--accept Add
          button.btn.big.red.transparent.js--cancel Cancel

  .popup.project
    .popup__overlay
    .popup__item
      h2 Create a project
      form(action="")
        .col-3.input-field
          h6 
            |Project name
            span *
        .field.col-9.input-field
          input(type="text")
        .col-3.input-field
          h6 
            |Project key
            span *
        .field.col-9.input-field
          input(type="text")

        .col-3.input-field
          h6 
            |Description
        .col-9.input-field(style="padding: 0;")
          .field-textarea
            textarea

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create Project
          button.btn.big.red.transparent.js--cancel Cancel


  header.project__header.dflexs
    .header__item.left
      h3.title Projects / DROP_UI/UX / Project Settings
      h1.title People
    .header__item.right
      button.btn.big.js--create Add People

  section.project-setting-member
    .project__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .field.custom-select
        select
          option(value="") Role 
          option(value="") Role 1
          option(value="") Role 2

    .table-project-setting-member.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr  
            td 
              span Name
                span.caret.up 
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td Emali
            td Role
        tbody
          mixin member(avatar, name, email, role, button)
            tr
              td
                img(src=`./images/avatar/${avatar}.png`, alt="")
                =name
              td= email
              td
                span= role
                .tools
                  button.btn= button
                  button.btn.transparent Remove
          +member('avatar-2', 'Jade Gabriel', '-', '10 Block UI - UX', 'Administrators')
          +member('avatar-2', 'Macors Lopez', '-', 'Developers - UX', 'Developers')
          +member('avatar-2', 'Jade Gabriel', '-', 'Users - UX', 'Users')
