extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 BDS
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

    ul.nav__menu
      +nav-link('icon-circle-left.png', '#', 'Back To Project')
    .line

    ul.nav__menu
      +nav-link('icon-project-setting.png', '#', 'Project Settings')
      +nav-link('icon-info.png', 'project-setting-info.html', 'Project Info')
      +nav-link('icon-member.png', 'project-setting-member.html', 'Members')
      +nav-link('icon-summary.png', '#', 'Summary')
      +nav-link('icon-delete.png', 'project-setting-delete.html', 'Delete Project', 'active')
      
    .line

    ul.nav__menu
      +nav-link('icon-issues-type.png', 'project-issues-type.html', 'Issues Types')
      +nav-link('icon-issues-layout.png', '#', 'Issues Layout')


block pages
  .popup.project
    .popup__overlay
    .popup__item
      h2 Create a project
      form(action="")
        .col-3.input-field
          h6 
            |Project name
            span *
        .field.col-9.input-field
          input(type="text")
        .col-3.input-field
          h6 
            |Project key
            span *
        .field.col-9.input-field
          input(type="text")

        .col-3.input-field
          h6 
            |Description
        .col-9.input-field(style="padding: 0;")
          .field-textarea
            textarea

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create Project
          button.btn.big.red.transparent.js--cancel Cancel


  header.project__header.dflexs
    .header__item.left
      h3.title Projects / DROP_UI/UX / Project Settings
      h1.title Delete Project: DROP_UI/UX

  section.project__body.project__setting
    p.des
      <i class="fas fa-exclamation-triangle"></i>
      |Your project will be deleted permanently This includes all related issues, components, attachments and versions. 
      strong No one can undo this. 
      |Deleted project data can't be recovered, ever 
      br
      |There are several boards attached to the project you want to deletef you want to keep these boards, you will have 
      a(href="#").blue-color to move them to a different location. 
      |Otherwise they will be deleted along with the

    .recent__project
      mixin recentProject(title, des, content)
        a(href="blacklog.html").recent__item
          .heading
            .icon
              img(src="./images/icon/icon-folder.png" alt="")
            .content
              h4.title= title
              p.gray-color= des

      +recentProject('DROP & 10 Block Board', 'Scrum Board')
      +recentProject('DROP_UI/UX', 'Scrum Board')

    h3.title(style="color: #000") You are about to delete
    ul
      li
        strong Project Name: 
        |DROP_UI/UX
      li
        strong Project Key:
        |DROP

    button.btn.big Delete
    button.btn.red.transparent.big Cancel
