extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project', 'active')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo')
      +nav-link('icon-people.png', 'people.html', 'People')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  .popup.project
    .popup__overlay
    .popup__item
      h2 Create a project
      form(action="")
        .col-lg-3.input-field.col-12
          h6 
            |Project name
            span *
        .field.col-lg-9.input-field.col-12
          input(type="text")
        .col-lg-3.input-field.col-12
          h6 
            |Project key
            span *
        .field.col-lg-9.input-field.col-12
          input(type="text")

        .col-lg-3.input-field.col-12
          h6 
            |Description
        .col-lg-9.input-field(style="padding: 0;").col-12
          .field-textarea
            textarea

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create Project
          button.btn.big.red.transparent.js--cancel Cancel


  header.project__header.dflexs
    .header__item.left
      h3.title POS_UI/UX
      h1.title Projects
    .header__item.right
      button.btn.big.js--create Create Project

  section.project__body
    h3.title Recent 
    .recent__project
      mixin recentProject(title, des, content)
        a(href="blacklog.html").recent__item
          .heading
            .icon
              img(src="./images/icon/icon-folder.png" alt="")
            .content
              h4.title= title
              p.gray-color= des
          .footer
            img(src="./images/icon/icon-recent-project.png" alt="")
            p= content
      +recentProject('POS_UI/UX', 'Sofware Project', 'POS_UI/UX')
      +recentProject('POS_UI/UX', 'Sofware Project', '2 boards')

    .project__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .field.custom-select
        select
          option(value="") All types
          option(value="") All types 1
          option(value="") All types 2
          option(value="") All types 3
      .field.custom-select
        select
          option(value="") All categories
          option(value="") All categories 1
          option(value="") All categories 2
          option(value="") All categories 3

    .table-project.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td
              <i class="fas fa-star"></i>
            td
              span Name
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
              span Key
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
              span Lead
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
              span Category
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
        tbody
          mixin projectRow(name, key, lead, category)
            tr
              td
                <i class="far fa-star"></i>
              td
                a(href="blacklog.html")= name
              td= key
              td
                img(src="./images/avatar/avatar-2.png" alt="")
                span= lead
              td= category || ''
              td
                <i class="fas fa-ellipsis-h"></i>
          +projectRow('10 Block UI - UX', 'SS', 'Jade Gabriel', '10 Block')
          +projectRow('Android_Block_UI - UX', 'AN', 'Macors Lopez', 'Vapeblock')
          +projectRow('Android_UF_UI - UX', 'ANUF', 'Macors Lopez', 'Uniform')
          +projectRow('Block_Frontend.Admin', 'BFA', 'Mike Gabriel', 'Vapeblock')
          +projectRow('Block UI - UX', 'BU', 'Jade Gabriel', 'Vapeblock')
          +projectRow('Block_Merch.Dash', 'BMD', 'Vanessa Gabriel', 'VapeBlock')
          +projectRow('Drop_UI - UX', 'DROP', 'Jade Gabriel')
          +projectRow('Drop_UI - UX', 'DROP', 'Jade Gabriel')
          +projectRow('Drop_UI - UX', 'DROP', 'Jade Gabriel')
          +projectRow('FM_Design_Dev Writeoff', 'FW', 'Jade Gabriel')
          +projectRow('FM_Team AI', 'FMPROT', 'Mike Gabriel')

      ul.pagination
        li
          i.fas.fa-angle-left
        li 1
        li.active 2
        li
          i.fas.fa-angle-right