extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')

    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases', 'active')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .popup.releases
    .popup__overlay
    .popup__item
      h2 Create Version
      form(action="")
        .col-12.input-field
          h6 
            |Name
            span *
          .field
            input(type="text")
        .col-lg-6.input-field.col-12
          h6 Start Date
          .field-date
            input(type="date")
            img(src="./images/icon/icon-calendar.png" alt="")
        .col-lg-6.input-field.col-12
          h6 Release Date
          .field-date
            input(type="date")
            img(src="./images/icon/icon-calendar.png" alt="")
        .col-12.input-field
          h6 
            |Description
          .field
            input(type="text")

        .col-12(style="text-align: center")
          button.btn.big.js--accept Save
          button.btn.big.red.transparent.js--cancel Cancel

  header.releases__header.dflexs
    .header__item.left
      h3.title Projects /	POS_UI/UX
      h1.title Releases
    .header__item.right
      button.btn.big.js--create Create Version

  section.releases__body
    .releases__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .field.custom-select
        select
          option(value="") Unreleased
          option(value="") Unreleased 1
          option(value="") Unreleased 2
          option(value="") Unreleased 3

    .table-releases.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td
              span Version
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td Status
            td Progress
            td
              span Start date
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
              span Description
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
        tbody
          tr
            td Demo 1
            td 
              button.btn.blue UNRELEASED
            td
              .progress
            td Jul 30, 2019
            td 
              |Build for Inventory and Checkout Flow
              button.btn.gray Release
            td
              <i class="fas fa-ellipsis-h"></i>
          tr
            td Demo 2
            td 
              button.btn.blue UNRELEASED
            td No issues
            td Jul 15, 2019
            td First build for Deals
            td
              <i class="fas fa-ellipsis-h"></i>

