extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports', 'active')

    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  header.report__header.dflexs
    .header__item.left
      h3.title Project / DROP_UI/UX
      h1.title All reports

  section.reports__body
    mixin reports(image, title, des)
      .reports__item
        .report__image.dflex
          img(src=`./images/reports/${image}.png`, alt="")
        .report__content
          h3.title= title
          p= des
    +reports('report-image-1', 'Burndown Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-2', 'Burndown Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-3', 'Spinrt Report', 'Understand the work completed or pushed back to the backlog in each sprint. This helps you determine if your team is overcommitting or if there is excessive scope creep.')
    +reports('report-image-4', 'Velocity Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-5', 'Cumulative Flow Diaram', 'Understand the work completed or pushed back to the backlog in each sprint. This helps you determine if your team is overcommitting or if there is excessive scope creep.')
    +reports('report-image-6', 'Version Report', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-7', 'Epic Report', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-8', 'Control Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
