extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo', 'active')
      +nav-link('icon-people.png', 'people.html', 'People')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  header.tempo__header.dflexs
    .header__item.left
    .calendar.dflex
      span
        i.fas.fa-caret-left
      span Current month ( Jun 1 - Jun 30, 2015 )
      span
        i.fas.fa-caret-right

    .header__item.right
      .button.dflex
        span Current Month
        button.btn Open
      button.btn.big Get Approval

  .table.custom-scroll-bar
    table(cellspacing="0")
      - var days = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
      - var end = 31
      thead
        tr
          td Team - Members
          td ∑
          - let n = 1
          while n <= end
            td
              = n < 10 ? '0' + n++ : n++
              br
              =days[n % 7]
      mixin cloneRow
        - let j = 1
        while j <= end
          if (days[j % 7 + 1] === 'SAT' || days[j % 7 + 1] === 'SUN')
            td.off
          else
            td= Math.floor(Math.random() * 8) + 'h'
          p(style="display: none")= j++

      tbody
        mixin cloneMember(name, total, color)
          tr(class=`${color || ''}`)
            td= name
            td 145h
            +cloneRow

        +cloneMember('DROP HA NOI', '145h', 'gray')
        +cloneMember('Quyet Bui Quang', '40h')
        +cloneMember('Thai Truong Duy', '1h')
        +cloneMember('Cuong Do Manh', '48h')
        +cloneMember('Quan Nguyen Anh', '18h')
        +cloneMember('Tung Nguyen Thanh', '38h')

        +cloneMember('POS TEAM', '150h 45m', 'gray')
        +cloneMember('Thai Truong Duy', '1h')
        +cloneMember('Cuong Do Manh', '48h')

        +cloneMember('10 Block Team', '150h 45m', 'gray')
        +cloneMember('Cuong Do Manh', '48h')

        +cloneMember('Training Dev', '24h', 'gray')
        +cloneMember('Quyet Bui Quang', '40h')
        +cloneMember('Thai Truong Duy', '1h')
        +cloneMember('Cuong Do Manh', '48h')

        +cloneMember('BDS TEAM', '150h 45m', 'gray')
        +cloneMember('Quyet Bui Quang', '40h')
        +cloneMember('Thai Truong Duy', '1h')
        +cloneMember('Tung Nguyen Thanh', '38h')
        +cloneMember('Quan Nguyen Anh', '18h')
        +cloneMember('Cuong Do Manh', '48h')

        +cloneMember('CV MAKER TEAM', '150h 45m', 'gray')
        +cloneMember('Cuong Do Manh', '48h')
        +cloneMember('Quan Nguyen Anh', '18h')
        +cloneMember('Tung Nguyen Thanh', '38h')
