extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo', 'active')
      +nav-link('icon-people.png', 'people.html', 'People')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  .popup.tempo-employee
    .popup__overlay
    .popup__item
      h2 Log Work
      form(action="")
        .input-field
          .col-md-3.col-12
            h6 User 
          .col-md-9.col-12
            h4.name Lê Xuân Tân
        .input-field
          .col-md-3.col-12
            h6 Issue 
          .col-md-9.col-12
            .field
              input(type="text")
        .input-field
          .col-md-3.col-12
            h6 Period 
          .col-md-9.col-12
            label.field-checkbox
              input(type="checkbox")
              span.checkmark(style="margin-top: 10px;")

        .input-field
          .col-md-3.col-12
            h6 Date 
          .col-md-9.col-12
            .field-date
              input(type="date")
              img(src="./images/icon/icon-calendar.png" alt="")
        .input-field
          .col-md-3.col-12
            h6 Worked 
          .col-md-9.col-12
            .field-number
              input(type="number")

        .input-field
          .col-md-3.col-12
            h6 Billed
          .col-md-9.col-12
            .field-number
              input(type="number")

        .input-field
          .col-md-3.col-12
            h6 Description
          .col-md-9.col-12
            .field-textarea
              textarea

        .input-field
          .col-md-3.col-12
            h6 Time Code
          .col-md-9.col-12
            .field.custom-select
              select
                option(value="") Normals Hours 
                option(value="") Normals Hours 1
                option(value="") Normals Hours 2


        .col-12(style="text-align: center; margin-top: 2rem;")
          button.btn.big.js--accept Log Work
          button.btn.big.red.transparent.js--cancel Cancel

  header.tempo-employee__header.dflexs
    .header__item.left
      .avatar
        img(src="./images/avatar/avatar-1.jpg" alt="")
      .name
        h4 Lê Xuân Tân
        p.des CEO
      button.big.btn.js--create Log Work
    .calendar.dflex
      span
        i.fas.fa-caret-left
      span Current month ( Jun 1 - Jun 30, 2015 )
      span
        i.fas.fa-caret-right

    .header__item.right
      .button.dflex
        span Current Month
        button.btn Open
      button.btn.big Get Approval

  .table-employee.custom-scroll-bar
    table(cellspacing="0")
      - var days = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
      - var end = 31
      thead
        tr
          td Key
          td Summary
          td ∑
          - let n = 1
          while n <= end
            td
              = n < 10 ? '0' + n++ : n++
              br
              =days[n % 7]
      tbody
        mixin cloneRow
          - let j = 1
          while j <= end
            if (days[j % 7 + 1] === 'SAT' || days[j % 7 + 1] === 'SUN')
              td.off
            else
              td= Math.floor(Math.random() * 8)
            p(style="display: none")= j++

        mixin cloneKey1(key, summary, total, bold, isClone)
          tr(class=`${bold || ''}`)
            td= key
            td= summary
            td= total
            - let a = 1
            while a <= end
              td
              p(style="display: none")= a++

        mixin cloneKey2(key, summary, total, bold, isClone)
          tr(class=`${bold || ''}`)
            td= key
            td= summary
            td= total
            +cloneRow


        +cloneKey1('CPR', 'Coach Mobile App Update 2015', '40', 'bold')
        +cloneKey1('CPR-507', 'Support Peanuts Return WW & China App', '24')
        +cloneKey1('CPR', 'Create Wid Beast landing page', '16')
        +cloneKey2('CPR', 'Release 3', '40', 'bold')
        +cloneKey2('CPR-288', 'Apply Creative', '40')

        tr
          td
          td
          td Daily hours total
          +cloneRow

        tr
          td
          td
          td Weekly hours total

          - var x = 1
          while x <= end
            if (days[x % 7 + 1] === 'SAT' || days[x % 7 + 1] === 'SUN')
              td 40
            else
              td= ''
            p(style="display: none")= x++

        tr
          td
          td
          td Planned hours total
          - let c = 1
            while c <= end
              td
              p(style="display: none")= c++

    table.subTable(cellspacing="0")
      thead
        tr
          td Total
          td Today
          td Period
      tbody
        tr
          td Worked
          td 80
          td 80
        tr
          td Planned
          td 0
          td 0
        tr
          td Required
          td 96
          td 176