* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif, serif; }

html {
  font-size: 62.5%; }
  @media (max-width: 768px) {
    html {
      font-size: 50%; } }

body {
  display: -webkit-box;
  display: flex;
  overflow-x: hidden; }

.dflex {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }
  .dflexs {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between; }

.col-2-5 {
  -webkit-box-flex: 0;
  flex: 0 0 24%;
  max-width: 24%; }
  @media (max-width: 991px) {
    .col-2-5 {
      -webkit-box-flex: 0;
      flex: 0 0 49%;
      max-width: 49%; } }
  @media (max-width: 768px) {
    .col-2-5 {
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-3-5 {
  -webkit-box-flex: 0;
  flex: 0 0 32%;
  max-width: 32%; }
  @media (max-width: 991px) {
    .col-3-5 {
      -webkit-box-flex: 0;
      flex: 0 0 49%;
      max-width: 49%; } }
  @media (max-width: 768px) {
    .col-3-5 {
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%; } }

ul {
  list-style: none; }

a {
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #000; }

h1.title {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: .14rem; }

h2.title {
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  color: #737a86;
  font-weight: 500;
  text-transform: uppercase; }

h3.title {
  font-size: 1.6rem;
  color: #737a86;
  font-weight: 400; }

h5.title {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.8px; }

h6.title {
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 500; }

p {
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: justify; }
  p.des {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #d8dee9; }

.red-color {
  color: #fe0000; }

.red-light-color {
  color: #e7806a; }

.white-color {
  color: #fff; }

.gray-color {
  color: #737a86; }

.blue-color {
  color: #5f97ff; }

.gray-bg {
  background: #d8dee9; }

.blue-bg {
  background: #5f97ff; }

.purple-bg {
  background: #662d91; }

table thead td {
  transition: .3s ease;
  cursor: pointer; }

table thead td:hover {
  background: #fafafa; }
