@import '../variables/variables.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif, serif;
}

html {
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 50%;
  }
}

body {
  display: -webkit-box;
  display: flex;
  overflow-x: hidden;
}

.dflex {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;

  &s {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}

.col-2-5 {
  -webkit-box-flex: 0;
          flex: 0 0 24%;
  max-width: 24%;

  @media (max-width: 991px) {
    -webkit-box-flex: 0;
            flex: 0 0 49%;
    max-width: 49%;
  }

  @media (max-width: 768px) {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-3-5 {
  -webkit-box-flex: 0;
          flex: 0 0 32%;
  max-width: 32%;

  @media (max-width: 991px) {
    -webkit-box-flex: 0;
            flex: 0 0 49%;
    max-width: 49%;
  }

  @media (max-width: 768px) {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #000;
}

h1 {
  &.title {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: .14rem;
  }
}

h2 {
  &.title {
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    color: $gray;
    font-weight: 500;
    text-transform: uppercase;
  }
}

h3 {
  &.title {
    font-size: 1.6rem;
    color: $gray;
    font-weight: 400;
  }
}

h5 {
  &.title {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.8px;
  }
}

h6 {
  &.title {
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 500;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: justify;

  &.des {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: $gray-light;
  }
}

.red-color {
  color: $red;
}

.red-light-color {
  color: $red-light;
}

.white-color {
  color: #fff;
}

.gray-color {
  color: $gray;
}

.blue-color {
  color: $blue;
}

.gray-bg {
  background: $gray-light;
}

.blue-bg {
  background: $blue;
}

.purple-bg {
  background: $purple;
}

table {
  thead {
    td {
      transition: .3s ease;
      cursor: pointer;
    }
    td:hover {
      background: #fafafa;
    }
  }
}