.project-issues-type table td {
  padding: 1rem 2rem;
  border: 1px solid #d8dee9;
  font-size: 1.6rem; }
  .project-issues-type table td:nth-child(1) {
    min-width: 25rem;
    padding-left: 4rem; }
    .project-issues-type table td:nth-child(1) img {
      margin-right: 1rem;
      width: 20px;
      vertical-align: middle; }
  .project-issues-type table td:nth-child(2) {
    width: 100%; }
  .project-issues-type table td:nth-child(3) {
    min-width: 5rem;
    text-align: center;
    color: #e7806a; }

.project-issues-type table thead {
  background: #ebf0f8; }
  .project-issues-type table thead td {
    font-size: 1.8rem;
    color: #737a86;
    font-weight: 600; }

.project-issues-type table tbody td:nth-child(1) {
  color: #5f97ff; }
