@import '../../variables/variables.scss';

.project-issues-type {
  table {
    td {
      padding: 1rem 2rem;
      border: 1px solid #d8dee9;
      font-size: 1.6rem;

      &:nth-child(1) {
        min-width: 25rem;
        padding-left: 4rem;

        img {
          margin-right: 1rem;
          width: 20px;
          vertical-align: middle;
        }
      }

      &:nth-child(2) {
        width: 100%;
      }

      &:nth-child(3) {
        min-width: 5rem;
        text-align: center;
        color: $red-light;
      }
    }

    thead {
      background: #ebf0f8;

      td {
        font-size: 1.8rem;
        color: $gray;
        font-weight: 600;
      }
    }

    tbody {
      td {
        &:nth-child(1) {
          color: $blue;
        }
      }
    }
  }
}