@import '../../variables/variables.scss';
.nav__expand {
  width: 22rem;
  background: $gray-light;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 11rem;
  z-index: 9;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  &.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    .nav__arrow {
      -webkit-transform: translateX(25%) rotate(0deg);
              transform: translateX(25%) rotate(0deg);
    }
  }
  .nav__arrow {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    @media (max-width: 768px){
      line-height: 32px;
    }
    -webkit-transform: translateX(0) rotate(180deg);
            transform: translateX(0) rotate(180deg);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    &:hover {
      opacity: .8;
    }
    cursor: pointer;
    right: 0;
    top: 5.0rem;
  }

  .nav__current {
    display: -webkit-box;
    display: flex;
    position: relative;
    padding: 2rem 2.5rem;
    -webkit-box-align: center;
            align-items: center;
    img {
      margin-right: 10px;
    }
    .content {
      h2 {
        color: $red-light;
        font-size: 2rem;
        font-weight: 400;
      }
      p {
        color: $gray;
        font-weight: 400;
      }
    }
    i {
      position: absolute;
    font-size: 16px;
    left: 40%;
    top: 85%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: $gray;
    }
  } 

  .nav__logo {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: #41454b;
    padding: 3.2rem 2.5rem;
  }
  .line {
    margin: 0 1rem;
    border-bottom: 1px solid #fff;
    height: 2px;
    background: $gray;
    margin-bottom: 2rem;
  }
  .nav__menu {
    li {
      padding: 0 2rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      position: relative;
      margin-bottom: 1.5rem;
      &:before {
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: $blue;
        content: '';
        position: absolute;
        opacity: 0;
        -webkit-transition: .3s ease;
        transition: .3s ease;
      }
      &.active,
      &:hover {
        &:before {
          opacity: 1;
        }
        a {
          color: $blue-text;
        }
      }
      img {
        margin-right: 2.5rem;
        width: 2rem;
      }   
      a {
        padding: 1rem 0;
        font-size: 1.6rem;
        letter-spacing: .08rem;
        color: $gray;
      }
    }
  }
}