.nav__expand {
  width: 22rem;
  background: #d8dee9;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 11rem;
  z-index: 9;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .nav__expand.active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
    .nav__expand.active .nav__arrow {
      -webkit-transform: translateX(25%) rotate(0deg);
      transform: translateX(25%) rotate(0deg); }
  .nav__expand .nav__arrow {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    -webkit-transform: translateX(0) rotate(180deg);
    transform: translateX(0) rotate(180deg);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
    right: 0;
    top: 5.0rem; }
    @media (max-width: 768px) {
      .nav__expand .nav__arrow {
        line-height: 32px; } }
    .nav__expand .nav__arrow:hover {
      opacity: .8; }
  .nav__expand .nav__current {
    display: -webkit-box;
    display: flex;
    position: relative;
    padding: 2rem 2.5rem;
    -webkit-box-align: center;
    align-items: center; }
    .nav__expand .nav__current img {
      margin-right: 10px; }
    .nav__expand .nav__current .content h2 {
      color: #e7806a;
      font-size: 2rem;
      font-weight: 400; }
    .nav__expand .nav__current .content p {
      color: #737a86;
      font-weight: 400; }
    .nav__expand .nav__current i {
      position: absolute;
      font-size: 16px;
      left: 40%;
      top: 85%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #737a86; }
  .nav__expand .nav__logo {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: #41454b;
    padding: 3.2rem 2.5rem; }
  .nav__expand .line {
    margin: 0 1rem;
    border-bottom: 1px solid #fff;
    height: 2px;
    background: #737a86;
    margin-bottom: 2rem; }
  .nav__expand .nav__menu li {
    padding: 0 2rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem; }
    .nav__expand .nav__menu li:before {
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: #5f97ff;
      content: '';
      position: absolute;
      opacity: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .nav__expand .nav__menu li.active:before, .nav__expand .nav__menu li:hover:before {
      opacity: 1; }
    .nav__expand .nav__menu li.active a, .nav__expand .nav__menu li:hover a {
      color: #669bff; }
    .nav__expand .nav__menu li img {
      margin-right: 2.5rem;
      width: 2rem; }
    .nav__expand .nav__menu li a {
      padding: 1rem 0;
      font-size: 1.6rem;
      letter-spacing: .08rem;
      color: #737a86; }
