@import '../../variables/variables.scss';

.tempo__header {
  .calendar {
    color: $gray;
    font-size: 1.8rem;
    cursor: pointer;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-right: 2rem;
    text-align: center;

    &:hover span {
      opacity: 0.8;
    }

    span {
      display: inline-block;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      margin: 0 10px;
    }
  }

  .header__item.right {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .button {
      margin-right: 10px;
      padding: 0.6rem 2rem;
      color: $gray;
      font-weight: 600;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid $gray-light;

      button {
        margin-left: 10px;
      }
    }
  }
}

.table {
  overflow: scroll;
  width: 100%;
  height: 80rem;

  table {
    tr {
      &.gray {
        background: #fbfbfc;

        td {
          font-weight: 600;
        }
      }
    }

    td {
      font-size: 14px;
      padding: 1rem;
      text-align: center;
      min-width: 8rem;
      border: 1px solid #d8dee9;

      &:nth-child(1) {
        text-align: left;
        min-width: 20rem;
      }
    }

    thead {
      background: #ebf0f8;

      td {
        padding: 1rem 1rem;
        color: $gray;
        font-weight: 600;
      }
    }

    tbody {
      td {
        &.off {
          background: #ebf0f8;
        }
      }
    }
  }
}