.tempo__header .calendar {
  color: #737a86;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-right: 2rem;
  text-align: center; }
  .tempo__header .calendar:hover span {
    opacity: 0.8; }
  .tempo__header .calendar span {
    display: inline-block;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 10px; }

.tempo__header .header__item.right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .tempo__header .header__item.right .button {
    margin-right: 10px;
    padding: 0.6rem 2rem;
    color: #737a86;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #d8dee9; }
    .tempo__header .header__item.right .button button {
      margin-left: 10px; }

.table {
  overflow: scroll;
  width: 100%;
  height: 80rem; }
  .table table tr.gray {
    background: #fbfbfc; }
    .table table tr.gray td {
      font-weight: 600; }
  .table table td {
    font-size: 14px;
    padding: 1rem;
    text-align: center;
    min-width: 8rem;
    border: 1px solid #d8dee9; }
    .table table td:nth-child(1) {
      text-align: left;
      min-width: 20rem; }
  .table table thead {
    background: #ebf0f8; }
    .table table thead td {
      padding: 1rem 1rem;
      color: #737a86;
      font-weight: 600; }
  .table table tbody td.off {
    background: #ebf0f8; }
