@media (max-width: 991px) {
  .blacklog__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start !important;
    align-items: flex-start !important;

    .field {
      margin: 2rem 0;
    }
  }

  .blacklog__tabs {
    .tabs__heading {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start;
      align-items: flex-start;

      .tabs__item {
        margin-bottom: 1rem;
      }
    }
  }

  .project {
    padding: 0 !important;
  }

  .tabs__expand {
    .backlog {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start;
      align-items: flex-start;

      .backlog__item {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 512px) {
  .backlog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;

    .header__item {
      margin-bottom: 1rem;
    }
  }

  .tabs__heading {
    .tabs__item {
      button {
        font-size: 12px;
        padding: 8px;

        &:not(:last-child) {
          margin-right: .5rem !important;
        }
      }
    }
  }
}