@media (max-width: 991px) {
  .table__all__issues {
    overflow: scroll; }
    .table__all__issues td:nth-child(1), .table__all__issues td:nth-child(4) {
      min-width: 5.5rem; }
    .table__all__issues td:nth-child(2) {
      min-width: 20rem; }
    .table__all__issues td:nth-child(3) {
      min-width: 50rem; } }

@media (max-width: 512px) {
  .issues__header {
    flex-wrap: wrap; }
    .issues__header h1.title {
      margin-bottom: 1rem; } }
