@media (max-width: 991px) {
  .table__all__issues {
    overflow: scroll;

    td {

      &:nth-child(1),
      &:nth-child(4) {
        min-width: 5.5rem;
      }

      &:nth-child(2) {
        min-width: 20rem;
      }

      &:nth-child(3) {
        min-width: 50rem;
      }
    }
  }
}

@media (max-width: 512px) {
  .issues__header {
    flex-wrap: wrap;

    h1.title {
      margin-bottom: 1rem;
    }
  }
}