@import '../../variables/variables.scss';
button.btn {
  border-radius: 5px;
  border: 0;
  background: $red-light;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 1rem 2rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  &:hover {
    background: $red;
  }
  &.big {
    padding: 1.5rem 5rem;
    font-size: 16px;
    font-weight: 600;
  }
  &.transparent {
    color: $gray-text;
    background: transparent;
    border: 1px solid $gray-light;
    &.red {
      color: $red-light;
      background: transparent;
      border: 1px solid $red-light;
      &:hover {
        color: #fff;
        background: $red-light;
      }

    }
    &:hover {
      border: 1px solid $gray;
      background: $gray;
      color: #fff;
    }
  }
  &.blue {
    background: $blue;
    &:hover {
      background: $blue-dark;
    }
  }
  &.gray {
    color: #454545;
    background: $gray-light;
    &:hover {
      background: #454545;
      color: #fff;
    }
  }
  img {
    width: 10px;
    margin-left: 5px;
    vertical-align: middle;
  }
}