button.btn {
  border-radius: 5px;
  border: 0;
  background: #e7806a;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 1rem 2rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  button.btn:hover {
    background: #fe0000; }
  button.btn.big {
    padding: 1.5rem 5rem;
    font-size: 16px;
    font-weight: 600; }
  button.btn.transparent {
    color: #9fa9ba;
    background: transparent;
    border: 1px solid #d8dee9; }
    button.btn.transparent.red {
      color: #e7806a;
      background: transparent;
      border: 1px solid #e7806a; }
      button.btn.transparent.red:hover {
        color: #fff;
        background: #e7806a; }
    button.btn.transparent:hover {
      border: 1px solid #737a86;
      background: #737a86;
      color: #fff; }
  button.btn.blue {
    background: #5f97ff; }
    button.btn.blue:hover {
      background: #0059c6; }
  button.btn.gray {
    color: #454545;
    background: #d8dee9; }
    button.btn.gray:hover {
      background: #454545;
      color: #fff; }
  button.btn img {
    width: 10px;
    margin-left: 5px;
    vertical-align: middle; }
