@import '../../variables/variables.scss';

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 200;

  &.active {
    pointer-events: unset;

    .popup__overlay {
      opacity: 1;
    }
    .popup__item {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }
  }

  .popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0;
  }

  .popup__item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background: #fff;
    border-radius: 5px;
    padding: 5rem 6rem;
    max-height: 95vh;
    overflow: scroll;
    .input-field {
      margin-bottom: 3rem;
    }

    form {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 991px){
        .col-12 {
          padding: 0;
        }
      }
    }

    h2 {
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.29;
      letter-spacing: 1.4px;
      margin-bottom: 4rem;
    }
    h6 {
      font-size: 1.6rem;
      margin-bottom: 5px;
      font-weight: 400;
      color: $gray;
      span {
        padding-left: 5px;
        color: $red;
      }
    }
  }
}