.overlay-shadow {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
  pointer-events: none; }
  .overlay-shadow.active {
    pointer-events: unset;
    opacity: 1; }

.search {
  position: fixed;
  width: 100%;
  max-width: 75rem;
  background: #fff;
  z-index: 100;
  height: 100vh;
  padding: 4rem 6rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }
  .search.active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .search .close {
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    cursor: pointer; }
    .search .close:hover {
      opacity: 0.7; }
    .search .close img {
      width: 20px; }
  .search .field {
    width: 100%; }
  .search .field {
    padding: 0;
    border: 0;
    border-bottom: 2px solid #e7806a;
    margin-bottom: 5rem; }
    .search .field input {
      max-width: 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      height: 50px;
      font-size: 2.5rem; }
      .search .field input::-webkit-input-placeholder {
        font-style: normal; }
      .search .field input::-moz-placeholder {
        font-style: normal; }
      .search .field input:-ms-input-placeholder {
        font-style: normal; }
      .search .field input::-ms-input-placeholder {
        font-style: normal; }
      .search .field input::placeholder {
        font-style: normal; }
  .search h3.title {
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .search .recent__issues {
    margin-bottom: 4rem;
    padding: 0 10px; }
    .search .recent__issues .item {
      display: -webkit-box;
      display: flex;
      margin-bottom: 1rem; }
      .search .recent__issues .item:hover h6 {
        color: #e7806a; }
      .search .recent__issues .item img {
        width: 20px;
        height: 20px;
        margin-right: 2rem; }
      .search .recent__issues .item .content h6 {
        font-size: 1.6rem;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        width: 100%; }
  .search .recent__project {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap; }
    .search .recent__project .item {
      min-height: 9rem;
      margin-bottom: 2rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      max-width: calc(100% / 2 - 20px);
      -webkit-box-flex: 0;
      flex: 0 0 calc(100% / 2 - 20px);
      margin: 0 10px;
      padding: 2rem 3rem;
      border-radius: 5px;
      border: 1px solid #54c0eb;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      .search .recent__project .item:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); }
      .search .recent__project .item .icon {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background: #54c0eb;
        margin-right: 2rem; }
        .search .recent__project .item .icon img {
          width: 100%; }
      .search .recent__project .item h4 {
        font-size: 2rem;
        font-weight: 500; }
      .search .recent__project .item p {
        color: #737a86; }
