@import '../../variables/variables.scss';

.overlay-shadow {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
  pointer-events: none;
  &.active {
    pointer-events: unset;
    opacity: 1;
  }
}

.search {
  position: fixed;
  width: 100%;
  max-width: 75rem;
  background: #fff;
  z-index: 100;
  height: 100vh;
  padding: 4rem 6rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  &.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .close {
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 20px;
    }
  }

  .field {
    width: 100%;
  }

  .field {
    padding: 0;
    border: 0;
    border-bottom: 2px solid $red-light;
    margin-bottom: 5rem;

    input {
      max-width: 100%;
      -webkit-box-flex: 0;
              flex: 0 0 100%;
      height: 50px;
      font-size: 2.5rem;

      &::-webkit-input-placeholder {
        font-style: normal;
      }

      &::-moz-placeholder {
        font-style: normal;
      }

      &:-ms-input-placeholder {
        font-style: normal;
      }

      &::-ms-input-placeholder {
        font-style: normal;
      }

      &::placeholder {
        font-style: normal;
      }
    }
  }

  h3.title {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .recent__issues {
    margin-bottom: 4rem;
    padding: 0 10px;

    .item {
      display: -webkit-box;
      display: flex;
      margin-bottom: 1rem;

      &:hover {
        h6 {
          color: $red-light;
        }
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 2rem;
      }

      .content {
        h6 {
          font-size: 1.6rem;
          -webkit-transition: .3s ease;
          transition: .3s ease;
          width: 100%;
        }
      }
    }
  }

  .recent__project {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;

    .item {
      min-height: 9rem;
      margin-bottom: 2rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      max-width: calc(100% / 2 - 20px);
      -webkit-box-flex: 0;
              flex: 0 0 calc(100% / 2 - 20px);
      margin: 0 10px;
      padding: 2rem 3rem;
      border-radius: 5px;
      border: 1px solid $blue-light;
      -webkit-transition: .3s ease;
      transition: .3s ease;

      &:hover {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
      }

      .icon {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background: $blue-light;
        margin-right: 2rem;

        img {
          width: 100%;
        }
      }

      h4 {
        font-size: 2rem;
        font-weight: 500;
      }

      p {
        color: $gray;
      }
    }
  }
}