$gray-dark: #41454b;
$gray: #737a86;
$gray-text: #9fa9ba;
$gray-light: #d8dee9;

$red-light: #e7806a;
$red: #fe0000;

$blue-light: #54c0eb;
$blue: #5f97ff;
$blue-text: #669bff;
$blue-dark: #0059c6;

$purple: #662d91;

$green: #08a100;